{%- comment -%}
商品card组件:
传入参数（必需）：product
传入参数（可选）：
bgColor：背景颜色灰度800
hover_tag：产品图片是否有hover效果
card_hover：card是否有hover效果
desc_no: 是否没有产品描述，默认为false
title_pos_top: 产品名称位置是否在图片之上，默认为false
link_product_no: 是否没有产品页链接，默认为false
link_buy_no: 是否没有购买链接，默认为false
link_buy_btn: 购买链接是否为按钮形式，默认为false
sm_layout_2:手机端是否显示2列，默认显示1列
{%- endcomment -%}

{% if product.handle contains '-case-' %}
{% assign product_name = product.handle | remove: 'case-' | remove: 'for-' | replace: 'pixel-', 'pixel' | replace: 'oneplus-', 'oneplus' | remove: 'samsung-galaxy-' | remove: 'google-' | remove: 'huawei-' | replace: 'iphone-','i' | replace: 'pro-2020-and-2018', '2020' %}
{% else %}
{% assign product_name = product.handle | remove: 'magez-' | remove: 'air-' | remove: 'for-' | replace: 'oneplus-', 'oneplus' %}
{% endif %}

{% assign hover_effect = false %}
{% if hover_tag %}
{% assign hover_effect = true %}
{% endif %}

{% assign bgClass = null %}
{% if bgColor %}
{% assign bgClass = bgColor | prepend: 'bg-gray-' %}
{% endif %}

{% assign color_tag = false %}
{% unless product.handle == 'air-omni' %}
{% for option in product.options %}
{% if option == 'Color' %}
{% assign color_tag = true %}
{% break %}
{% endif %}
{% endfor %}
{% endunless %}

{% assign series_list = 'iPhone 13,iPhone 12,iPhone 11/11 Pro,iPhone Xs,Galaxy S21,Galaxy S20,Galaxy Note20,Galaxy Note10' | split: ',' %}
{% assign series_suffix = false %}
{% for item in series_list %}
{% if product.title contains item %}
{% assign series_suffix = true %}
{% break %}
{% endif %}
{% endfor %}

{% assign magez_2_list = 'magez-wallet-2,magez-wallet-2-pro,magez-car-mount-pro,magez-slider,magez-card-sleeve' | split: ',' %}
{% assign magez_1_list = 'magez-mount,magez-mount-qi,magez-mount-qi-desktop,magez-wireless-charging-kit' | split: ',' %}

{% assign magez_1_flag = false %}
{% assign magez_2_flag = false %}

{% if product.handle contains 'magez-case'  %}
{% unless product.handle contains 'for-ipad' %}
{% if product.handle contains 'iphone-13' or product.handle contains 'airpods-pro' %}
{% assign magez_2_flag = true %}
{% else %}
{% assign magez_1_flag = true %}
{% endif %}
{% endunless %}
{% else %}
{% for magez_2_handle in magez_2_list %}
{% if product.handle contains magez_2_handle %}
{% assign magez_2_flag = true %}
{% break %}
{% endif %}
{% endfor %}

{% for magez_1_handle in magez_1_list %}
{% if product.handle contains magez_1_handle %}
{% assign magez_1_flag = true %}
{% break %}
{% endif %}
{% endfor %}
{% endif %}

<div class="flex aligns-items-end items-end">
  <div class="w-1/2">
    <div class="w-full px-3 sm:px-0 sm:w-4/5 mb-16 sm:mb-0">
      <h3 class="{{titleSize}}">
        Style Up Your S22.
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}}">
        Our Fusion Weaving™ cases are selected to style up your Galaxy S22 Series. Choose from the various designs to fit your look - Overture, Rhapsody, and Concerto.
      </p>
    </div>
  </div>
  <div class="w-1/2">
    {%- comment -%}颜色卡片{%- endcomment -%}
    <div class="toggles-container-s22 flex justify-center -mx-1 my-6">
      {% if color_tag %}
      {% for color_option  in product.options_by_name['Color'].values %}
      <div data-color="{{color_option | handleize}}"
        class="toggle-item-s22 {% if forloop.first == true %}active {% endif %}rounded-full w-5 mx-1 p-0.5 border border-gray-850 border-solid box-content cursor-pointer">
        <img src="{{ color_option | handleize | append: '.svg' | asset_url }}" alt="{{ color_option }}"
          class="block width-full rounded-full">
      </div>
      {% endfor %}
      {% endif %}
    </div>
  </div>

</div>
<div class="w-full">
  <div
    class="images-container {% if sm_layout_2 %}w-full{% else %}w-11/12{% endif %} xl:w-5/6 mx-auto mb-7{% if between_tag %} lg:mb-0{% endif %}">
    {% if color_tag %}
    {% for color_option  in product.options_by_name['Color'].values %}
    {% assign color_prefix = color_option | handleize | prepend: '-' %}
    <div class="images-toggle {% if forloop.first == true %} active{% endif %}"
      color="{{ color_option | handleize }}">
      <!-- {% if hover_effect %}
      <div class="hover-pictures relative">
        {{ product_name | append: color_prefix | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
        <div class="absolute hover-image w-full top-0 left-0 opacity-0 transition-opacity">
          {{ product_name | append: color_prefix | prepend: 'card-' | append: '-hover.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
        </div>
      </div>
      {% else %} -->
      <!-- {{ product_name | append: color_prefix | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }} -->
      <div class="w-full mx-auto sm:w-1/2 grid grid-cols-7 gap-3 sm:gap-4 md:gap-6">
        <div class="row-span-2  col-span-5">
          {{ product_name | append: color_prefix | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
        </div>
        <div class="row-span-1 col-span-2">
          {{ product_name | append: color_prefix | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
        </div>
        <div class="row-span-1 col-span-2">
          {{ product_name | append: color_prefix | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
        </div>
      </div>
      <!-- {% endif %} -->
    </div>
    {% endfor %}
    <!-- {% else %} -->
    <!-- {% if hover_effect %}
    <div class="hover-pictures relatived">
      {{ product_name | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
      <div class="absolute hover-image w-full top-0 left-0 opacity-0 transition-opacity">
        {{ product_name | prepend: 'card-' | append: '-hover.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }}
      </div>
    </div>
    {% else %} -->
    <!-- {{ product_name | prepend: 'card-' | append: '.png' | asset_url | img_tag: product.title,'block max-w-full mx-auto' }} -->
    <!-- {% endif %} -->
    <!-- {% endif %} -->
  </div>
</div>
<style>
  /* 商品card组件样式 */
  .images-container+.toggles-container-s22  {
    height: 26px;
  }

  .images-container .images-toggle {
    display: none;
  }

  .images-container .images-toggle.active {
    display: block;
  }

  .images-container:hover .hover-image {
    opacity: 1;
  }

  .toggles-container-s22  .border.active {
    border-color: #fff;
  }

  .toggles-container-s22  .swiper-slide {
    width: auto;
  }
</style>

<script>
  $(function () {
    $(".toggles-container-s22").on('click', '.toggle-item-s22', function (e) {
      e.stopPropagation();
      e.preventDefault();
      console.log('e', e);
      var images_container = $('.images-container');
      $('.toggles-container-s22').find('.toggle-item-s22').removeClass('active')
      $(this).addClass('active');
      const color = $(this).data('color');
      console.log("color", color);
      images_container.find('.images-toggle[color = ' + color + ']').addClass('active').siblings().removeClass(
        'active');
    });

  })
</script>