<!-- magez-case -->
{% if base_handle contains 'magez-case-for-' %}
{% assign base_model = base_handle | remove: 'magez-case-for-'
      | remove: 'google-'
      | remove: 'samsung-galaxy-' | remove: 'huawei-'
      | replace: '-','' %}

{% if base_model == 'ipadpro' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Do I need to remove the case to use the Apple Magic Keyboard or Smart Keyboard Folio?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No, the MagEZ Case for iPad Pro and iPad Air 2020/2022 works seamlessly with the Magic Keyboard and Smart Keyboard
    Folio!
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can the Card Holder Clip be used with other third-party keyboards or iPad Pro cases?
  </h3>
  <p class="text-sm sm:text-base">
    A2. The Card Holder Clip can fit an iPad Pro, case, and keyboard with a combined measurement of between 12 and 18mm.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. How many cards can the Card Holder Clip holder?
  </h3>
  <p class="text-sm sm:text-base">
    A3. The Card Holder Clip can hold up to 2 Chip & Pin cards or 4 business cards.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. Can I use a screen protector with the iPad Pro Case?
  </h3>
  <p class="text-sm sm:text-base">
    A4. In order for the iPad Pro Case and Apple Keyboard to close seamlessly, you cannot use a screen protector with
    the iPad Pro Case.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q5. Is MagEZ Case for iPad Pro and iPad Air compatible with a screen protector?
  </h3>
  <p class="text-sm sm:text-base">
    A5. Using a screen protector may prevent the iPad and Magic Keyboard from closing fully.
  </p>
</div>
{% elsif base_model == 'iphone12' %}
<div class="content-variant" name="iphone_12">
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Are there magnets in the phone case, and will they affect my phone?
    </h3>
    <p class="text-sm sm:text-base">
      A1. There are no magnets in the phone case; only metal strips placed so as not to affect the wireless charging
      function of your phone.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Can I use the MagEZ Case with another wireless charger?
    </h3>
    <p class="text-sm sm:text-base">
      A2. You can use the MagEZ Case with any wireless charger, however, to take advantage of the magnetic function, use
      it with another <a class="pt-link" href="/collections/wireless-chargers">MagEZ magnetic charger</a>.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q3. Is the MagEZ Case compatible with Apple’s MagSafe System?
    </h3>
    <p class="text-sm sm:text-base">
      A3. Yes, the MagEZ Case for iPhone 12 Series is fully compatible with Apple’s MagSafe System and can
      fast-charge at 15W.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q4. Why is the black/blue twill pattern of the MagEZ Case different from that of the black/grey twill?
    </h3>
    <p class="text-sm sm:text-base">
      A4. The black/blue twill is the newest color/pattern we've made. Unlike the black/grey twill, the new color shows
      a more obvious gap between the warp and weft yarns. It's because the raw aramid fibers become more flexible after
      dyeing, and inevitably, the blue fibers keep shrinking during the weaving and polishing processes. Besides, blue
      is brighter than grey and contrasts more with black. That's why the weave lines on the black/blue case look
      different from that on the black/grey case. But rest assured that it's crafted through the same procedures and of
      the same standard.
    </p>
  </div>
</div>
<div class="content-variant hidden" name="card_sleeve">
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Do magnetic wallet phone cases demagnetize credit cards?
    </h3>
    <p class="text-sm sm:text-base">
      A1. Yes, there's a risk that bank cards that have magnetic strips on the back may be demagnetized. Chip and Pin
      cards are entirely safe to use in this wallet.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Will it work with any magnetic phone case?
    </h3>
    <p class="text-sm sm:text-base">
      A2. It may work, but since the card holder is specifically designed for our MagEZ Case, the magnetic attraction
      may
      not be adequate.
    </p>
  </div>
</div>
{% elsif base_model contains 'magsafe' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Are there magnets in the phone case, and will they affect my phone?
  </h3>
  <p class="text-sm sm:text-base">
    A1. There is a MagSafe compatible array of magnets inside the case, for a strong and seamless attachment to
    chargers and wallets.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I use the MagEZ Case with another wireless charger?
  </h3>
  <p class="text-sm sm:text-base">
    A2. You can use the MagEZ Case with any wireless charger, however, to take advantage of the magnetic function, use
    it with another <a class="pt-link" href="/collections/wireless-chargers">MagEZ magnetic charger</a> or a
    MagSafe charger.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Are your cases compatible with Qi wireless chargers?
  </h3>
  <p class="text-sm sm:text-base">
    A3. The MagEZ cases have been specifically designed to work with Qi-certified wireless chargers.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. What’s the difference between MagEZ cases and Air cases?
  </h3>
  <p class="text-sm sm:text-base">
    A4. MagEZ Case and MagEZ Case Pro are both designed with metal strips embedded in the material, allowing them to be
    used with the <a class="pt-link" href="/collections/wireless-chargers">MagEZ magnetic wireless chargers</a>
    and mounts.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q5. Is the MagEZ Case compatible with Apple’s MagSafe System?
  </h3>
  <p class="text-sm sm:text-base">
    A5. Yes, the MagEZ Case for iPhone 11 is fully compatible with Apple’s MagSafe System.
  </p>
</div>
{% elsif base_model == 'airpodspro' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is MagEZ Case for AirPods Pro compatible with the MagEZ Series?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Case for AirPods Pro is not compatible with MagEZ wireless chargers.
    However, it is compatible with all our Air Series wireless chargers.
  </p>
</div>
{% elsif base_model == 'airpods3' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is MagEZ Case for AirPods 3 compatible with the MagEZ Series?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Case for AirPods 3 can be charged with any Qi wireless chargers including PITAKA Air Series wireless chargers. You can also put the AirPods 3 on the MagEZ Slider to charge, but for other MagEZ series chargers, they can't hold the AirPods 3.
  </p>
</div>
{% else %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2"> 
    Q1. Are there magnets in the phone case, and will they affect my phone?
  </h3>
  <p class="text-sm sm:text-base">
    A1. There are no magnets in the phone case; only metal strips placed so as not to affect the wireless charging
    function of your phone.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I use the MagEZ Case with another wireless charger?
  </h3>
  {% if base_model == 's21' %}
  <p class="text-sm sm:text-base">
    A2. MagEZ Case for S21 and S21 Ultra are not compatible with MagEZ Mount Qi and MagEZ Case for S21 Ultra is not
    compatible with MagEZ Juice 2.
  </p>
  {% else %}
  <p class="text-sm sm:text-base">
    A2. You can use the MagEZ Case with any wireless charger, however, to take advantage of the magnetic function, use
    it with another MagEZ product. Please note, MagEZ Case for S20U/Note20 U/S21U/P40 Pro does not work with MagEZ Juice (2).
  </p>
  {% endif %}
</div>

{% endif %}

{% endif %}

{% if base_handle contains 'magez-case-2-for-' %}
{% assign base_model = base_handle | split: '-for-' | last | remove: 'samsung-galaxy-' | remove: '-' %}
  {% if base_model == 'iphone13' %}
    {% if base_handle contains 'fusion-weaving' %}
      <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q1. Are there magnets in the iPhone case, and will they affect my phone?
        </h3>
        <p class="text-sm sm:text-base">
          A1. Yes, MagEZ Case Pro 2 for iPhone 12, and MagEZ Case 2/New MagEZ Case Pro for iPhone 13 all 
          have magnets inside that mirror the MagSafe magnet array. Your iPhone 13 shouldn’t experience any problems; 
          however, Apple does warn that the magnets can cause problems with RFID chips and magnetic strips 
          in credit cards and security badges as well as pacemakers.
        </p>
      </div>
      <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q2. Are your cases compatible with Qi wireless chargers?
        </h3>
        <p class="text-sm sm:text-base">
          A2. All our cases, including Fusion Weaving MagEZ Case 2 can work with Qi-certified wireless chargers.
        </p>
      </div>

      <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q3. Why is the pattern of colored strands on the Fusion Weaving case different?
        </h3>
        <p class="text-sm sm:text-base">
          A3. Different colored <a href="/pages/material" class="text-cyan">aramid fiber</a> 
          strands have various ductility due to their characteristics. Thus, they show different shapes on the case. And even those tiny blocks of the same color are not exactly alike. The irregularity makes every case unique. In other words, what you’re holding is uniquely yours in the world.
        </p>
      </div>
    {% else %}
      <div class="content-variant" name="iphone_13">
        <div class="mb-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q1. Are there magnets in the iPhone case, and will they affect my phone?
          </h3>
          <p class="text-sm sm:text-base">
            A1. Yes, MagEZ Case Pro 2 for iPhone 12, and MagEZ Case 2/New MagEZ Case Pro for iPhone 13 all have magnets 
            inside that mirror the MagSafe magnet array. 
            Your iPhone 13 shouldn’t experience any problems; however, Apple does warn that the magnets can cause problems 
            with RFID chips and magnetic strips in credit cards and security badges as well as pacemakers.
          </p>
        </div>
        <div class="mb-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q2. Are your cases compatible with Qi wireless chargers?
          </h3>
          <p class="text-sm sm:text-base">
            A2. All our cases, including MagEZ Case 2 can work with Qi-certified wireless chargers.
          </p>
        </div>
      </div>
      <div class="content-variant hidden" name="card_sleeve">
        <div class="mb-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q1. Do magnetic wallet phone cases demagnetize credit cards?
          </h3>
          <p class="text-sm sm:text-base">
            A1. The MagEZ Sleeve 3 has a degaussing module that protects magnetic stripe cards. 
            The Sleeve 3 can hold both magnetic stripe and Chip & PIN cards.
          </p>
        </div>

        <div class="my-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q2. Will it work with any magnetic phone case?
          </h3>
          <p class="text-sm sm:text-base">
            A2. It may work, but since the card holder is specifically designed for the iPhone 12/13 and our MagSafe 
            compatible MagEZ Cases, the magnetic attraction may not be adequate.
          </p>
        </div>
        
        <div class="my-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q3. Do I need to remove the magnetic wallet before wireless charging?
          </h3>
          <p class="text-sm sm:text-base">
            A3. Yes. It’s recommended to remove the magnetic wallet from your mobile before you put it on the wireless charger.
          </p>
        </div>
        <div class="my-6">
          <h3 class="text-sm sm:text-base font-bold mb-2">
            Q4. Is the magnetic wallet waterproof?
          </h3>
          <p class="text-sm sm:text-base">
            A4. No.
          </p>
        </div>
      </div>
    {% endif %}  
  {% elsif  base_model == 's22' %}
    {% if base_handle contains 'fusion-weaving' %}
      <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q1. Can I use the Fusion Weaving MagEZ Case 2 with MagEZ wireless chargers? 
        </h3>
        <p class="text-sm sm:text-base">
          A1. Fusion Weaving MagEZ Case 2 for Galaxy S22 series is only compatible with 
          <a href="/collections/magez-system" class="text-cyan"  title="Learn More about Our MagEZ System">
            MagEZ<sup>&reg;</sup> 
            2.0<sup class="inline-block bg-gray-750 rounded-full w-4 h-4 text-center text-xs text-gray-400">?</sup>
          </a> 
          chargers and accessories such as the MagEZ Slider, MagEZ Battery Pack and 
          <a href="/products/magez-car-mount-pro">MagEZ Car Mount Pro</a>.
        </p>
	  </div>
	  <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q2. Will the magnets in the MagEZ Case 2 affect the S Pen stylus sensor?
        </h3>
        <p class="text-sm sm:text-base">
          A2. MagSafe magnets do not affect the use of the S Pen, screen scrolling, GPS or charging. 
        </p>
      </div>
	  <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q3. Is the case compatible with Qi wireless chargers?
        </h3>
        <p class="text-sm sm:text-base">
          A3. There're MagSafe magnets inside the MagEZ Case 2 for Galaxy S22 Series. Some Qi wireless chargers may not charge your phone with the case on. But for most up-to-date Qi wireless chargers, such as PITAKA's Air Omni and Air Essential, Samsung's Wireless Charger Pad 2018 and Wireless Charger Trio 2021, they can charge the S22 through the case. 
        </p>
      </div>
    {% else %}
      <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q1. Can I attach the MagEZ Case 2 to PITAKA MagEZ wireless chargers? 
        </h3>
        <p class="text-sm sm:text-base">
          A1. MagEZ Case 2 for Galaxy S22 series is only compatible with
          <a href="/collections/magez-system" class="text-cyan"  title="Learn More about Our MagEZ System">
            MagEZ<sup>&reg;</sup> 
            2.0<sup class="inline-block bg-gray-750 rounded-full w-4 h-4 text-center text-xs text-gray-400">?</sup>
          </a> 
          chargers and accessories such as the MagEZ Slider, MagEZ Battery Pack and 
          <a href="/products/magez-car-mount-pro">MagEZ Car Mount Pro</a>.
        </p>
      </div>
	  <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q2. Will the magnets in the MagEZ Case 2 affect the S Pen stylus sensor?
        </h3>
        <p class="text-sm sm:text-base">
          A2. MagSafe magnets do not affect the use of the S Pen, screen scrolling, GPS or charging. 
        </p>
      </div>
	  <div class="mb-6">
        <h3 class="text-sm sm:text-base font-bold mb-2">
          Q3. Is the case compatible with Qi wireless chargers?
        </h3>
        <p class="text-sm sm:text-base">
          A3. There're MagSafe magnets inside the MagEZ Case 2 for Galaxy S22 Series. Some Qi wireless chargers may not 
          charge your phone with the case on. But for most up-to-date Qi wireless chargers, such as PITAKA's Air Omni 
          and Air Essential, Samsung's Wireless Charger Pad 2018 and Wireless Charger Trio 2021, they can charge the S22 through the case. 
        </p>
      </div>
    {% endif %} 
  {% endif %}
{% endif %}
<!-- magez-case-pro -->
{% if base_handle contains 'magez-case-pro' %}
  {% if base_model == 'iphone 13' %}

  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Are there magnets in the iPhone case, and will they affect my phone?
    </h3>
    <p class="text-sm sm:text-base">
      A1. Yes, MagEZ Case Pro 2 for iPhone 12, and MagEZ Case 2/New MagEZ Case Pro for iPhone 13 all have magnets inside 
      that mirror the MagSafe magnet array. Your iPhone 13 shouldn’t experience any problems; however, Apple does warn that 
      the magnets can cause problems with RFID chips and magnetic strips in credit cards and security badges as well as pacemakers.
    </p>
  </div>
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Are your cases compatible with Qi wireless chargers?
    </h3>
    <p class="text-sm sm:text-base">
      A2. All our cases, including MagEZ Case 2 can work with Qi-certified wireless chargers.
    </p>
  </div>
  {% elsif base_handle contains 'iphone-12' %}
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Are there magnets in the iPhone case, and will they affect my phone?
    </h3>
    <p class="text-sm sm:text-base">
      A1. Yes, there are magnets and metal strips in the MagEZ Case Pro 2 to work with both MagSafe Chargers and
      PITAKA’s
      wireless charging system. Your iPhone 12 shouldn’t experience any problems; however, Apple does warn that the
      magnets can cause problems with RFID chips and magnetic strips in credit cards and security badges.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Can I use the iPhone case with other wireless chargers?
    </h3>
    <p class="text-sm sm:text-base">
      A2. You can use the iPhone 12 case with MagSafe and MagEZ magnetic wireless chargers, as well as all Qi-enabled
      wireless chargers.
    </p>
  </div>
  {% elsif base_handle contains 'ipad-mini-6' %}
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Can I use a screen protector with the iPad mini 6 Case?
    </h3>
    <p class="text-sm sm:text-base">
      A1. Yes. You can use a screen protector with the case.
    </p>
  </div>
  <div class="my-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Can I charge my iPad mini 6 on Apple MagSafe Charger through the case?
    </h3>
    <p class="text-sm sm:text-base">
      A2. With the case, you can only charge the tablet with the Pita!Flow Charger and MagEZ Charging Stand. 
      Without the case, you can charge it through the USB-C port. 
    </p>
  </div>
  {% else %}

  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q1. Are there magnets in the iPhone case, and will they affect my phone?
    </h3>
    <p class="text-sm sm:text-base">
      A1. Yes, MagEZ Case Pro 2 for iPhone 12, and MagEZ Case 2/New MagEZ Case Pro for iPhone 13 all have magnets inside 
      that mirror the MagSafe magnet array. Your iPhone 13 shouldn’t experience any problems; however, Apple does warn that 
      the magnets can cause problems with RFID chips and magnetic strips in credit cards and security badges as well as pacemakers.
    </p>
  </div>
  <div class="mb-6">
    <h3 class="text-sm sm:text-base font-bold mb-2">
      Q2. Are your cases compatible with Qi wireless chargers?
    </h3>
    <p class="text-sm sm:text-base">
      A2. All our cases, including MagEZ Case 2 can work with Qi-certified wireless chargers.
    </p>
  </div>
  {% endif %}
{% endif %}

<!-- magez-case-pro2 -->
{% if base_handle contains 'magez-case-pro2-for-' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Are there magnets in the iPhone case, and will they affect my phone?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, there are magnets and metal strips in the MagEZ Case Pro 2 to work with both MagSafe Chargers and
    PITAKA’s
    wireless charging system. Your iPhone 12 shouldn’t experience any problems; however, Apple does warn that the
    magnets can cause problems with RFID chips and magnetic strips in credit cards and security badges.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I use the iPhone case with other wireless chargers?
  </h3>
  <p class="text-sm sm:text-base">
    A2. You can use the iPhone 12 case with MagSafe and MagEZ magnetic wireless chargers, as well as all Qi-enabled
    wireless chargers.
  </p>
</div>
{% endif %}

<!-- air-case -->
{% if base_handle contains 'air-case-for-' %}
{% assign base_model = base_handle | split: '-for-' | last | remove: 'samsung-galaxy-' | replace: '-','' %}
{% case base_model %}
{% when 'applewatch' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. What’s the difference between standard aramid fiber and 600D aramid fiber?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Compared with standard aramid (1500D), <a href="/pages/600d" class="text-cyan">600D</a> has a much finer weave and more difficult to produce. 600D is also
    ultra-lightweight, smooth to the touch, and feels like air between your fingers. Due to the manufacturing process,
    600D also has an improved grip.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Does the Apple Watch Case work with a screen protector?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Yes, you can use a screen protector with a measurement of 0.2mm.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Is the Apple Watch Case compatible with Apple Watch 6 and Apple Watch SE?
  </h3>
  <p class="text-sm sm:text-base">
    A3. Yes, the Air Case for Apple Watch can be used with both Apple Watch 6 and SE.
  </p>
</div>
{% when 'applewatchseries7' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the Apple Watch Case work with a screen protector?
  </h3>
  <p class="text-sm sm:text-base">
    Yes, you can use a soft screen protector with a measurement of 0.1mm or thinner.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2.  Is the case compatible with Apple Watch 6?
  </h3>
  <p class="text-sm sm:text-base">
    A2. No. The case only works with Apple Watch 7.
  </p>
</div>
{% when 'iphone13' %}
  {% if base_handle contains 'fusion-weaving' %}
    <div class="mb-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q1. Can I use the Fusion Weaving Air Case with other PITAKA products?
      </h3>
      <p class="text-sm sm:text-base">
        A1. Although the Fusion Weaving Air Case does not have magnetic functionality, 
        this luxury phone case is wireless charging friendly and can be used with 
        all wireless chargers, including our Air Series.
      </p>
    </div>
    <div class="my-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q2. What is the difference between 600D aramid fiber and the 1500D that is used to 
        craft other PITAKA products?
      </h3>
      <p class="text-sm sm:text-base">
        A2. The finer weave of the <a href="/pages/600d" class="text-cyan">600D</a> means that the surface texture is more delicate and improves grip, 
        reducing the chance of dropping your device. As the manufacturing process is more complex, 
        PITAKA reserves 600D for its premium products, such as the (Fusion Weaving) Air Case and Apple Watch Air Case.
      </p>
    </div>
    <div class="my-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q3. Is the Fusion Weaving Air Case compatible with Apple’s MagSafe System?
      </h3>
      <p class="text-sm sm:text-base">
        A3. Fusion Weaving Air Case for iPhone 13 Series does not have MagSafe magnets embedded 
        but can attach through the case.
      </p>
    </div>
    <div class="mb-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q4. Why is the pattern of colored strands on the Fusion Weaving case different?
      </h3>
      <p class="text-sm sm:text-base">
        A4. Different colored <a href="/pages/material" class="text-cyan">aramid fiber</a> strands have various ductility due to their characteristics. Thus, they show different shapes on the case. And even those tiny blocks of the same color are not exactly alike. The irregularity makes every case unique. In other words, what you’re holding is uniquely yours in the world.
      </p>
    </div>
  {% else %}
    <div class="mb-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q1. Can I use the Air Case with other PITAKA products?
      </h3>
      <p class="text-sm sm:text-base">
        A1. Although the Air Case does not have magnetic functionality, this luxury phone case is wireless charging friendly
        and can be used with all wireless chargers, including our Air Series.
      </p>
    </div>
    <div class="my-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q2. What is the difference between 600D aramid fiber and the 1500D that is used to craft other PITAKA products?
      </h3>
      <p class="text-sm sm:text-base">
        A2. The finer weave of the <a href="/pages/600d" class="text-cyan">600D</a> means that the surface texture is more delicate and improves grip, reducing the
        chance of dropping your device. As the manufacturing process is more complex, PITAKA reserves 600D for its premium
        products, such as the Air Case and Apple Watch Air Case.
      </p>
    </div>
    <div class="my-6">
      <h3 class="text-sm sm:text-base font-bold mb-2">
        Q3. Is the Air Case compatible with Apple’s MagSafe System?
      </h3>
      <p class="text-sm sm:text-base">
        A3. Air Case for iPhone 13 Series does not have MagSafe magnets embedded but can attach through the case. 
      </p>
    </div>
  {% endif %}
{% else %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I use the Air Case with other PITAKA products?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Although the Air Case does not have the magnetic functionality of the MagEZ Cases, this luxury phone case is
    wireless charging friendly and can be used with all of our Air Series Wireless chargers including the Air Omni Lite,
    Air Essential and Air Tray.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. What is the difference between 600D Aramid Fiber and the 1500D that is used to craft other PITAKA products?
  </h3>
  <p class="text-sm sm:text-base">
    A2. The finer weave of the <a href="/pages/600d" class="text-cyan">600D</a> means that the surface texture is more delicate and improves grip, reducing the
    chance of dropping your device. As the manufacturing process is more complex, PITAKA reserves 600D for its premium
    products, such as the Air Case and Apple Watch Air Case.
  </p>
</div>

{% if base_model == 'iphone12' %}
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Is the Air Case compatible with Apple’s MagSafe System?
  </h3>
  <p class="text-sm sm:text-base">
    A3. Yes, the Air Case for iPhone 12 Series is fully compatible with Apple’s MagSafe System and can fast-charge
    at 15W.
  </p>
</div>
{% endif %}

{% endcase %}
{% endif %}

{% case base_handle %}
{% when 'air-pal' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is the Air Pal Case compatible with the MagEZ Series?
  </h3>
  <p class="text-sm sm:text-base">
    A1. When the metal clip is attached to the case, the Air Pal can be magnetically attached to the right-hand side
    (non-wireless charging) of the MagEZ Bar.
  </p>
</div>

{% when 'air-pal-mini-for-airpods-pro' or 'air-pal-mini' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is the Air Pal Mini Case compatible with the MagEZ Series?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The Air Pal Mini doesn’t have metal plates inside the case so it is not compatible with the MagEZ wireless
    chargers. However, it is compatible with all our
    <a href="/collections/lifestyle-gear" class="pt-link">Air Series wireless chargers</a>.
  </p>
</div>

{% when 'air-omni' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I use the power adapter for the Air Quad to charge Air Omni?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No. Air Omni and Air Quad use different types of power adapter connector. Air Omni is more powerful, with a
    power input of 15V/4.3A, while Air Quad has 15V/3.5A.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Is the Apple Watch charger compatible with Samsung Galaxy Watch?
  </h3>
  <p class="text-sm sm:text-base">
    A2. No. The Air Omni watch charging module is only for the Apple Watch. However, you can charge your Samsung Galaxy
    Watch via the USB port on the Air Omni.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Can I adjust the height of the convertible charging connector? Does it support devices in cases?
  </h3>
  <p class="text-sm sm:text-base">
    A3. The convertible Lightning/USB-C connector raises when unfolding the support stand. The height is 7.5mm and not
    adjustable. However. it does support devices with cases that are not too thick, such as phones using the MagEZ
    Case/Air Case and iPads with the Apple iPad Smart Cover.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. Does Air Omni support dual voltage 100V-240V?
  </h3>
  <p class="text-sm sm:text-base">
    A4. The power adapter for Air Omni supports dual voltage 100V-240V. You can use it in any country as long as you
    have the correct type of power supply. No voltage converter is needed.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q5. Will a 12.9 inch iPad fit, and will it be sturdy?
  </h3>
  <p class="text-sm sm:text-base">
    A5. A 12.9 inch iPad fits and will be sturdy with the support of the stand. It should not topple unless a large
    force pushes against it.
  </p>
</div>

{% when 'air-omni-lite' %}
{%- comment -%}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How do I install the Apple Watch charger?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Watch the video below for instructions on how to install your Apple Watch charger. If you have any problems,
    please contact us at <a href="mailto:support@ipitaka.com">support@ipitaka.com</a>.
  </p>

  <video loop muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
    x5-video-orientation="portraint" preload="none" autoplay style="object-fit:contain" class="lazyload">
    <source src="{{ 'faqs-omni-lite-v1.mp4' | asset_url }}" type="video/mp4">
    <source src="{{ 'faqs-omni-lite-v1.webm' | asset_url }}" type="video/webm">
  </video>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. My Apple Watch charger will not stay in the upright position, what’s the problem?
  </h3>
  <p class="text-sm sm:text-base">
    A2. The Apple Watch charging cable is probably pulled too tight. Follow the video from the time code below to
    install the Apple Watch charger correctly.
  </p>
  <video loop muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
    x5-video-orientation="portraint" preload="none" autoplay style="object-fit:contain" class="lazyload">
    <source src="{{ 'faqs-omni-lite-v2.mp4' | asset_url }}" type="video/mp4">
    <source src="{{ 'faqs-omni-lite-v2.webm' | asset_url }}" type="video/webm">
</div>
</video>
{%- endcomment -%}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I use the power adapter for the Air Quad to charge Air Omni Lite?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No. Air Omni Lite and Air Quad use different types of power adapter connector. Air Omni Lite is more powerful,
    with a power input of 15V/4.3A, while Air Quad has 15V/3.5A.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Is the Apple Watch charging module compatible with Samsung Galaxy Watch?
  </h3>
  <p class="text-sm sm:text-base">
    A2. No. The Air Omni Lite watch charging module is only for the Apple Watch. However, you can charge your Samsung
    Galaxy Watch via the USB port on the Air Omni Lite.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Can I adjust the height of the convertible charging connector? Does it support devices in cases?
  </h3>
  <p class="text-sm sm:text-base">
    A3. The convertible Lightning/USB-C connector raises when unfolding the support stand. The height is 7.5mm and not
    adjustable. However. it does support devices with cases that are not too thick, such as cell phones using the MagEZ
    Case/Air Case and iPads with the Apple iPad Smart Cover.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. Does Air Omni Lite support dual voltage 100V-240V?
  </h3>
  <p class="text-sm sm:text-base">
    A4. The power adapter for Air Omni Lite supports dual voltage 100V-240V. You can use it in any country as long as
    you have the correct type of power supply. No voltage converter is needed.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q5. Will a 12.9 inch iPad fit, and will it be sturdy?
  </h3>
  <p class="text-sm sm:text-base">
    A5. A 12.9 inch iPad fits and will be sturdy with the support of the stand. It should not topple unless a large
    force pushes against it.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q6. Can I wireless charge any phone?
  </h3>
  <p class="text-sm sm:text-base">
    A6. Yes, you can wireless charge any Qi-enabled smartphone. When using a case, the maximum thickness that will allow
    for
    wireless charging is 1mm. Due to the magnet array in the iPhone 12 Series, the phone's wireless coil needs to be
    positioned centrally on the Air Omni Lite charging pad.
  </p>
</div>

{% when 'magez-juice' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Do magnetic phone holders affect wireless charging?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The small magnets PITAKA uses for the MagEZ Series are carefully placed to ensure there is no interference with
    the wireless function of your mobile.
  </p>
  <p class="text-sm sm:text-base pt-margin-top-mini">
    You can learn more about
    <a class="pt-link" target="_blank" href="/blogs/news/its-true-a-magnetic-car-mount-will-not-damage-your-smartphone">
      how magnets affect (or don’t affect) your cellphone
    </a>.
  </p>
</div>

{% when 'magez-juice-2' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Do magnetic phone holders affect wireless charging?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The small magnets PITAKA uses for the MagEZ Series are carefully placed to make sure there is no interference
    with the wireless function of your mobile.
  </p>
  <p class="text-sm sm:text-base pt-margin-top-mini">
    You can learn more about
    <a class="pt-link" target="_blank" href="/blogs/news/its-true-a-magnetic-car-mount-will-not-damage-your-smartphone">
      how magnets affect (or don’t affect) your cellphone
    </a>.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Does MagEZ Juice 2 work with the iPhone 12?
  </h3>
  <p class="text-sm sm:text-base">
    A2. You can use the MagEZ Juice 2 to charge your iPhone 12 mini, 12, 12 Pro, and 12 Pro Max using a MagEZ Case.
    MagEZ
    Juice 2 magnetically attaches to the iPhone 12 mini using a MagEZ Case, but due to the phone’s small size, it cannot
    slide out of the charging dock with the battery attached (needs to be removed from the dock separately).
  </p>
</div>

{% when 'air-essential' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I wireless charge my iPhone or Samsung device?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, the Air Essential can charge any Qi-certified compatible device including iPhone, Samsung, and AirPods.
  </p>
</div>

{% when 'air-tray' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I wireless charge my iPhone or Samsung device?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, the Air Tray can charge any Qi-certified compatible device including iPhone, Samsung, and AirPods.
  </p>
</div>

{% when 'magez-mount-qi' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can you use a magnetic car mount with wireless charging?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Designed with an integrated wireless charging pad, our magnetic car mount allows you to charge your device while
    driving. Although we use small magnets in all our MagEZ Series products, they are carefully placed not to affect the
    wireless charging function.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I wirelessly charge my iPhone or Android device using the magnetic phone mount?
  </h3>
  <p class="text-sm sm:text-base">
    A2. As long as your mobile is Qi-enabled, you can wirelessly charge it using the MagEZ Mount Qi and a MagEZ Case.
    Each case is specially designed with metal strips and attaches magnetically to the MagEZ Mount Qi and other MagEZ
    mounts.
  </p>
</div>

{% when 'magez-mount-qi-desktop' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I wirelessly charge my iPhone or Android device using the magnetic phone mount?
  </h3>
  <p class="text-sm sm:text-base">
    A1. As long as your mobile is Qi-certified, you can wirelessly charge it using the MagEZ Mount Qi Desktop and a
    MagEZ Case. Each case is specially designed with metal strips and attaches magnetically to the MagEZ Mount Qi
    Desktop and other MagEZ mounts.
  </p>
</div>

{% when 'magez-mount' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the MagEZ Mount have wireless charging functionality?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Mount is a magnetic mount that can hold your MagEZ Case or Wallet.
    Check out the <a href="/products/magez-mount-qi" class="text-cyan">MagEZ Mount Qi</a> for
    in-car wireless charging.
  </p>
</div>

{% when 'magez-car-mount-pro' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I wirelessly charge my iPhone or Android device using the MagEZ Car Mount Pro?
  </h3>
  <p class="text-sm sm:text-base">
    A1. At the moment, MagEZ Car Mount Pro is only compatible with MagSafe compatible cases, iPhone 12, 
    and iPhone 13. You can attach your iPhone 12 and iPhone 13 to the car mount and charge, 
    but for more stable, safe charging, use it together with a MagSafe case.
    <span class="block mt-1">If you're using an iPhone 13, use a MagEZ Case 2 or New MagEZ Case Pro.</span>
    <span class="block mt-1">
      If you're using an iPhone 12, use an Apple MagSafe case, or use the phone with 
      the <a href="/products/magez-mount-qi" class="text-cyan">MagEZ Mount Qi</a> and MagEZ Case/MagEZ Case Pro 2.
    </span>
  </p>
</div>
{% when 'magez-car-mount-lite' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the MagEZ Car Mount Lite have wireless charging functionality?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Car Mount Lite is a MagSafe compatible mount that holds your iPhone 12/13 or phones with MagSafe cases. Check out the <a href="/products/magez-car-mount-pro" class="pt-link">MagEZ Car Mount Pro</a> for in-car wireless charging.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2.  Does the MagEZ Car Mount Lite work with MagEZ Case and MagEZ Case Pro?
  </h3>
  <p class="text-sm sm:text-base">
    A2. No. The car mount is not compatible with 
    <a href="/collections/magez-system" class="text-cyan"  title="Learn More about Our MagEZ System">
      MagEZ<sup>&reg;</sup> 
      1.0<sup class="inline-block bg-gray-750 rounded-full w-4 h-4 text-center text-xs text-gray-400">?</sup>
    </a> 
    cases.
  </p>
</div>
{% when 'power-dongle-for-apple-watch' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can the PowerDongle charge other smartwatches?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No, PowerDongle can only charge Apple Watches.
  </p>
</div>

{% when 'tempered-glass' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can the tempered glass for iPhone XS also be applied to the iPhone X?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, as the screen size on both phones is the same, the tempered glass fits the iPhone X as well as iPhone XS.
  </p>
</div>

{% when 'c-to-c-charging-cable' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. At what speed does the cable charge?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The cable can charge up to 60W of power using USB-C PD, although speeds will depend on your charging adapter and
    device.
  </p>
</div>

{%- comment -%}
{% when 'magez-card-sleeve' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Do magnetic wallet phone cases demagnetize credit cards?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, there's a risk that bank cards that have magnetic strips on the back may be demagnetized. Chip and Pin
    cards are entirely safe to use in this wallet.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Will it work with any magnetic phone case?
  </h3>
  <p class="text-sm sm:text-base">
    A2. It may work, but since the card holder is specifically designed for our MagEZ Case, the magnetic attraction may
    not be adequate.
  </p>
</div>
{%- endcomment -%}
{% when 'magez-card-sleeve' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the magnetic wallet demagnetize credit cards?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Sleeve 2 has a degaussing module that protects magnetic stripe cards. The Sleeve 2 can hold both
    magnetic stripe and Chip & PIN cards.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Will it work with any magnetic phone case?
  </h3>
  <p class="text-sm sm:text-base">
    A2. It may work, but since the card holder is specifically designed for the iPhone 12 and our MagEZ Cases, the
    magnetic attraction may not be adequate.
  </p>
</div>

{% when 'magez-card-sleeve-3' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the magnetic wallet demagnetize credit cards?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Sleeve 3 has a degaussing module that protects magnetic stripe cards. The Sleeve 3 can hold both magnetic stripe and Chip & PIN cards.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Will it work with any magnetic phone case?
  </h3>
  <p class="text-sm sm:text-base">
    A2. It may work, but since the card holder is specifically designed for the iPhone 12/13 and our MagSafe compatible MagEZ Cases, the magnetic attraction may not be adequate.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Do I need to remove the magnetic wallet before wireless charging?
  </h3>
  <p class="text-sm sm:text-base">
    A3. Yes. It’s recommended to remove the magnetic wallet from your mobile before you put it on the wireless charger.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. Is the magnetic wallet waterproof?
  </h3>
  <p class="text-sm sm:text-base">
    A4. No. 
  </p> 
</div>

{% when 'carbon-fiber-watch-band' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How do I adjust the size of the wristband?
  </h3>
  <p class="text-sm sm:text-base">
    A1. To change the watch size, please read the Quick Guide included with your band.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Will the magnetic Apple Watch band affect my smartwatch?
  </h3>
  <p class="text-sm sm:text-base">
    A2. The magnets are only in the strap connector and so should not affect the workings of the Apple Watch.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. How to change the Apple Watch band bracelet?
  </h3>
  <p class="text-sm sm:text-base">
    Q3. The link band attaches to your Apple Watch as other straps, but please follow the Quick Guide or video for more
    information.
  </p>
</div>
<div class="my-6">
  <video loop controls muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
    x5-video-orientation="portraint" preload="none" autoplay style="object-fit:contain" class="width-100 lazyload">
    <source src="{{ 'faqs-watch-band-v1.mp4' | asset_url }}" type="video/mp4">
    <source src="{{ 'faqs-watch-band-v1.webm' | asset_url }}" type="video/webm">
  </video>
</div>

{% when 'magez-wallet-ue' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How many cards can the standard carbon fiber wallet hold?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The standard PITAKA MagEZ Wallet UE holds 6 cards, but additional layers can be purchased to store coins, keys,
    and other small items.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. What is degaussing?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Degaussing is the process of de-magnetizing an item in order to erase data. It is commonly used to erase data
    from computer hard-drives.
  </p>
</div>

{% when 'magez-wallet' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How many cards can the standard carbon fiber wallet hold?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The standard PITAKA MagEZ Wallet holds 6 cards, but additional layers can be purchased to store coins, keys, and
    other small items.
  </p>
</div>

{% when 'magez-wallet-2' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How many cards can the MagEZ Wallet 2 hold?
  </h3>
  <p class="text-sm sm:text-base">
    A1. MagEZ Wallet 2 holds 2 chip & PIN cards, but additional layers can be purchased to store magnetic strip cards,
    coins, keys, and other small items.
  </p>
</div>

{% when 'magez-wallet-2-pro' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. How many cards can the MagEZ Wallet 2 Pro hold?
  </h3>
  <p class="text-sm sm:text-base">
    A1. MagEZ Wallet 2 Pro holds 2 chip & PIN cards, and 2 magnetic strip cards, but additional layers can be purchased
    to store more cards, coins, keys, and other small items.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. What is degaussing?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Degaussing is the process of demagnetizing to erase data. It is commonly used to erase data from computer hard
    drives. When a bank card with a magnetic strip, hotel keycard, or other electronic keycard is placed near a magnetic
    field, it may damage the card so it cannot be read by a machine.
  </p>
</div>

{% when 'magez-tech-kit' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is the MagEZ Tech Kit compatible with other MagEZ Wallets?
  </h3>
  <p class="text-sm sm:text-base">
    Q2. The MagEZ Tech Kit is compatible with all MagEZ Wallet and MagEZ Wallet 2 Series modules but is not compatible
    with MagEZ Wallet UE.
  </p>
</div>

<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. How many cards can be stored in the Tech Kit?
  </h3>
  <p class="text-sm sm:text-base">
    A2. The Tech Kit holds one Chip & PIN card - but additional modules can be attached magnetically, such as the MagEZ
    Wallet 2 and Wallet 2 Pro.
  </p>
</div>

{% when 'magez-digital-travel-kit' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is the Digital Travel Kit compatible with other MagEZ Wallets?
  </h3>
  <p class="text-sm sm:text-base">
    A1. The MagEZ Digital Travel Kit is compatible with MagEZ Wallet and all layers but is not compatible with MagEZ
    Wallet UE.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. How many cards can be stored in the Digital Travel Wallet?
  </h3>
  <p class="text-sm sm:text-base">
    A2. In total, the Digital Travel Wallet holds up to three Chip & PIN cards - two in the extra layer, and another on
    the back of the cover.
    <a href="/products/magez-wallet?variant=37554073043116" class="pt-link">Additional extra layers </a>
    can also be purchased.
  </p>
</div>

{% when 'magez-power-bank' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Is the MagEZ Power Bank compatible with other MagEZ Wallets?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, the MagEZ Power Bank is compatible with MagEZ Wallet and all layers but is not compatible with MagEZ Wallet
    UE. It can also be attached to the MagEZ Digital Travel Kit.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. What kind of power adapter can I use to charge the MagEZ Power Bank?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Please use reliable power adapters of DC 5V to charge the power bank.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. How often should I charge the power bank if I don't use it?
  </h3>
  <p class="text-sm sm:text-base">
    A3. To keep the power bank in good condition, please charge it at least every three months.
  </p>
</div>

{% when 'magez-bar' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I use any phone case with the MagEZ Bar?
  </h3>
  <p class="text-sm sm:text-base">
    A1. You can use any phone case (with a Qi-enabled phone) by adding one of the metal plates stickers provided.
  </p>
</div>
{% when 'magez-wireless-charging-kit' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can you use a magnetic car mount with wireless charging?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Our magnetic car phone charger allows you to charge your device while driving. Although we use small magnets in
    all our MagEZ Series products, they are placed not to affect the wireless charging function.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I wirelessly charge my iPhone or Android device using the magnetic car phone charger?
  </h3>
  <p class="text-sm sm:text-base">
    A2. As long as your mobile is Qi-enabled, you can wirelessly charge it using the MagEZ Mount Qi and a MagEZ Case.
    Each PITAKA case is specially designed with metal strips and attaches magnetically to the MagEZ Mount Qi and other
    MagEZ wireless chargers.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q3. Are there magnets in the phone case, and will they affect my phone?
  </h3>
  <p class="text-sm sm:text-base">
    A3. There are no magnets in the phone case; only metal strips are placed inside not to affect your phone's wireless
    charging function.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q4. Can I use the MagEZ Case with another wireless charger?
  </h3>
  <p class="text-sm sm:text-base">
    A4. You can use the MagEZ Case with any wireless charger. However, to take advantage of the magnetic function, use
    it with another <a class="pt-link" href="/collections/wireless-chargers">MagEZ magnetic charger</a>.
  </p>
</div>

{% when 'magez-folio' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I attach an Apple Pencil?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, the Apple Pencil attaches and charges as normal.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Is it easy to remove? For example, I like to switch often between a Folio and Magic Keyboard.
  </h3>
  <p class="text-sm sm:text-base">
    A2. Yes, the magnetic attachment allows it to be removed easily, with or without the MagEZ Case 2 attached.
  </p>
</div>

{% when 'magez-charging-stand' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1.Does the magnetic charging stand charge other iPads or tablets except for the iPad mini 6? 
  </h3>
  <p class="text-sm sm:text-base">
    A1. No, the magnetic charging function is only for the iPad mini 6 with the MagEZ Case Pro.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I charge my iPad and smartphone at the same time? 
  </h3>
  <p class="text-sm sm:text-base">
    A2. Yes, you can charge your iPad mini 6 and Qi-enabled device simultaneously
  </p>
</div>

{% when 'magez-stand' or 'magez-stand-marble-version' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Does the MagEZ Stand{% if base_handle contains 'marble' %} (Marble Version){% endif %} wireless charge my tablet?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No, the wireless charging function is only for Qi-enabled smartphones and earbuds.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I attach my Samsung Galaxy Tab?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Yes, you can attach a Galaxy Tab using the magnetic sticker.
  </p>
</div>

{% when 'magez-case-2-for-ipad-pro-2021' or 'magez-case-2-for-ipad-pro-2020-and-2018' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Do I need to remove the case to use the Apple Magic Keyboard?
  </h3>
  <p class="text-sm sm:text-base">
    A1. No, the MagEZ Case 2 for iPad Pro works seamlessly with the Magic Keyboard!
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. Can I use a screen protector with the iPad Pro Case?
  </h3>
  <p class="text-sm sm:text-base">
    A2. You can use a screen protector with the case. However, for the iPad Pro Case and Apple Keyboard to close
    seamlessly, the screen protector cannot be thicker than 0.12mm.
  </p>
</div>

{% when 'magez-slider' %}
<div class="mb-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q1. Can I use the MagEZ Juice (2) power bank on the MagEZ Slider Dock?
  </h3>
  <p class="text-sm sm:text-base">
    A1. Yes, you can slide the MagEZ Juice power bank in to the MagEZ Slider Dock to start charging.
  </p>
</div>
<div class="my-6">
  <h3 class="text-sm sm:text-base font-bold mb-2">
    Q2. What’s the sound when the power pack attaches to and detaches from the phone?
  </h3>
  <p class="text-sm sm:text-base">
    A2. Actually, that’s our design “dynamic magnets”, which means the magnets inside the device are not fixed. 
    They will be attached only when the device detects magnetic forces. Through this design, 
    the power pack safely charges phones, MagSafe or not. You will hear the mechanical sound the moment when the device attaches to your phone, 
    which tells you that the device is well attached and aligned.
  </p>
</div>

{% endcase %}

<div class="my-6">
  <p class="text-sm sm:text-base">
    For more FAQs, please visit our
    <a class="pt-link" target="_blank" href="https://faq.ipitaka.com/en">
      FAQ Center
    </a>.
  </p>
</div>