{% assign wClass = 'w-full laptop:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_9 = 'w-full laptop:w-11/12 lg:w-10/12 xl:w-9/12 max-w-screen-xl mx-auto' %}

<div class="swiper-container hero-slider w-full h-screen">
  <div class="swiper-wrapper">
    {%- comment -%}
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-1/2 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h3 class="text-base sm:text-lg xl:text-xl font-normal">
            Spring is in the air.
          </h3>
          <h1 class="text-xl sm:text-2xl xl:text-3xl my-6 sm:my-8 xl:my-12 font-bold">
            Warm up with a few new things <br class="hidden sm:block">
            for the season.
          </h1>
          <p class="text-base sm:text-lg font-bold mb-8">
            Ends 29 Mar.
          </p>
          <a href="/pages/pitaka-spring-sale-2022?utm_source=banner&utm_medium=euhome&utm_campaign=Spring-Sale" class="inline-block hover:opacity-100">
            <button class="greenBtn text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-spring-sale-2022.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-spring-sale-2022-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-spring-sale-2022-s.webp' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-9/10 xs:w-4/5 lg:w-3/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-3xl xs:text-4xl sm:text-5xl lg:text-7xl mb-5 font-bold">
            WE<br>
            CHOOSE<br>
            LOVE.<br>
            #NOWAR
          </h1>

          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-8 max-w-md">
            PITAKA will donate 10% of sales during the #nowar and #peace campaign period to the UNHCR.
          </p>

          <h3 class="swiper-no-swiping text-2s xs:text-sm sm:text-base mb-4 font-bold">
            Campaign period is from March 17 to 31.
          </h3>

          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            Every contribution to make the world a better place counts. 
          </p>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-nowar.jpg' | asset_url}}"
          media="(min-width: 1024px)">
        <source srcset="{{'index-slider-nowar-m.jpg' | asset_url}}"
          media="(min-width: 768px)">
        <img srcset="{{'index-slider-nowar-s.jpg' | asset_url}}"
          alt="We choose love.#nowar" class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-1/2 top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 text-center">
          <h3 class="text-5xl md:text-7xl font-bold  text-center mb-4">
            PITAKA<span class="text-green-standard">re.</span>
          </h3>
          <h3 class="text-xl md:text-2xl font-semibold  text-center mb-12">
            We Care for Our Planet
          </h3>
          <a href="/pages/protect-our-planet" class="inline-block hover:opacity-100">
            <button class="recycle_btn text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-protect-our-planet.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-protect-our-planet-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-protect-our-planet-s.webp' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 laptop:pt-24 xl:pt-28 bottom-15 laptop:left-1/2 laptop:-translate-x-1/2 laptop:text-center">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-2 font-bold">
            MagEZ Case Pro <br class="block laptop:hidden">
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm laptop:mx-auto">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/collections/magez-case-pro-for-ipad-mini-6-signup" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-1.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-1-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-preload-1-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    {%- endcomment -%}
  
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case Pro<br>
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/collections/magez-case-pro-for-ipad-mini-6" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-7/8 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold text-black">
            Air Case for<br>
            <span class="text-xl xs:text-2xl sm:text-3xl">
              Samsung&nbsp;Galaxy&nbsp;S22&nbsp;Series
            </span>
          </h1>

          <p class="swiper-no-swiping text-sm sm:text-base text-black mb-8 max-w-sm">
            Adds style and protection without ruining the aesthetics of the slim S22.
          </p>

          <a href="/products/air-case-for-samsung-galaxy-s22" class="inline-block hover:opacity-100">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-aircase-s22.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-aircase-s22-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-aircase-s22-s.webp' | asset_url}}"
          alt="Air Case for Samsung Galaxy S22 Series" class="block w-full h-full object-cover">
      </picture>
    </div>
   
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-xl sm:text-2xl xl:text-3xl font-bold mb-5">
            Fusion&nbsp;Weaving&nbsp;MagEZ&nbsp;Case&nbsp;2<br>
            For&nbsp;Samsung&nbsp;Galaxy&nbsp;S22&nbsp;Series
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            The MagSafe-compatible case easily styles up your new phone to the next level.
          </p>
          <div class="flex mt-6">
            <a href="/products/fusion-weaving-magez-case-2-for-samsung-galaxy-s22"
            class="inline-block hover:opacity-100">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
                Shop Now
              </button>
            </a>
            <a href="/collections/pitaka-cases-for-samsung-galaxy-s22" class="inline-block hover:opacity-100 ml-6">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-transparent hover:bg-white text-cyan ring-cyan hover:ring-white ring-inset ring-2">
                Learn More
              </button>
            </a>
          </div>
          
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-fusion-weaving-magezcase2-s22.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-fusion-weaving-magezcase2-s22-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-fusion-weaving-magezcase2-s22-s.webp' | asset_url}}"
          alt="Fusion Weaving MagEZ Case 2 for Samsung Galaxy S22 Series" class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="w-full laptop:w-10/12 lg:w-9/12 max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-3 sm:mb-4 font-bold">
            MagEZ Slider
          </h1>
          <p class="swiper-no-swiping text-base sm:text-lg md:text-xl mb-6 sm:mb-10">
            Slide, Charge, Always Ready to Go
          </p>
          <p class="swiper-no-swiping text-sm sm:text-base mb-8 max-w-sm">
            An upgraded version of MagEZ Juice but more versatile and powerful.
          </p>
          <a href="/products/magez-slider?utm_source=banner&utm_medium=euhome&utm_campaign=Slide" class="inline-block hover:opacity-100">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-magez-slider.jpg' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-magez-slider-m.jpg' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-magez-slider-s.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover">
      </picture>
    </div>  
    
    {%comment%}
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 laptop:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl font-bold mb-8">
            Style. Protection.<br>
            MagSafe capability.<br>
            We have it for you.
          </h1>
          
          <p class="swiper-no-swiping text-sm sm:text-base max-w-xs text-gray-400 mb-12">
            Three different types of aramid fiber cases for Galaxy S22 Series.
          </p>
          <div class="flex">
            <a href="/products/magez-case-2-for-samsung-galaxy-s22" class="inline-block hover:opacity-100">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
                Shop Now
              </button>
            </a>
            <a href="/collections/pitaka-cases-for-samsung-galaxy-s22" class="inline-block hover:opacity-100 ml-6">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-transparent hover:bg-white text-cyan ring-cyan hover:ring-white ring-inset ring-2">
                Learn More
              </button>
            </a>
          </div>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-cases-s22-signup.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-cases-s22-signup-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-cases-s22-signup-s.webp' | asset_url}}"
          alt="MagEZ Case 2 for Samsung Galaxy S22 Series" class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold ">
            Air Case for <br>
            Apple Watch Series 7
          </h1>

          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-4 max-w-sm">
            Crafted from aramid fiber to provide protection and style to your wrist.
          </p>

          <a href="/products/air-case-for-apple-watch-series-7" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-air-case-for-apple-watch-series-7.jpg' | asset_url}}"
          media="(min-width: 1024px)">
        <source srcset="{{'index-slider-air-case-for-apple-watch-series-7-m.jpg' | asset_url}}"
          media="(min-width: 768px)">
        <img srcset="{{'index-slider-air-case-for-apple-watch-series-7-s.jpg' | asset_url}}"
          alt="Air Case for Apple Watch Series 7" class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div
          class="absolute w-4/5 xl:w-2/5 bottom-20 md:h-full laptop:top-0 laptop:right-20 transform xl:right-0 xl:-translate-x-1/3 laptop:flex laptop:items-center laptop:justify-end">
          <div>
            <h1 class="text-2xl sm:text-3xl mb-6 font-bold">MagEZ Car Mount Pro</h1>
            <p class="text-sm sm:text-base mb-8 max-w-sm">
              Forget about the pot holes in the road.<Br>Your phone is safe.
            </p>

            <a href="/products/magez-car-mount-pro" class="inline-block hover:opacity-100">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
                Shop Now
              </button>
            </a>
          </div>
        </div>
      </div>

      <picture>
        <source srcset="{{'index-slider-magez-car-mount-pro.jpg?11' | asset_url }}" media="(min-width: 1025px)">
        <source srcset="{{'index-slider-magez-car-mount-pro-m.jpg' | asset_url }}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-magez-car-mount-pro-s.jpg' | asset_url }}" alt="MagEZ Car Mount Pro"
          class="block w-full h-full object-cover">
      </picture>
    </div>

    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 sm:w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case for AirPods 3
          </h1>

          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-4 max-w-sm">
            The minimalist aramid fiber case for AirPods 3 with MagSafe compatibility.
          </p>

          <a href="/products/magez-case-for-airpods-3" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-magez-case-for-airpods-3.jpg' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-magez-case-for-airpods-3-m.jpg' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-magez-case-for-airpods-3-s.jpg' | asset_url}}"
          alt="MagEZ Case for AirPods 3" class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold ">
            MagEZ Car Mount Lite
          </h1>

          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-4 max-w-sm">
            The MagSafe car mount offers style with exceptional stability while you drive.
          </p>

          <a href="/products/magez-car-mount-lite" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-magez-car-mount-lite.jpg' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-magez-car-mount-lite-m.jpg' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-magez-car-mount-lite-s.jpg' | asset_url}}" alt="MagEZ Car Mount Lite"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold ">
            The Story Behind<br>
            Fusion Weaving™
          </h1>
          <h3 class="swiper-no-swiping text-xl sm:text-2xl mb-8 sm:mb-12 font-normal">
            Classic. On the Next Level.
          </h3>
          
          <a href="/collections/fusion-weaving-series-storyline" class="inline-block hover:opacity-100">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-fusion-weaving-series.jpg' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-fusion-weaving-series-m.jpg' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-fusion-weaving-series-s.jpg' | asset_url}}" alt="The All New Fusion Weaving Series"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    {%- endcomment -%}

  </div>

  <div class="swiper-pagination px-10 laptop:px-16 lg:px-10 flex justify-end laptop:justify-center items-end"></div>

  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<style>
   .greenBtn{
    background-color: #6a8c77;
  }
  .greenBtn:hover{
    background-color: #fff;
    color: #000;
  }
  .hero-slider {
    --swiper-navigation-size: 30px;
  }

  .hero-slider .swiper-button-prev {
    left: 32px;
    display: none;
  }

  .hero-slider .swiper-button-next {
    right: 32px;
    display: none;
  }

  .hero-slider:hover .swiper-button-prev,
  .hero-slider:hover .swiper-button-next {
    display: block;
  }

  .swiper-container-horizontal.hero-slider>.swiper-pagination-bullets {
    bottom: 5rem;
    margin: 0 -0.5rem;
  }

  .hero-slider .swiper-custom-bullet {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #a9a9a9;
  }

  .hero-slider .swiper-custom-bullet:first-child {
    margin-left: 0;
  }

  .hero-slider .swiper-custom-bullet:last-child {
    margin-right: 0;
  }

  .hero-slider .swiper-custom-bullet.swiper-pagination-bullet-active {
    /* width: 18px;
      height: 18px;
      background: url({{'triggle_pixel.svg' | asset_url}}) no-repeat;
      transform: rotate(90deg);
      background-position: right; */
    background: #fff;
  }

  @media screen and (min-width:768px) {
    .hero-slider .swiper-custom-bullet {
      width: 12px;
      height: 12px;
    }
  }

  @media screen and (min-width:1024px) {
    .swiper-container-horizontal.hero-slider>.swiper-pagination-bullets {
      bottom: 2rem;
    }

    .hero-slider .bottom-20 {
      bottom: unset;
    }
  }

  @media screen and (min-width:1280px) {
    .hero-slider {
      --swiper-navigation-size: 48px;
    }
    
    .hero-slider .swiper-button-prev {
      left: 64px;
    }

    .hero-slider .swiper-button-next {
      right: 64px;
    }
  }
</style>
{% javascript %}
var autoplay_options = {
delay: 6000,
stopOnLastSlide: false,
disableOnInteraction: true,
}
var autoplay = window.innerWidth > 1024 ? autoplay_options : true;
var swiper_main = new Swiper('.hero-slider', {
autoplay: autoplay,
observer: true,
loop: true,
observeParents: true,
noSwiping : true,
pagination: {
el: '.swiper-pagination',
clickable: true,
bulletClass: 'swiper-custom-bullet',
renderBullet: function (index, className) {
return '<span class="' + className + '"></span>';
}
},
navigation: {
nextEl: '.swiper-button-next',
prevEl: '.swiper-button-prev',
},
// on: {
// transitionStart: function(){
// if(this.realIndex != 0){
// this.autoplay.start();
// }else{
// this.autoplay.stop();
// }
// }
// }
});

$(".hero-slider").hover(
function () {
swiper_main.autoplay.stop();
},
function () {
swiper_main.autoplay.start();
}
);

// var swiper_l = new Swiper("#swiper_sub_l", {
// autoplay: {
// delay: 4000,
// stopOnLastSlide: false,
// disableOnInteraction: true,
// },
// effect: 'fade',
// observer: true,
// observeParents: true,
// roundLengths: true,
// fadeEffect: {
// crossFade: true,
// }
// });
// setTimeout(() => {
// var swiper_r = new Swiper("#swiper_sub_r", {
// autoplay: {
// delay: 4000,
// stopOnLastSlide: false,
// disableOnInteraction: true,
// },
// effect: 'fade',
// observer: true,
// observeParents: true,
// roundLengths: true,
// fadeEffect: {
// crossFade: true,
// }
// });
// }, 2000)
{% endjavascript %}