{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}
<div class="section-default section0 relative">
    <picture>
      <source data-srcset="{{ 'product-magezcase-section0-s21.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section0-s21-m.jpg' | asset_url }}"
        alt="MagEZ Case for Samsung Galaxy S21" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default pt-section section1">
    <div class="pt-section-content text-center pt-margin-auto">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Magnetic Connectivity
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Easily attach your Galaxy S21+ to any of the
        <a href="/collections/wireless-chargers?t=home-office">MagEZ wireless chargers</a>
        for uninterrupted charging whether you’re on the road, or in the office.
      </p>
  
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-top-mini">
        *S21 & S21U can be used with MagEZ Mount Qi for Galaxy S21/S21 Ultra.
      </p>
  
    </div>
  
    <div id="trigger_sec"></div>
    <div class="pt-anim-container pt-flex text-center">
      <div class="pt-anim-pictures relative">
        <div id="trigger_line_1"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section1-qi-1.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-1">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section1-s21p.png' | asset_url }}"
            alt="MagEZ Case for Samsung Galaxy S21" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title-small">
            MagEZ Case for Galaxy S21+<br>With
            <a class="pt-link" href="/products/magez-mount-qi">MagEZ Mount Qi</a>
          </h3>
          <p class="pt-text-small">
            An in-car magnetic mount that wirelessly charges your S21+ while you're in the go.
          </p>
        </div>  
      </div>  
      <div class="pt-anim-pictures relative">
        <div id="trigger_line_2"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section1-qi-2.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-2">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section1-s21u.png' | asset_url }}"
            alt="MagEZ Case for Samsung Galaxy S21" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title-small">
            <span class="small">
              MagEZ Case for Galaxy S21 &amp; S21 Ultra<br>With MagEZ Mount Qi for Galaxy S21 &amp; S21U 
            </span>
          </h3>
          <p class="pt-text-small">
            Use the MagEZ Mount Qi with a specially designed adapter to wireless charge your S21 & S21 Ultra while you
            drive.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-default section2 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">Wireless Charging Friendly</h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        With its slim design and specifically placed metal strips the MagEZ Case works flawlessly with the S21 series’
        wireless charging function.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-magezcase-section2-s21.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section2-s21-m.jpg' | asset_url }}"
        alt="MagEZ Case for Samsung Galaxy S21" class="img-responsive lazyload width-100" />
    </picture>
  </div>
  
  <div class="section-default section3 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        A Textured Case Surface For Improved Grip
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
        Our unique vacuum-forming process creates a nonslip texture on the surface of the case that improves grip.
      </p>
      {% render 'link-button',link_url: "/pages/3d-grip", link_title:'Learn More About 3D Grip' %}
    </div>
  
    <picture>
      <source data-srcset="{{ 'product-magezcase-section3-s21.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section3-s21-m.jpg' | asset_url }}"
        alt="MagEZ Case for Samsung Galaxy S21" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section4 relative">
    <div class="pt-section-content absolute pt-position-centerY pt-position-right">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Robust and Light
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Made from durable aramid fiber, this slim,
        lightweight case offers protection against wear and tear without the bulk.
      </p>
    </div>
  
    <picture>
      <source data-srcset="{{ 'product-magezcase-section4-s21.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-magezcase-section4-s21-m.jpg' | asset_url }}"
        alt="MagEZ Case for Samsung Galaxy S21" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <style>
    .pt-section-content {
      max-width: 436px;
    }
  
    .pt-section-content.text-center {
      max-width: unset;
      width: 50%;
    }
  
    /* .section0 .pt-section-content {
      top: 10em;
    } */
  
    @media screen and (max-width:1600px) {
      .pt-section-content {
        max-width: 420px;
        width: 40%;
      }
  
      /* .section0 .pt-section-content {
        top: 7em;
      } */
    }
  
    @media screen and (max-width:1280px) {
      .pt-section-content {
        max-width: 385px;
      }
  
      /* .section0 .pt-section-content {
        top: 5em;
      } */
      .pt-section-content.text-center {
        width: 60%;
      }
    }
  
    @media screen and (max-width:768px) {
      .section-default {
        min-height: 147vw;
      }
  
      .pt-section-content {
        width: 100% !important;
        left: 0 !important;
        top: 10em;
        transform: none;
        text-align: center;
        padding: 0 20%;
        max-width: unset;
      }
  
      .pt-section-content.text-center {
        max-width: unset;
        width: 100%;
      }
    }
  
    @media screen and (max-width:414px) {
      .pt-section-content {
        padding: 0 10%;
        top: 3em;
      }
  
      /* .section0 .pt-section-content {
        top: 4em;
      } */
    }
  </style>
  
  <!-- anim-pictures -->
  <style>
    .pt-anim-container {
      justify-content: space-around;
      align-items: flex-end;
      flex-shrink: 0;
      margin-top: 5em;
    }
  
    .pt-anim-case {
      top: 0;
      right: 0;
    }
  
    .pt-anim-pictures {
      width: 335px;
      margin: 0 2em;
      flex-shrink: 0;
    }
  
    .pt-anim-pictures img {
      display: block;
    }
  
    .pt-anim-content {
      padding: 0 5%;
      min-width: 451px;
      margin-left: -58px;
    }
    @media screen and (max-width:1280px) {
      .pt-anim-content {
        min-width: 534px;
        margin-left: -99.5px;
      }
    }
  
    @media screen and (max-width:1280px) {
      .pt-anim-container {
        transform: scale(0.8);
      }
  
      .pt-anim-container {
        margin-top: 4em;
      }
  
      .pt-anim-content {
        min-width: 421px;
        margin-left: -43px;
      }
    }
  
    @media screen and (max-width:1024px) {
      .pt-anim-container {
        width: 100%;
      }
    }
  
    @media screen and (max-width:768px) {
      .pt-anim-container {
        flex-direction: column;
        align-items: center;
      }
  
      .pt-anim-pictures {
        margin: 5em 0 0;
      }
  
      .pt-anim-container {
        transform: scale(0.9);
      }
    }
  
    @media screen and (max-width:414px) {
      .pt-anim-content {
        min-width: 347px;
        margin-left: -6px;
      }
    }
  </style>
  
  {{ 'TweenMax.min.js' | asset_url | script_tag }}
  {{ 'ScrollMagic.js' | asset_url | script_tag }}
  {{ 'animation.gsap.min.js' | asset_url | script_tag }}
  
  <script>
    $(function () {
      // init controller
      var controller = new ScrollMagic.Controller();
  
      // build tween
      var tween_1 = TweenMax.to("#anim-case-1", 0.5, {
        x: -105,
        y: 30,
        ease: Linear.easeNone
      });
      var tween_2 = TweenMax.to("#anim-case-2", 0.5, {
        x: -110,
        y: 30,
        ease: Linear.easeNone
      });
      if (window.innerWidth > 768) {
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec",
            duration: 300,
            offset: -100,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec",
            duration: 300,
            offset: -100,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
  
      } else {
  
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_1",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_2",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
      }
    });
  </script>