{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}
<div class="section-default section0 relative bg-black">
    <div class="pt-section-content absolute pt-position-centerX">
      <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2 text-center font-upper">
        Seamless Style
      </h3>
    </div>
    <picture>
      <source data-srcset="{{ 'product-case-section0-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section0-iphone11-magsafe-m.jpg' | asset_url }}"
        alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default pt-section section1  bg-black">
    <div class="pt-section-content pt-margin-auto">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Magnetic Connectivity
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Attach the MagEZ Case for iPhone 11 to MagSafe and MagEZ accessories for a seamless charging experience.
      </p>
    </div>
  
    <div id="trigger_sec"></div>
    <div class="pt-anim-container pt-flex">
      <div class="pt-anim-pictures relative">
        <div id="trigger_line_1"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-attach-iphone11-juice.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-1">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-attach-iphone11-1.png' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 pt-margin-top-mini">
            MagEZ Juice 2
          </h3>
          <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
            Eliminate the need for cables and bulky power banks with this wireless charging stand and battery.
          </p>
        </div>
      </div>
  
      <div class="pt-anim-pictures relative">
        <div id="trigger_line_2"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-attach-iphone11-magsafe.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-2">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-attach-iphone11-2.png' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 pt-margin-top-mini">
            MagSafe Charger
          </h3>
          <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
            Conveniently charge with Apple's magnetic wireless charger.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-default section2  bg-black">
    <picture>
      <source data-srcset="{{ 'product-case-section2-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section2-iphone11-magsafe-m.jpg' | asset_url }}"
        alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive lazyload width-100" />
    </picture>
  </div>
  
  <div class="pt-section section3 pt-flex pt-flex-center pt-flex-between  bg-black">
    <div class="pt-section-content">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Keep Credit and Business Cards Handy
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Magnetically attach the MagEZ Card Sleeve to your iPhone 11 for easy access to your cards when you’re on the go.
      </p>
    </div>
    <div class="pt-section-picture">
      <picture class="width-100">
        <source data-srcset="{{ 'product-case-section3-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section3-iphone11-magsafe-m.jpg' | asset_url }}"
          alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
      </picture>
    </div>
  </div>
  
  <div class="pt-section section4 pt-flex pt-flex-center pt-flex-between  bg-black">
    <div class="pt-section-picture">
      <picture class="width-100">
        <source data-srcset="{{ 'product-case-section4-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section4-iphone11-magsafe-m.jpg' | asset_url }}"
          alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
      </picture>
    </div>
  
    <div class="pt-section-content">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Wireless Charging Friendly
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        MagEZ Case for iPhone 11 allows you to wireless charge using MagSafe,
        <a href="/collections/wireless-chargers" class="pt-link">MagEZ charger</a>, and Qi-charging pads.
      </p>
    </div>
  </div>
  
  <div class="pt-section section5 pt-flex pt-flex-center pt-flex-between  bg-black">
    <div class="pt-section-content">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Compatible with MagSafe
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
        With the magnet sticker for MagSafe, conveniently attach your iPhone 11 to any MagSafe Charger* or
        accessory.
      </p>
      <p class="pt-text-small text-cyan">*iPhone 11 will charge at 7.5W using the MagSafe charger.</p>
    </div>
  
    <div class="pt-section-picture">
      <picture class="width-100">
        <source data-srcset="{{ 'product-case-section5-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section5-iphone11-magsafe-m.jpg' | asset_url }}"
          alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
      </picture>
    </div>
  </div>
  
  <div class="section-default section6  bg-black">
    <picture>
      <source data-srcset="{{ 'product-case-section6-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section6-iphone11-magsafe-m.jpg' | asset_url }}"
        alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default pt-section section7 relative bg-black">
    <div class="toggle-btns absolute pt-position-centerY">
      <ul>
        <li data-color="bgt" class="active">
          {{ 'black-grey-twill.png' | asset_url | img_tag }}
        </li>
        <li data-color="bgp">
          {{ 'black-grey-plain.png' | asset_url | img_tag }}
        </li>
        <li data-color="brt">
          {{ 'black-red-twill.png' | asset_url | img_tag }}
        </li>
        <li data-color="brp">
          {{ 'black-red-plain.png' | asset_url | img_tag }}
        </li>
        <li data-color="bgoldt">
          {{ 'black-rosegold-twill.png' | asset_url | img_tag }}
        </li>
      </ul>
    </div>
  
    <div class="pt-section-container">
      {%- comment -%}
      <div class="active" id="bgt">
        <div class="pt-grid-picture">
          <picture>
            <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-1.jpg' | asset_url }}"
              media="(min-width: 769px)">
            <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-1-m.jpg' | asset_url }}"
              alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
          </picture>
        </div>
        <div class="pt-grid-picture">
          <picture>
            <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-2.jpg' | asset_url }}"
              media="(min-width: 769px)">
            <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-1-m.jpg' | asset_url }}"
              alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
          </picture>
        </div>
        <div class="pt-grid-picture">
          <picture>
            <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-3.jpg' | asset_url }}"
              media="(min-width: 769px)">
            <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-1-m.jpg' | asset_url }}"
              alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
          </picture>
        </div>
      </div>
      {%- endcomment -%}
      <div class="active" id="bgt">
        <picture>
          <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-1.jpg' | asset_url }}"
            media="(min-width: 769px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-1-m.jpg' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
        </picture>
      </div>
  
      <div id="bgp">
        <picture>
          <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-2.jpg' | asset_url }}"
            media="(min-width: 769px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-2-m.jpg' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
        </picture>
      </div>
      <div id="brt">
        <picture>
          <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-3.jpg' | asset_url }}"
            media="(min-width: 769px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-3-m.jpg' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
        </picture>
      </div>
      <div id="brp">
        <picture>
          <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-4.jpg' | asset_url }}"
            media="(min-width: 769px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-4-m.jpg' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
        </picture>
      </div>
      <div id="bgoldt">
        <picture>
          <source data-srcset="{{ 'product-case-section7-iphone11-magsafe-5.jpg' | asset_url }}"
            media="(min-width: 769px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section7-iphone11-magsafe-5-m.jpg' | asset_url }}"
            alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
        </picture>
      </div>
    </div>
  
  </div>
  
  <div class="section-default section8  bg-black">
    <picture>
      <source data-srcset="{{ 'product-case-section8-iphone11-magsafe.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-case-section8-iphone11-magsafe-m.jpg' | asset_url }}"
        alt="MagEZ Case for iPhone 11 (With MagSafe)" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <style>
    .section-default {
      min-height: 40vw;
    }
  
    .pt-section-content {
      max-width: 486px;
    }
  
    .pt-section .pt-section-content {
      width: 45%;
      padding-right: 5em;
      max-width: 586px;
    }
  
    .pt-section .pt-section-picture {
      width: 55%;
      padding-left: 5em;
    }
  
    .section1 .pt-section-content {
      text-align: center;
    }
  
    .section4 .pt-section-content {
      padding-left: 5em;
      padding-right: 0;
    }
  
    .section4 .pt-section-picture {
      padding-right: 5em;
      padding-left: 0;
    }
  
    .section3,
    .section4 {
      padding-bottom: 1em;
    }
  
    .section7 .pt-section-container>div {
      /* display: grid; */
      /* grid-template-columns: 50% 50%; */
      /* grid-row-gap: 18px; */
      /* grid-column-gap: 18px; */
      height: 0;
      /* opacity: 0; */
      overflow: hidden;
      transition: all .3s;
    }
  
    .section7 .pt-section-container>div.active {
      height: auto;
      /* opacity: 1; */
    }
  
    .section7 .pt-grid-picture {
      justify-items: stretch;
      align-items: stretch;
    }
  
    .section7 .pt-grid-picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  
    .section7 .pt-grid-picture:first-child {
      grid-row: 1 / 3;
    }
  
    .pt-anim-container {
      text-align: center;
      margin-top: 5em;
    }
  
    .toggle-btns {
      left: calc(10% + 2em);
      z-index: 10;
    }
  
    .toggle-btns li {
      margin: 1em 0;
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
    }
  
    .toggle-btns li.active {
      border: 4px solid #fff;
    }
  
    @media screen and (max-width:1600px) {
      .pt-section-content {
        max-width: 440px;
        width: 40%;
      }
  
      .pt-section {
        padding-left: 12%;
        padding-right: 12%;
      }
  
      .pt-section .pt-section-picture,
      .section4 .pt-section-picture {
        padding-left: 2em;
      }
  
      .section4 .pt-section-picture {
        padding-right: 2em;
        padding-left: 0;
      }
    }
  
    @media screen and (max-width:1280px) {
      .pt-section-content {
        max-width: 425px;
      }
  
      .pt-section {
        padding-left: 10%;
        padding-right: 10%;
      }
    }
  
    @media screen and (max-width:768px) {
      .pt-section-content,
      .pt-section .pt-section-content {
        width: 100% !important;
        left: 0 !important;
        top: 5em;
        transform: none;
        padding: 0 10% !important;
        max-width: unset;
      }
  
      .tab-container .pt-section{
        padding: 4em 0 0;
      }
  
      .pt-section .pt-section-content {
        order: 1;
      }
  
      .pt-section .pt-section-picture {
        margin-bottom: 3em;
        width: 100%;
        padding: 0;
        order: 1;
      }
  
      .section1 .pt-section-content {
        text-align: left;
      }
  
      .pt-anim-container{
        margin-top: 0;
      }
  
      .section3 .pt-section-content,
      .section5 .pt-section-content{
        order: 2;
      }
  
      .section3 {
        padding-top: 30px !important;
      }
  
      .section5 {
        padding-bottom: 4em !important;
      }
  
      .section7 {
        padding-top: 100px !important;
        background: #171719;
        margin: 30px;
      }
  
      .toggle-btns {
        transform: translateX(-50%);
        left: 50%;
        top: 30px;
      }
  
      .toggle-btns ul {
        display: flex;
      }
  
      .toggle-btns li {
        margin: 0 1em;
      }
    }
  
    @media screen and (max-width:414px) {
  
      .pt-section-content,
      .pt-section .pt-section-content {
        top: 3em;
      }
  
      .pt-anim-container{
        text-align: left;
      }
  
      .section3 {
        padding-top: 15px !important;
      }
  
      .section7{
        margin: 15px;
      }
  
      .pt-section .pt-section-picture {
        margin-bottom: 2em;
      }
  
      .toggle-btns li {
        width: 40px;
        height: 40px;
        margin: 0 10px;
      }
    }
  </style>
  
  <!-- anim-pictures -->
  <style>
    .pt-anim-container {
      justify-content: space-around;
      flex-shrink: 0;
    }
  
    .pt-anim-case {
      top: 0;
      right: 0;
    }
  
    .pt-anim-pictures {
      width: 500px;
      margin: 0 2em;
      flex-shrink: 0;
    }
  
    .pt-anim-pictures img {
      display: block;
    }
  
    .pt-anim-content {
      padding: 0 5%;
    }
  
    @media screen and (max-width:1280px) {
  
      .pt-anim-container {
        transform: scale(0.8);
      }
    }
  
    @media screen and (max-width:1024px) {
      .pt-anim-container {
        width: 100%;
      }
    }
  
    @media screen and (max-width:768px) {
      .pt-anim-container {
        flex-direction: column;
        align-items: center;
      }
  
      .pt-anim-pictures {
        margin: 5em 0 0;
      }
  
      .pt-anim-container {
        transform: scale(0.9);
        margin-top:  -5em;
      }
  
      .pt-anim-content {
        max-width: 100vw;
        margin: 4em auto 0;
      }
    }
  
    @media screen and (max-width:414px) {
      .pt-anim-container {
        transform: scale(0.8);
        margin-top: calc(-15% - 5em);
        margin-bottom: -15%;
      }
      .pt-anim-content{
        padding: 0;
      }
    }
  </style>
  
  {{ 'TweenMax.min.js' | asset_url | script_tag }}
  {{ 'ScrollMagic.js' | asset_url | script_tag }}
  {{ 'animation.gsap.min.js' | asset_url | script_tag }}
  
  <script>
    $(function () {
      // init controller
      var controller = new ScrollMagic.Controller();
  
      // build tween
      var tween_1 = TweenMax.to("#anim-case-1", 0.5, {
        x: -176,
        y: 50,
        ease: Linear.easeNone
      });
      var tween_2 = TweenMax.to("#anim-case-2", 0.5, {
        x: -189,
        y: 0,
        ease: Linear.easeNone
      });
      if (window.innerWidth > 768) {
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
  
      } else {
  
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_1",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_2",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
      }
  
      // toggle color
      $(".toggle-btns").on('click', 'li', function () {
        const color = $(this).data('color');
        $(this).addClass('active').siblings().removeClass('active');
        $(`#${color}`).addClass('active').siblings().removeClass('active');
      })
    });
  </script>