{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}
{% assign wClass_8 = 'w-full md:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto' %}
{% assign pdClass_x = 'px-3 sm:px-6 md:px-0' %}
<div class="section-default section0 relative">
  <div class="pt-section-content absolute pt-position-centerY">
    <h1 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      MagEZ Wallet 2
    </h1>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Slim down your wallet and lighten your everyday load.
    </p>
  </div>
  <picture>
    <source data-srcset="{{ 'product-section0-wallet2.jpg' | asset_url }}" media="(min-width: 769px)">
    <img src="{{ placeholder_gif }}" data-src="{{ 'product-section0-wallet2-m.jpg' | asset_url }}" alt="MagEZ Wallet 2"
      class="lazyload width-100 img-responsive">
  </picture>
</div>

<div class="section-default pt-section video-section">
  <div class="pt-section-content text-center pt-margin-auto pt-margin-bottom-large">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      Why MagEZ Wallet 2?
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      This compact, ultra-lightweight carbon fiber wallet magnetically snaps onto your phone, so you’ll always have
      convenient access to your cards. With a modular design, easily add more layers to hold extra cards and small
      accessories.
    </p>
  </div>
  <div class="{{wClass_8}} {{pdClass_x}}">
    {% render 'video-set' , name:'product-wallet2-video', no_webm: true %}
  </div>
  {%- comment -%}
  <picture>
    <source data-srcset="{{ 'product-wallet2-video-cover.jpg' | asset_url }}" media="(min-width: 769px)">
    <img src="{{ placeholder_gif }}" data-src="{{ 'product-wallet2-video-cover-m.jpg' | asset_url }}"
      alt="MagEZ Wallet 2" class="lazyload width-100 img-responsive">
  </picture>
  {%- endcomment -%}
</div>

<div class="section-default pt-section section1 pt-flex pt-flex-center">
  <div id="trigger_sec_1"></div>
  <div class="pt-anim-container">
    <div class="pt-anim-pictures relative">
      <div id="trigger_line_1"></div>
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section1-attach-casepro.png' | asset_url }}"
        class="lazyload" />
      <div class="pt-anim-item absolute" id="anim-item">
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-section1-attach-wallet2.png' | asset_url }}"
          alt="MagEZ Wallet 2" class="lazyload" />
      </div>
    </div>
  </div>

  <div class="pt-section-content">
  <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">MagSafe Case Compatible</h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
      Effortlessly attach to your MagEZ or MagSafe compatible case, such as 
      <a class="underline" href="/collections/magez-case-pro2-for-iphone-12">MagEZ Case Pro 2 for iPhone 12 series</a>, 
      <a class="underline" href="/collections/magez-case-2-for-iphone-13">MagEZ Case 2 for iPhone 13 series</a> and 
      <a class="underline" href="/collections/new-magez-case-pro-for-iphone-13">New MagEZ Case Pro for iPhone 13 series</a> 
      to keep your cards safe and close to hand.
    </p>

    <p class="text-sm mt-8">
      Work with MagEZ<sup>&reg;</sup> 2.0 System.
      <sup><a href="/collections/magez-system" title="Learn More about Our MagEZ System">
        <span class="inline-block bg-gray-750 rounded-full w-4 h-4 text-center text-xs text-gray-400">?</span>
      </a></sup>
    </p>
  </div>
</div>

<div class="section-default pt-section section2">
  <div class="pt-section-content text-center pt-margin-auto">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      Adjustable Modular Layers That Fit Your Needs
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Expand your wallet by stacking MagEZ Wallet* and Wallet 2 series modules to hold more cards,
      or small items such as coins and keys.
    </p>
    <div class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-top-small pt-hide-mini">
      <a href="javascript:;" data-target="#modal_picture" class="modal-toggle pt-link">
        Click to see how it works >>
      </a>
    </div>
    <div class="tab-contents pt-section-detail pt-margin-top-small pt-show-mini">
      <p class="pt-block text-cyan">
        Click below to customize.
      </p>
      <div class="tab-toggles pt-margin-top-medium">
        <div class="tab-toggle" data-target="#anim_kit_4">
          {{ 'product-section2-wallet2-toggle-1.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Extra Layer</button>
        </div>
        <div class="tab-toggle" data-target="#anim_kit_3">
          {{ 'product-section2-wallet2-toggle-2.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Money Clip</button>
        </div>
        <div class="tab-toggle" data-target="#anim_kit_2">
          {{ 'product-section2-wallet2-toggle-3.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Box Layer</button>
        </div>
      </div>
    </div>

  </div>
  <div class="pt-section-container pt-flex pt-flex-center pt-margin-top-medium">
    <div class="tab-pictures">
      <div id="trigger_sec_2"></div>
      <div class="pt-anim-container">
        <div class="pt-anim-pictures relative">
          <div class="pt-anim-piece absolute active" id="anim_kit_1">
            <img src="{{ 'product-section2-wallet2-1.png' | asset_url }}" alt="MagEZ Wallet 2">
          </div>
          <div class="pt-anim-piece absolute" id="anim_kit_2">
            <img src="{{ 'product-section2-wallet2-2.png' | asset_url }}" alt="MagEZ Wallet 2">
          </div>
          <div class="pt-anim-piece absolute" id="anim_kit_3">
            <img src="{{ 'product-section2-wallet2-3.png' | asset_url }}" alt="MagEZ Wallet 2">
          </div>
          <div class="pt-anim-piece absolute" id="anim_kit_4">
            <img src="{{ 'product-section2-wallet2-4.png' | asset_url }}" alt="MagEZ Wallet 2">
          </div>
          <div class="pt-anim-piece absolute active" id="anim_kit_5">
            <img src="{{ 'product-section2-wallet2-5.png' | asset_url }}" alt="MagEZ Wallet 2">
          </div>
        </div>
      </div>
    </div>
    <div class="tab-contents pt-section-detail pt-hide-mini">
      <p class="pt-block text-cyan">
        Click below to customize.
      </p>
      <div class="tab-toggles pt-margin-top-small pt-margin-bottom-small">
        <div class="tab-toggle" data-target="#anim_kit_4">
          {{ 'product-section2-wallet2-toggle-1.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Extra Layer</button>
        </div>
        <div class="tab-toggle" data-target="#anim_kit_3">
          {{ 'product-section2-wallet2-toggle-2.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Money Clip</button>
        </div>
        <div class="tab-toggle" data-target="#anim_kit_2">
          {{ 'product-section2-wallet2-toggle-3.png' | asset_url | img_tag }}
          <button class="tab-toggle-btn">Box Layer</button>
        </div>
      </div>
      <p class="color-grey">
        *Not compatible with <br>
        Wallet UE modules.
      </p>
    </div>
    <div class="tab-contents pt-section-detail text-center pt-show-mini">
      <div class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        <a href="javascript:;" data-target="#modal_picture" class="modal-toggle pt-link">
          Click to see how it works >>
        </a>
      </div>
      <p class="color-grey pt-margin-top-mini">
        *Not compatible with Wallet UE modules.
      </p>
    </div>
  </div>
</div>

<div class="section-default pt-section section3">
  <div class="pt-section-content pt-margin-auto pt-margin-bottom-large text-center">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      Fast, Easy Access to Cards
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Simply flick open the wallet with a single hand and slide out a card.
    </p>
  </div>
  <picture>
    <source data-srcset="{{ 'product-section3-wallet2.jpg' | asset_url }}" media="(min-width: 769px)">
    <img src="{{ placeholder_gif }}" data-src="{{ 'product-section3-wallet2-m.jpg' | asset_url }}" alt="MagEZ Wallet 2"
      class="lazyload width-100 img-responsive">
  </picture>
</div>

<div class="pt-section section4 pt-flex pt-flex-center">
  <div class="pt-section-content">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      RFID Blocking Keeps<br>
      Your Cards Safe
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      The tough carbon fiber material blocks RFID readers to prevent
      card skimming and ensures card data safety.
    </p>
  </div>
  <div class="pt-section-picture">
    <picture>
      <source data-srcset="{{ 'product-section4-wallet2.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section4-wallet2-m.jpg' | asset_url }}"
        alt="MagEZ Wallet 2" class="lazyload width-100 img-responsive">
    </picture>
  </div>
</div>

<div class="pt-section section5 pt-flex pt-flex-center">
  <div class="pt-section-content">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
      Lightweight, Durable & Protective
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Crafted from carbon fiber, MagEZ Wallet 2 is exceptionally lightweight and robust enough to last a lifetime, so
      you’ll never need another wallet. This ultra-slim wallet fits comfortably onto your phone or into a pocket.
    </p>
  </div>
  <div class="pt-section-picture">
    <picture>
      <source data-srcset="{{ 'product-section5-wallet2.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section5-wallet2-m.jpg' | asset_url }}"
        alt="MagEZ Wallet 2" class="lazyload width-100 img-responsive">
    </picture>
  </div>
</div>

<div class="section-default section6">
  <picture>
    <source data-srcset="{{ 'product-section6-wallet2.jpg' | asset_url }}" media="(min-width: 769px)">
    <img src="{{ placeholder_gif }}" data-src="{{ 'product-section6-wallet2-m.jpg' | asset_url }}" alt="MagEZ Wallet 2"
      class="lazyload width-100 img-responsive">
  </picture>
</div>

<div class="pt-section section7 pt-flex">
  <div class="pt-section-container items-center">
    {{ 'product-section7-wallet2-1.png' | asset_url | img_tag }}
    <h3 class="pt-section-title-small fw-700 pt-margin-top-medium">
      MagEZ Case Pro 2<br>
      for iPhone 12 Series
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      A military-grade iPhone 12 case.
    </p>
    {% render 'link-button',link_url: "/products/magez-case-pro2-for-iphone-12", link_title:'Shop Now' %}
  </div>

  <div class="pt-section-container items-center">
    {{ 'product-section7-wallet2-2.png' | asset_url | img_tag }}
    <h3 class="pt-section-title-small fw-700 pt-margin-top-medium">
      MagEZ Wallet 2 Pro
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Store your magnetic strip cards<br>
      on your mobile.
    </p>
    {% render 'link-button',link_url: "/products/magez-wallet-2-pro", link_title:'Shop Now' %}
  </div>

  <div class="pt-section-container items-center">
    {{ 'product-section7-wallet2-3.png' | asset_url | img_tag }}
    <h3 class="pt-section-title-small fw-700 pt-margin-top-medium">
      MagEZ Digital Travel Kit
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      Essential electronic accessories<br>
      in one compact kit.
    </p>
    {% render 'link-button',link_url: "/products/magez-digital-travel-kit", link_title:'Shop Now' %}
  </div>
</div>

<div id="modal_picture" class="pt-modal-container">
  <div class="modal-background">
    <div class="pt-modal-dialog relative">
      <button class="pt-modal-close absolute" type="button">
        <span class="icon icon-x"></span>
      </button>
      <picture>
        <source data-srcset="{{ 'product-section1-wallet2-modal.jpg' | asset_url }}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-section1-wallet2-modal-m.jpg' | asset_url }}"
          alt="MagEZ Wallet 2" class="img-responsive width-100 lazyload">
      </picture>
    </div>
  </div>
</div>

<style>
  .pt-modal-container .pt-modal-dialog {
    max-width: 1660px;
  }

  .pt-section {
    padding-top: 8em;
    padding-bottom: 8em;
  }

  .pt-section-content {
    max-width: 450px;
  }

  .pt-section-content.text-center {
    width: 42%;
    max-width: unset;
  }

  .pt-section-picture {
    width: 40%;
  }

  .section0 .pt-section-content {
    left: calc(10% + 188px);
  }

  .pt-section.section4 {
    padding-top: 10em;
    padding-bottom: 10em;
  }

  .pt-section.section5 {
    padding-top: 0;
    padding-bottom: 10em;
    flex-direction: row-reverse;
  }

  .section2 {
    background-color: #0C0C0D;
  }

  .section2 .tab-pictures {
    max-width: 65%;
    display: flex;
    justify-content: center;
  }

  .section2 .tab-contents {
    width: 230px;
    flex-shrink: 0;
  }

  .section4 .pt-section-content {
    padding-right: 5em;
  }

  .section4 .pt-section-picture {
    padding-left: 5em;
  }

  .section5 .pt-section-content {
    padding-left: 5em;
  }

  .section5 .pt-section-picture {
    padding-right: 5em;
  }

  .section-default {
    min-height: 40vw;
  }

  .pt-section.video-section,
  .pt-section.section3 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .pt-section.section7 {
    justify-content: center;
    padding-top: 10em;
    padding-bottom: 2em;
    margin-left: -3em;
    margin-right: -3em;
  }

  .section7 .pt-section-container {
    width: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end; */
    justify-content: space-between;
    padding: 0 3em;
  }

  .section7 .pt-section-container img {
    max-width: 300px;
    width: 85%;
    margin: 0 auto;
  }

  /* .section7 .pt-section-container h3 {
      height: 66px;
      display: flex;
      justify-content: center;
      align-items: center;
    } */

  .section7 .pt-section-container .shop-btn {
    margin-top: 2em;
  }

  .tab-toggle {
    display: flex;
    align-items: center;
    padding: 1em 0;
  }

  .tab-toggle button {
    background-color: #242426;
    color: #fff;
    padding: .5em 1em;
    transition: all .1s;
    opacity: 0.45;
    margin-left: 2em;
  }

  .tab-toggle.active button,
  .tab-toggle:hover button {
    opacity: 1;
  }

  .section2 .pt-anim-pictures>div {
    opacity: 0;
  }

  .section2 .pt-anim-pictures>div.active {
    opacity: 1;
  }

  @media screen and (min-width:1960px) {

    .pt-section-content {
      max-width: 500px;
    }

    .pt-section-content.text-center {
      width: 45%;
    }
  }

  @media screen and (max-width:1600px) {
    .pt-section {
      padding-top: 6em;
      padding-bottom: 6em;
    }

    .pt-section-content {
      max-width: 406px;
    }

    .pt-section-content.text-center {
      width: 50%;
    }

    .section0 .pt-section-content {
      left: 15%;
    }

    .pt-section.section4 {
      padding-top: 8em;
      padding-bottom: 8em;
    }

    .pt-section.section5 {
      padding-bottom: 8em;
    }

    .section4 .pt-section-content {
      padding-right: 2em;
    }

    .section5 .pt-section-content {
      padding-left: 2em;
    }

    .section2 .tab-contents {
      padding-left: 20px;
    }

    .pt-section.section7 {
      padding-top: 8em;
      margin-left: -2em;
      margin-right: -2em;
    }

    .section7 .pt-section-container {
      padding: 0 2em;
      width: 32%;
      min-width: 403px;
    }

    /* .section7 .pt-section-container h3 {
        height: 50px;
      } */
  }

  @media screen and (max-width:1280px) {
    .pt-section {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .pt-section-content {
      max-width: 380px;
    }

    .section0 .pt-section-content {
      left: 10%;
    }

    .section4 .pt-section-content {
      padding-right: 1em;
    }

    .section5 .pt-section-content {
      padding-left: 1em;
    }

    .section7 .pt-section-container {
      min-width: 380px;
    }
  }

  @media screen and (max-width: 1024px) {
    .pt-section-content {
      max-width: 325px;
    }

    .section0 .pt-section-content {
      max-width: 380px;
    }

    .pt-section-content.text-center {
      width: 76%;
    }

    .section1 .pt-section-content {
      margin-left: -4em;
    }

    .section2 .tab-contents {
      padding-left: 30px;
    }

    .section7 {
      margin: 0 -1em;
    }

    .section7 .pt-section-container {
      min-width: 256px;
      padding: 0 1em;
    }

    /* .section7 .pt-section-container p {
        height: 42px;
      } */
  }

  @media screen and (max-width:768px) {
    .pt-section {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .pt-section .pt-section-content,
    .pt-section-content {
      text-align: center;
      width: 100vw;
      padding: 0 20%;
      top: 0;
      left: 0;
      transform: none;
      max-width: unset !important;
    }

    .pt-section-content.text-center {
      width: 100vw;
      padding: 0 14%;
      margin-left: 0;
      margin-right: 0;
    }

    .section0 .pt-section-content {
      top: 15%;
      left: 0;
    }

    .section1 {
      flex-direction: column-reverse;
    }

    .section1 .pt-section-content {
      margin: 0 0 4em;
    }

    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .section2 .tab-contents {
      padding: 0;
      width: 100%;
      transform: translateY(15px);
    }

    .section2 .tab-pictures {
      margin-bottom: -10%;
    }

    .tab-toggles {
      display: flex;
      justify-content: space-evenly;
    }

    .tab-toggle {
      flex-direction: column;
      background: #171719;
      padding: 2em;
    }

    .tab-toggle button {
      background: none;
      margin-top: 1em;
      margin-left: 0;
      padding: 0;
      text-align: center;
    }

    .pt-section.section4 {
      padding-left: 0;
      padding-right: 0;
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .pt-section.section5 {
      flex-direction: column;
      padding: 0;
    }

    .section4 .pt-section-picture,
    .section5 .pt-section-picture {
      padding: 0;
      margin-top: 3em;
    }

    .pt-section.section7 {
      padding: 5em 10% 0;
    }

    .section7 .pt-section-container {
      width: 100%;
      padding: 0;
      margin-bottom: 5em;
    }

    /* .section7 .pt-section-container h3,
      .section7 .pt-section-container p {
        height: auto;
      } */
  }

  @media screen and (max-width:414px) {
    .pt-section {
      padding-top: 3em;
      padding-bottom: 3em;
    }

    .pt-section .pt-section-content,
    .pt-section-content {
      padding: 0 7%;
    }

    .section0 .pt-section-content {
      top: 10%;
      padding: 0 12%;
    }

    .pt-section.section4 {
      padding-top: 4em;
      padding-bottom: 4em;
    }

    .section4 .pt-section-picture,
    .section5 .pt-section-picture {
      margin-top: 2em;
    }

    .section7 .pt-section-container {
      margin-bottom: 4em;
    }

    .tab-toggles {
      justify-content: space-between;
    }

    .tab-toggle {
      padding: 1em;
    }

    .section2 .tab-pictures {
      margin-bottom: 0;
    }
  }
</style>

<script>
  $(function () {
    $(".modal-toggle").click(function (e) {
      e.stopPropagation();
      var modal = $(this).data("target");
      $(modal).addClass('open').removeClass('out');

      $(document).click(function (e) {
        var _con = $(modal);
        if (!_con.is(e.target) && _con.has(e.target).length === 0) {
          _con.removeClass('open').addClass('out');
        }
      })
    })
    $(".pt-modal-close").click(function (e) {
      e.stopPropagation();
      $(this).parents('.pt-modal-container').removeClass('open').addClass('out');
    });
  })
</script>
<!-- end modal -->

<!-- anim-pictures -->
<style>
  .pt-anim-container {
    /* width: 40%; */
    /* justify-content: space-around; */
    margin-right: 5em;
    flex-shrink: 0;
    transform-origin: center;
  }

  .section1 .pt-anim-pictures {
    width: 405px;
    flex-shrink: 0;
  }

  .pt-anim-item {
    top: 0;
    right: 0;
  }

  .pt-anim-piece {
    left: 226px;
    top: 10%;
    transform-origin: center 340px;
  }

  #anim_kit_1 {
    transform: rotate(-22deg);
  }

  /* #anim_kit_2 {
      transform: rotate(-44deg);
    }
  
    #anim_kit_3 {
      transform: rotate(0deg);
    }
  
    #anim_kit_4 {
      transform: rotate(44deg);
    } */

  #anim_kit_5 {
    transform: rotate(22deg);
  }

  .section2 .pt-anim-pictures {
    width: 690px;
    height: 471px;
    flex-shrink: 0;
  }

  .pt-anim-pictures img {
    display: block;
  }

  @media screen and (max-width:1600px) {
    .pt-anim-container {
      transform: scale(0.85);
    }
  }

  @media screen and (max-width:1024px) {
    .pt-anim-container {
      margin-right: 4em;
      padding: 0;
      transform: scale(0.65);
    }

    .section1 .pt-anim-container {
      transform: scale(0.75);
      transform-origin: left center;
    }

    .section2 .pt-anim-piece {
      top: 0;
    }
  }

  @media screen and (max-width:768px) {
    .pt-anim-container {
      margin: 0 !important;
      transform-origin: center center !important;
    }
  }

  @media screen and (max-width:414px) {
    .pt-anim-container {
      transform: scale(0.65);
      margin-top: -25%;
      margin-bottom: -20%;
    }

    .section2 .pt-anim-container {
      margin-top: -15%;
      margin-bottom: -25%;
      transform: scale(0.5);
    }
  }
</style>

{{ 'TweenMax.min.js' | asset_url | script_tag }}
{{ 'ScrollMagic.js' | asset_url | script_tag }}
{{ 'animation.gsap.min.js' | asset_url | script_tag }}

<script>
  $(function () {
    $('.tab-toggle').on('click', function () {
      $(this).toggleClass('active');
      const target = $(this).data('target');
      const index = $(this).index();
      $(target).toggleClass('active');

      const count = $('.pt-anim-piece.active').length;
      const a = 88 % count == 0 ? true : false;
      let pieces = document.querySelectorAll('.pt-anim-piece.active');
      const half = parseInt(count / 2);
      if (a) {
        pieces.forEach((piece, index) => {
          const rotation = 22 - 44 * (half - index);
          TweenMax.fromTo(piece, 0.5, {
            rotation: 0,
            ease: Linear.easeNone
          }, {
            rotation: rotation,
            ease: Linear.easeNone
          })
        });
      } else {
        pieces.forEach((piece, index) => {
          if (index == half) {
            TweenMax.to(piece, 0.5, {
              rotation: 0,
              ease: Linear.easeNone
            })
          } else {
            const rotation = 44 * (index - half);
            TweenMax.fromTo(piece, 0.5, {
              rotation: 0,
              ease: Linear.easeNone
            }, {
              rotation: rotation,
              ease: Linear.easeNone
            })
          }
        });
      }
    })

    var controller = new ScrollMagic.Controller();
    var tween_1 = TweenMax.to("#anim-item", 0.5, {
      x: -205,
      ease: Linear.easeNone
    });

    if (window.innerWidth > 768) {
      var scene_1 = new ScrollMagic.Scene({
          triggerElement: "#trigger_sec_1",
          duration: 300,
          offset: -160
        })
        .setTween(tween_1)
        .addTo(controller);
    } else {
      var scene_1 = new ScrollMagic.Scene({
          triggerElement: "#trigger_line_1",
          duration: 300,
          offset: -100
        })
        .setTween(tween_1)
        .addTo(controller);
    }
  });
</script>