<div class="section0 relative">
  <video muted playsinline loop webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
    x5-video-orientation="portraint" poster="{{ 'magez-slider-hero-bgv.jpg' | asset_url }}" preload="none" autoplay
    class="block w-full h-screen object-cover">
    <source src="{{ 'magez-slider-hero-video.mp4' | asset_url }}" type="video/mp4">
    <source src="{{ 'magez-slider-hero-video.webm' | asset_url }}" type="video/webm">
  </video>

  <div class="pt-section-content absolute pt-position-centerY">
    <h1 class="text-2xl sm:text-3xl font-bold mb-2">
      MagEZ Slider
    </h1>
    <h3 class="text-lg sm:text-xl font-semibold mb-8">
      Slide, Charge, Always Ready to Go
    </h3>
    <p class="text-sm sm:text-base text-gray-400 mb-8">
      A Compact 3-in-1 wireless docking solution for iPhone 13&12, Apple Watch, and AirPods.
      Built-in sliding MagSafe compatible MagEZ Battery Pack.
    </p>

    <p class="text-sm sm:text-base font-semibold">
      Coming soon in February.
    </p>

    <div class="privy-embed-form" data-campaign="2517750"></div>
    <p class="text-sm text-gray-400 w-full sm:w-4/5 sm:mx-auto md:mx-0">
      *MagEZ Slider Power Dongle Edition includes an MFi certificated Apple Watch wireless charging dongle.
    </p>
  </div>
</div>

{%- comment -%}
<div class="pt-section section-default section1 bg-black">
  <div class="pt-section-content text-center pt-margin-bottom-large">
    <div class="pt-section-title-box pt-flex pt-margin-bottom-small">
      {{'slider-section-title-dock.svg' | asset_url | img_tag }}
      <p class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 fw-400 text-cyan">Dock</p>
      {{'slider-section-title-square.svg' | asset_url | img_tag }}
    </div>
    <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2">
      Your Ready-to-Go Pocket Charging Companion
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      <span class="large color-grey">
        The only wireless charging solution that simultaneously charges both your iPhone 12 and MagEZ Slider power pack,
        with an eye-catching multi-functional charging stand.
      </span>
    </p>
  </div>
  <div class="pt-section-container relative">
    <div class="play-btn absolute pt-position-center">
      {{'omni-lite-play-btn.svg' | asset_url | img_tag }}
    </div>
    <video muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
      x5-video-orientation="portraint" poster="{{ 'magez-slider-dock-video-cover.jpg' | asset_url }}" preload
      class="pt-block width-100">
      <source src="{{ 'magez-slider-dock-video.mp4' | asset_url }}" type="video/mp4">
      <source src="{{ 'magez-slider-dock-video.webm' | asset_url }}" type="video/webm">
    </video>
  </div>
</div>

<div class="pt-section section-default section2 pt-flex pt-flex-center pt-flex-between">
  <div class="pt-section-container pt-flex">
    <div class="left-con">
      <picture>
        <source data-srcset="{{'magez-slider-charge-1.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-charge-1-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
      <picture>
        <source data-srcset="{{'magez-slider-charge-2.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-charge-2-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
    </div>
    <div class="right-con">
      <picture>
        <source data-srcset="{{'magez-slider-charge-3.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-charge-3-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
    </div>
  </div>
  <div class="pt-section-content">
    <div class="pt-section-title-box pt-flex pt-margin-bottom-small">
      {{'slider-section-title-charge.svg' | asset_url | img_tag }}
      <p class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 fw-400 text-cyan">Charge</p>
      {{'slider-section-title-square.svg' | asset_url | img_tag }}
    </div>
    <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2">
      An Efficient Docking System for Multi-device Charging
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      <span class="large color-grey">
        Compatible with MagSafe, future-proofing for new Apple devices,
        and charges all devices at full efficiency.
      </span>
    </p>
    <div class="pt-flex text-center pt-margin-medium">
      <div class="flex-item">
        {{'magez-slider-charge-12promax.png' | asset_url | img_tag }}
        <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 fw-700 pt-margin-top-small">
          69%
        </p>
        <p class="pt-text-small fw-700 pt-margin-top-mini">
          <span class="small">iPhone 12 Pro Max</span>
        </p>
      </div>
      <div class="flex-item">
        {{'magez-slider-charge-12pro.png' | asset_url | img_tag }}
        <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 fw-700 pt-margin-top-small">
          80%
        </p>
        <p class="pt-text-small fw-700 pt-margin-top-mini">
          <span class="small">iPhone 12 Pro</span>
        </p>
      </div>
      <div class="flex-item">
        {{'magez-slider-charge-12mini.png' | asset_url | img_tag }}
        <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 fw-700 pt-margin-top-small">
          92%
        </p>
        <p class="pt-text-small fw-700 pt-margin-top-mini">
          <span class="small">iPhone 12 mini</span>
        </p>
      </div>
    </div>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 text-cyan">
      *Based on a single phone charge from 0% using a fully
      charged power pack. All data was obtained through tests
      conducted within PITAKA's Laboratory.
    </p>
  </div>
</div>

<div class="pt-section section-default section3 pt-flex pt-flex-center pt-flex-between">
  <div class="pt-section-content">
    <div class="pt-section-title-box pt-flex pt-margin-bottom-small">
      {{'slider-section-title-slide.svg' | asset_url | img_tag }}
      <p class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 fw-400 text-cyan">Slide</p>
      {{'slider-section-title-square.svg' | asset_url | img_tag }}
    </div>
    <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2">
      Compact, Yet Powerful
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      <span class="large color-grey">
        The smallest, sleekest MagSafe compatible sliding power solution,
        ensuring sufficient backup juice for your devices to last the entire day.
        And at just over half an inch (14mm) thick, the ergonomically designed Slider
        pack fits comfortably in your hand.
      </span>
    </p>
    <div class="pt-flex pt-margin-top-medium">
      <div class="flex-item">
        {{'slider-section-icon-magsafe.svg' | asset_url | img_tag }}
        <p class="pt-text-small color-grey pt-margin-top-small">
          MagSafe<br>
          Compatible
        </p>
      </div>
      <div class="flex-item">
        {{'slider-section-icon-magnetic.svg' | asset_url | img_tag }}
        <p class="pt-text-small color-grey pt-margin-top-small">
          Magnetic<br>
          connectivity
        </p>
      </div>
      <div class="flex-item">
        {{'slider-section-icon-sleek.svg' | asset_url | img_tag }}
        <p class="pt-text-small color-grey pt-margin-top-small">
          Sleek Design<br>
          (14mm thick)
        </p>
      </div>
    </div>
  </div>

  <div class="pt-section-container pt-flex">
    <div class="left-con">
      <picture>
        <source data-srcset="{{'magez-slider-slide-1.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-slide-1-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
    </div>
    <div class="right-con relative">
      <div class="play-btn absolute pt-position-center">
        {{'omni-lite-play-btn.svg' | asset_url | img_tag }}
      </div>
      <video muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
        x5-video-orientation="portraint" poster="{{ 'magez-slider-slide-video-cover.jpg' | asset_url }}" preload
        class="pt-block width-100">
        <source src="{{ 'magez-slider-slide-video.mp4' | asset_url }}" type="video/mp4">
        <source src="{{ 'magez-slider-slide-video.webm' | asset_url }}" type="video/webm">
      </video>
    </div>
  </div>
</div>

<div class="pt-section section-default section4">
  <div class="pt-section-content text-center pt-margin-bottom-large">
    <div class="pt-section-title-box pt-flex pt-margin-bottom-small">
      {{'slider-section-title-go.svg' | asset_url | img_tag }}
      <p class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 fw-400 text-cyan">Go</p>
      {{'slider-section-title-square.svg' | asset_url | img_tag }}
    </div>
    <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2">
      Versatile &amp; Functional
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
      <span class="large color-grey">
        Free yourself from misplaced cables and desktop clutter with the modular MagEZ Slider and access all your
        devices from any direction with its rotating base. Conveniently charges both the AirPods 2 and Pro models with
        the height-adjustable magnetic earbuds stand.
      </span>
    </p>
  </div>
  <div class="pt-section-container pt-flex">
    <div class="left-con relative">
      <div class="play-btn absolute pt-position-center">
        {{'omni-lite-play-btn.svg' | asset_url | img_tag }}
      </div>
      <video muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
        x5-video-orientation="portraint" poster="{{ 'magez-slider-go-video-cover.jpg' | asset_url }}" preload
        class="pt-block width-100">
        <source src="{{ 'magez-slider-go-video.mp4' | asset_url }}" type="video/mp4">
        <source src="{{ 'magez-slider-go-video.webm' | asset_url }}" type="video/webm">
      </video>
    </div>
    <div class="right-con">
      <picture>
        <source data-srcset="{{'magez-slider-go-2.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-go-2-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
      <picture>
        <source data-srcset="{{'magez-slider-go-3.jpg' | asset_url}}" media="(min-width: 769px)">
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-go-3-m.jpg' | asset_url}}" alt="MagEZ Slider"
          class="img-responsive width-100 lazyload">
      </picture>
    </div>
  </div>
</div>

<div class="section-default section5 relative">
  <div class="pt-section-content text-center absolute pt-position-center">
    <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2">
      Slide, Charge,<br>
      Always Ready To Go.
    </h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-medium">
      <span class="large color-grey">
        Sign up now to catch the 60% Super Early Bird discount, and the chance to win an iPhone 12.
      </span>
    </p>
    <!-- US -->
    <div class="privy-embed-form" data-campaign="2517750"></div>
  </div>
  <picture>
    <source data-srcset="{{'magez-slider-signup-bottom-bg.jpg' | asset_url}}" media="(min-width: 769px)">
    <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-signup-bottom-bg-m.jpg' | asset_url}}" alt="MagEZ Slider"
      class="img-responsive width-100 lazyload">
  </picture>
</div>
{%- endcomment -%}

<style>
  h3 {
    line-height: 1.2;
  }

  .large {
    font-size: 120%;
  }

  .section-default {
    min-height: 40vw;
  }

  .play-btn {
    display: block;
    cursor: pointer;
    z-index: 10;
  }

  .play-btn img {
    width: 50px;
  }

  .play-btn.inactive {
    display: none;
  }

  .pt-section-content {
    max-width: 614px;
  }

  .pt-section-content.text-center {
    max-width: unset;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .pt-section-content.text-center h3 {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .pt-section-content p {
    line-height: 1.4;
  }

  .pt-section-title-box {
    align-items: flex-end;
  }

  .pt-section-content.text-center .pt-section-title-box {
    justify-content: center;
  }

  .pt-section-title-box img {
    margin: 0 0 18px;
    display: block;
  }

  .pt-section-title-box img:first-child {
    width: 75px;
    margin: 0;
  }

  .pt-section-title-box p {
    margin: 0 10px 10px;
  }

  .pt-section-container {
    align-items: stretch;
  }

  .left-con,
  .right-con {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: calc(50% - 8px); */
  }

  .left-con {
    margin-right: 8px;
  }

  .right-con {
    margin-left: 8px;
  }

  .left-con picture,
  .right-con picture {
    height: 100%;
  }

  .left-con img,
  .right-con img {
    height: 100%;
    object-fit: cover;
  }

  .pt-section-content .flex-item {
    width: max-content;
    padding-right: 3em;
    flex-shrink: 0;
  }

  .pt-section-content .flex-item img {
    margin: 0 auto;
    display: block;
  }

  .pt-section-title-box img:first-child {
    width: 60px;
  }

  .section0 .pt-section-content {
    left: 15%;
    z-index: 10;
  }

  .section0 .privy-embed-form {
    width: 100%;
    min-width: unset;
    transform: none;
  }

  .section0 .privy-embed-form iframe {
    width: 360px !important;
    max-width: 80% !important;
    margin: 0 !important;
  }

  .section1 {
    padding-left: 20%;
    padding-right: 20%;
  }

  .section2 {
    padding-left: 0;
    background-color: #101011;
    align-items: flex-end !important;
  }

  .section3 {
    padding-right: 0;
  }

  .section3 .left-con,
  .section3 .right-con {
    width: calc(50% - 8px);
  }

  .section4 {
    background-color: #101011;
  }

  .section4 .left-con {
    width: 60%;
  }

  .section2 .left-con picture:first-child,
  .section4 .right-con picture:first-child {
    margin-bottom: 8px;
  }

  .section2 .left-con picture:last-child,
  .section4 .right-con picture:last-child {
    margin-top: 8px;
  }

  .section4 .pt-section-content {
    width: 62%;
  }

  .section2 .pt-section-container,
  .section3 .pt-section-container {
    width: 63%;
  }

  .section2 .pt-section-content,
  .section3 .pt-section-content {
    width: 31%;
    max-width: 532px;
  }

  @media screen and (min-width:1960px) {
    .pt-section-content.text-center {
      width: 60%;
    }
  }

  @media screen and (max-width:1600px) {

    .play-btn img {
      width: 45px;
    }

    .pt-section-content {
      max-width: 486px;
    }

    .pt-section-content .flex-item {
      padding-right: 2em;
    }

    .pt-section-content .flex-item img {
      width: 52px;
    }

    .section3 .pt-section-content .flex-item img {
      width: 40px;
    }

    .section0 .pt-section-content {
      left: 10%;
    }

    .pt-section-content.text-center {
      width: 60%;
    }

    .section1 {
      padding-left: 15%;
      padding-right: 15%;
    }

    .section2 .pt-section-content,
    .section3 .pt-section-content {
      width: 32%;
    }
  }

  @media screen and (max-width:1280px) {
    .pt-section-content {
      max-width: 422px;
    }
    
  }

  @media screen and (max-width:1024px) {
    .section0 .pt-section-content {
      position: static;
      width: 100%;
      padding: 4em 20%;
      background-color: #101011;
      transform: none;
    }

    .section0 video{
      height:70vh;
      object-position: right;
    }

    .pt-section-content {
      text-align: center;
      width: 52%;
      max-width: unset;
    }

    .pt-section-content.text-center {
      width: 70%;
    }

    .privy-embed-form {
      transform: scale(0.9);
      margin: 0em auto -1.5em;
      transform-origin: center 0;
    }

    .section0 .privy-embed-form iframe,
    .privy-embed-form iframe {
      margin: 0 auto !important;
    }

    .section1,
    .section2,
    .section3 {
      padding-left: 10%;
      padding-right: 10%;
    }

    .section2 {
      flex-direction: column-reverse;
    }

    .section3 {
      flex-direction: column;
    }

    .pt-section-title-box {
      justify-content: center;
    }

    .pt-section-content .pt-flex {
      justify-content: center;
      flex-direction: row;
    }

    .section2 .pt-section-content,
    .section3 .pt-section-content {
      width: 100%;
      padding: 0 17% 4em;
      max-width: unset;
    }

    .section3 .pt-section-content {
      padding: 0 12% 4em;
    }

    .section2 .pt-section-container,
    .section3 .pt-section-container {
      width: 100%;
    }

    .section3 .pt-section-container {
      flex-direction: row;
    }

    .pt-section-content .flex-item {
      padding: 0 2em;
    }
  }

  @media screen and (max-width:768px) {
    .section0 .pt-section-content {
      padding: 4em 12%;
    }

    .pt-section-content {
      width: 68%;
    }

    .pt-section-content.text-center {
      width: 88%;
    }

    .pt-section-content h3,
    .pt-section-content.text-center h3 {
      width: 68%;
      margin-left: auto;
      margin-right: auto;
    }

    .section1,
    .section2,
    .section3 {
      padding-left: 7%;
      padding-right: 7%;
    }

    .section2 .pt-section-content,
    .section3 .pt-section-content {
      padding: 0 8% 4em;
    }

    .section3 .pt-section-content {
      padding: 0 5% 4em;
    }


    .section2 .pt-section-container .right-con {
      margin: 12px 0 0;
    }

    .section4 .pt-section-container .left-con {
      margin: 0 0 12px 0;
      width: 100%;
    }

    .section4 .pt-section-container .right-con,
    .section2 .pt-section-container .left-con {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      margin: 0;
    }

    .section2 .pt-section-container .left-con picture:first-child,
    .section4 .pt-section-container .right-con picture:first-child {
      margin: 0 6px 0 0;
      width: calc(50% - 6px);
    }

    .section2 .pt-section-container .left-con picture:last-child,
    .section4 .pt-section-container .right-con picture:last-child {
      margin: 0 0 0 6px;
      width: calc(50% - 6px);
    }
  }

  @media screen and (max-width:414px) {
    .large {
      font-size: 110%;
    }

    .play-btn img {
      width: 35px;
    }

    .section0 video{
      height:60vh;
      object-position: 80%;
    }

    .section0 .privy-embed-form iframe {
      max-width: 100% !important;
    }

    .pt-section-content.text-center,
    .pt-section-content h3,
    .pt-section-content.text-center h3 {
      width: 100%;
    }

    .section5 .pt-section-content {
      padding: 0 7%;
    }

    .section0 .pt-section-content {
      padding: 3em 7%;
    }

    .section2 .pt-section-content,
    .section3 .pt-section-content {
      padding: 0 0 3em;
    }

    .pt-section-content {
      width: 80%;
    }

    .pt-section-content .flex-item {
      padding: 0 10px;
    }

    .privy-embed-form {
      transform: none;
      width: 100%;
    }
  }
</style>

<script>
  let btns = document.querySelectorAll('.play-btn');
  btns.forEach(btn => {
    btn.addEventListener('click', function () {
      btn.classList.add('inactive');
      let video = btn.nextElementSibling;
      video.play();
      const time = video.duration * 1000;
      setTimeout(() => {
        btn.classList.remove('inactive');
      }, time)
    })
  })
</script>