{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}
<div class="section-default section0 relative">
    <picture>
      <source data-srcset="{{ 'product-casepro_2-section0-iphone12.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-section0-iphone12-m.jpg' | asset_url }}"
        alt="MagEZ Case Pro 2 for iPhone 12" class="img-responsive width-100 lazyload">
    </picture>
    <div class="pt-section-content absolute pt-position-centerX pt-position-top">
      <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2 fw-400 pt-text-center font-upper">Protection Evolved</h3>
    </div>
  </div> 
  
  <div class="section-default pt-video-container">
    <video loop muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
      x5-video-orientation="portraint" preload="none" autoplay style="object-fit:contain"
      data-poster="{{ 'product-casepro_2-iphone12_v-cover.jpg' | asset_url }}" class="lazyload">
      <source src="{{ 'product-casepro_2-iphone12_v.mp4' | asset_url }}" type="video/mp4">
      <source src="{{ 'product-casepro_2-iphone12_v.webm' | asset_url }}" type="video/webm">
    </video>
  </div>
  
  <div class="pt-section section1 bg-black">
    <div class="pt-section-content text-center pt-margin-auto">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Magnetic Connectivity
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Attach the MagEZ Case Pro 2 protective iPhone case to MagSafe Chargers and 
        <a href="/collections/wireless-chargers" class="pt-link">MagEZ magnetic wireless charger</a> with ease.
      </p>
    </div>
  
    <div id="trigger_sec-attach"></div>
    <div class="pt-anim-container pt-flex text-center">
  
      <div class="pt-anim-pictures relative">
        <div id="trigger_line_1"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-attach-juice.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-1">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-attach-juice-phone.png' | asset_url }}"
            alt="MagEZ Case Pro 2 for iPhone 12" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
            MagEZ Juice 2
          </h3>
          <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
            Eliminate the need for cables and bulky power banks with this wireless charging stand and battery.
          </p>
        </div>
  
      </div>
  
      <div class="pt-anim-pictures second relative">
        <div id="trigger_line_2"></div>
        <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-attach-magsafe.png' | asset_url }}"
          class="lazyload">
        <div class="pt-anim-case absolute" id="anim-case-2">
          <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-attach-magsafe-phone.png' | asset_url }}"
            alt="MagEZ Case Pro 2 for iPhone 12" class="lazyload">
        </div>
  
        <div class="pt-anim-content pt-margin-top-medium">
          <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
            MagSafe Charger
          </h3>
          <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
            Conveniently charge with Apple's magnetic wireless charger.
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="section-default section2 relative">
    <div class="pt-section-content absolute pt-position-centerY pt-position-right">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Meets Military
        Drop Test Standards
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        With a reinforced TPU frame, and impact-resistant air pockets, your iPhone 12 is protected from high impact falls.
        A layer of soft-touch microfiber inside the MagEZ Case Pro 2 protects your phone against scratches.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-casepro_2-section2-iphone12.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-section2-iphone12-m.jpg' | asset_url }}"
        alt="MagEZ Case Pro 2 for iPhone 12" class="img-responsive lazyload width-100" />
    </picture>
  </div>
  
  <div class="section-default section3 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        3 Protective Layers
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
        Scientifically designed using layers of high-quality materials, including scratch-resistant aramid fiber and a
        shock-absorbing layer of PC (Polycarbonate) that cushion your iPhone 12 when dropped.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-casepro_2-section3-iphone12.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-section3-iphone12-m.jpg' | asset_url }}"
        alt="MagEZ Case Pro 2 for iPhone 12" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="pt-section section4  bg-black" id="trigger-elem">
    <div class="scroll-section">
      <div class="scroll-start">
        <div class="casepro_2-image">
          <div class="casepro_2-txt detail-item-txt-2">
            <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
              Specifically Cut
              for Accessibility
            </h3>
            <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
              With the precise cutout port, easily plug in your Lightning cable to charge your device without removing the
              iPhone 12 case.
            </p>
          </div>
  
          <div class="casepro_2-txt detail-item-txt-4">
            <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
              Whole Phone
              Coverage
            </h3>
            <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
              The heavy-duty case completely covers and protects the back and sides of your new iPhone 12 from button
              covers to lens protection without appearing bulky.
            </p>
          </div>
  
          {% for i in (1..94) reversed %}
          {% assign src= 'casepro_2-' | append: i | append:'.jpg' %}
          {% assign caseproC = 'casepro_2-' | append:i %}
          <div class="{{ caseproC }} casepro_2-item">
            {{ src | asset_url | img_tag:'MagEZ Case Pro 2' }}
          </div>
          {% endfor %}
  
          <div class="casepro_2-txt detail-item-txt-1">
            <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
              A Futuristic Design
            </h3>
            <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
              Stand out from the crowd with the Pro 2’s angled-corner design and minimalist look.
            </p>
          </div>
  
          <div class="casepro_2-txt detail-item-txt-3">
            <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
              Screen Protection
            </h3>
            <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
              A raised edge offers additional protection to the screen of your iPhone 12 while leaving ample space to add
              a tempered glass screen protector.  
            </p>
          </div>
        </div>
      </div>
    </div>
    {%- comment -%}
    <div class="last-scroll-section"></div>
    {%- endcomment -%}
  </div>
  
  
  <div class="section-default section5 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Level Up Your
        iPhone 12 Case
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
        Attach our wallet, the MagEZ Card Sleeve, to the back cover of your phone case to carry and conveniently access
        your business and credit cards.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-casepro_2-section5-iphone12.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-section5-iphone12-m.jpg' | asset_url }}"
        alt="MagEZ Case Pro 2 for iPhone 12" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section6">
    <picture>
      <source data-srcset="{{ 'product-casepro_2-section6-iphone12.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-casepro_2-section6-iphone12-m.jpg' | asset_url }}"
        alt="MagEZ Case Pro 2 for iPhone 12" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <style>
    .pt-section-content {
      max-width: 486px;
    }
  
    .section1 .pt-section-content {
      max-width: unset;
      width: 50%;
    }
  
    .section0 .pt-section-content {
      top: 8em;
    }
  
    .section4 {
      max-height: 100vh;
    }
  
    @media screen and (min-width:1960px) {
      .pt-section-content {
        max-width: 586px;
      }
    }
    @media screen and (max-width:1600px) {
      .pt-section-content {
        max-width: 400px;
      }
  
      .section0 .pt-section-content {
        top: 6em;
      }
    }
  
    @media screen and (max-width:1280px) {
      .pt-section-content {
        max-width: 368px;
      }
  
      .section0 .pt-section-content {
        top: 5em;
      }
    }
  
    @media screen and (max-width:768px) {
      /* .section-default {
        min-height: 164vw;
      }
   */
      .pt-section-content {
        width: 100% !important;
        left: 0 !important;
        top: 10em;
        transform: none;
        text-align: center;
        padding: 0 20%;
        max-width: unset;
      }
  
      .section1 .pt-section-content {
        padding: 0 13vw;
      }
    }
  
    @media screen and (max-width:414px) {
      .pt-section-content {
        padding: 0 10%;
        top: 3em;
      }
  
      .section1 .pt-section-content {
        padding: 0 3vw;
      }
  
      .section0 .pt-section-content {
        top: 4em;
      }
    }
  </style>
  
  <!-- scroll-section -->
  <style>
    .scroll-section {
      height: calc(100vh - 5em);
    }
  
    .casepro_2-image {
      position: relative;
    }
  
    .casepro_2-image>div {
      position: absolute;
      max-height: 100vh;
      z-index: 10;
    }
  
    .casepro_2-image img {
      width: auto;
      max-height: calc(100vh - 10em);
      max-width: none;
    }
  
    .detail-item,
    .casepro_2-item {
      left: 50%;
      transform: translateX(-50%);
    }
  
    .casepro_2-txt {
      opacity: 0;
      z-index: 11 !important;
    }
  
    @media screen and (min-width:1025px) {
      .casepro_2-txt {
        position: absolute;
        width: 25%;
        max-width: 500px;
        font-weight: 700;
        z-index: 11;
        opacity: 0;
      }
  
      .casepro_2-txt.detail-item-txt-1 {
        right: 5vw;
        top: calc(6vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-2 {
        left: 5vw;
        top: calc(13vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-3 {
        right: 5vw;
        top: calc(32vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-4 {
        left: 5vw;
        top: calc(40vh + 5em);
      }
  
    }
  
    @media screen and (max-width:1600px) {
      .casepro_2-image img {
        height: 80vh;
        margin-top: 10vh;
      }
  
      .casepro_2-txt {
        width: 30%;
      }
  
      .casepro_2-txt.detail-item-txt-1 {
        right: 2vw;
        top: calc(10vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-2 {
        left: 2vw;
        top: calc(15vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-3 {
        right: 2vw;
        top: calc(35vh + 5em);
      }
  
      .casepro_2-txt.detail-item-txt-4 {
        left: 2vw;
        top: calc(45vh + 5em);
      }
  
    }
  
    @media screen and (max-width: 1280px) {
      .scroll-section {
        height: calc(100vh - 4em);
      }
    }
  
    @media screen and (max-width:1279px) {
      .casepro_2-image img {
        height: 65vh;
        margin-top: calc(17.5vh - 4em);
      }
  
      .casepro_2-txt.detail-item-txt-1 {
        right: 0;
      }
  
      .casepro_2-txt.detail-item-txt-2 {
        left: 0;
      }
  
      .casepro_2-txt.detail-item-txt-3 {
        right: 0;
      }
  
      .casepro_2-txt.detail-item-txt-4 {
        left: 0;
      }
  
    }
  
    @media screen and (max-width:1024px) {
  
      .casepro_2-txt.detail-item-txt-1,
      .casepro_2-txt.detail-item-txt-2,
      .casepro_2-txt.detail-item-txt-3,
      .casepro_2-txt.detail-item-txt-4 {
        width: 100%;
        top: 0;
        left: 0;
        text-align: center;
        padding: 0 13vw;
      }
  
      .casepro_2-txt.detail-item-txt-3,
      .casepro_2-txt.detail-item-txt-4 {
        top: calc(82.5vh - 4em);
      }
    }
  
    @media screen and (max-width:414px) {
      .scroll-section {
        height: calc(100vh - 3em);
      }
  
      .casepro_2-txt.detail-item-txt-1,
      .casepro_2-txt.detail-item-txt-2,
      .casepro_2-txt.detail-item-txt-3,
      .casepro_2-txt.detail-item-txt-4 {
        padding: 0 3vw;
      }
  
      .casepro_2-image img {
        height: 60vh;
        margin-top: calc(20vh - 3em);
      }
  
      .casepro_2-txt.detail-item-txt-3,
      .casepro_2-txt.detail-item-txt-4 {
        top: calc(80vh - 3em);
      }
  
    }
  </style>
  
  <!-- anim-pictures -->
  <style>
    .pt-anim-container {
      justify-content: space-around;
      flex-shrink: 0;
      margin-top: 5em;
    }
  
    .pt-anim-case {
      top: 0;
      right: 0;
    }
  
    .pt-anim-pictures {
      width: 494px;
      margin: 0 2em;
      flex-shrink: 0;
    }
  
    .pt-anim-pictures img {
      display: block;
    }
  
    .pt-anim-content {
      padding: 0 5%;
    }
  
    .pt-anim-pictures.second .pt-anim-content {
      padding: 0 10%;
    }
  
    @media screen and (max-width:1280px) {
      .pt-anim-container {
        transform: scale(0.8);
      }
    }
  
    @media screen and (max-width:1024px) {
      .pt-anim-container {
        width: 100%;
      }
    }
  
    @media screen and (max-width:768px) {
      .pt-anim-container {
        flex-direction: column;
        align-items: center;
        margin-top: 0;
      }
  
      .pt-anim-pictures {
        margin: 5em 0 0;
      }
  
      .pt-anim-container {
        transform: scale(0.9);
      }
    }
  
    @media screen and (max-width:414px) {
      .pt-anim-container {
        transform: scale(0.7);
        margin: -50% 0;
      }
    }
  </style>
  
  {{ 'TweenMax.min.js' | asset_url | script_tag }}
  {{ 'ScrollMagic.js' | asset_url | script_tag }}
  {{ 'animation.gsap.min.js' | asset_url | script_tag }}
  
  <script>
    $(function () {
      // init controller
      var controller = new ScrollMagic.Controller();
  
      // build tween
      var tween_1 = TweenMax.to("#anim-case-1", 0.5, {
        x: -123,
        y: 76,
        ease: Linear.easeNone
      });
  
      var tween_2 = TweenMax.to("#anim-case-2", 0.5, {
        x: -165,
        ease: Linear.easeNone
      });
  
      if (window.innerWidth > 768) {
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec-attach",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_sec-attach",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
  
      } else {
  
        // build scene
        var scene_1 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_1",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_1)
          .addTo(controller);
  
        var scene_2 = new ScrollMagic.Scene({
            triggerElement: "#trigger_line_2",
            duration: 300,
            onLeave: true,
          })
          .setTween(tween_2)
          .addTo(controller);
      }
    });
  </script>
  
  <script>
    $(function () {
  
      let anim_arr_1 = [];
      let anim_arr_2 = [];
      let anim_arr_3 = [];
      let anim_arr_4 = [];
  
      for (let i = 2; i < 94; i++) {
        const str = `.casepro_2-${i}`;
        if (i < 26) {
          anim_arr_1.push(str);
        } else if (i < 53) {
          anim_arr_2.push(str);
        } else if (i < 68) {
          anim_arr_3.push(str);
        } else {
          anim_arr_4.push(str);
        }
      }
      let tlFirstScroll = new TimelineMax();
  
      if (window.innerWidth < 1025) {
        tlFirstScroll
          .set('.casepro_2-1', {
            display: 'none',
            autoAlpha: 0
          })
  
          .staggerTo(anim_arr_1, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .to('.detail-item-txt-1', 0.01, {
            autoAlpha: 1
          }, '-=0.2')
  
          .staggerTo(anim_arr_2, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .fromTo('.detail-item-txt-1', 0.01, {
            autoAlpha: 1,
            x: 0
          }, {
            autoAlpha: 0,
            x: '-100vw'
          }, '-=0.2')
  
          .fromTo('.detail-item-txt-2', 0.01, {
            autoAlpha: 0,
            x: '100vw'
          }, {
            autoAlpha: 1,
            x: 0
          }, '-=0.2')
  
          .staggerTo(anim_arr_3, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .fromTo('.detail-item-txt-2', 0.01, {
            autoAlpha: 1,
            x: 0
          }, {
            autoAlpha: 0,
            x: '-100vw'
          }, '-=0.2')
  
          .fromTo('.detail-item-txt-3', 0.01, {
            autoAlpha: 0,
            x: '100vw'
          }, {
            autoAlpha: 1,
            x: 0
          }, '-=0.2')
  
          .staggerTo(anim_arr_4, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .fromTo('.detail-item-txt-3', 0.01, {
            autoAlpha: 1,
            x: 0
          }, {
            autoAlpha: 0,
            x: '-100vw'
          }, '-=0.2')
  
          .fromTo('.detail-item-txt-4', 0.01, {
            autoAlpha: 0,
            x: '100vw'
          }, {
            autoAlpha: 1,
            x: 0
          }, '-=0.2')
      } else {
        tlFirstScroll
          .set('.casepro_2-1', {
            display: 'none',
            autoAlpha: 0
          })
  
          .staggerTo(anim_arr_1, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .to('.detail-item-txt-1', 0.5, {
            autoAlpha: 1
          }, '-=0.2')
  
          .staggerTo(anim_arr_2, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .to('.detail-item-txt-2', 0.5, {
            autoAlpha: 1
          }, '-=0.2')
  
          .staggerTo(anim_arr_3, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .to('.detail-item-txt-3', 0.5, {
            autoAlpha: 1
          }, '-=0.2')
  
          .staggerTo(anim_arr_4, 0.2, {
            display: 'none',
            autoAlpha: 0
          }, 0.2)
  
          .to('.detail-item-txt-4', 0.5, {
            autoAlpha: 1
          }, '-=0.2')
      }
  
      let controller = new ScrollMagic.Controller();
      new ScrollMagic.Scene({
          triggerElement: '#trigger-elem',
          triggerHook: 0,
          duration: 1000,
        })
        .setTween(tlFirstScroll)
        .setPin('#trigger-elem')
        .addTo(controller)
    })
  </script>