{% render 'buy-bar', product: all_products[collection.handle] %}
{{ "swiper-bundle.min.css" | asset_url | stylesheet_tag }}

{% assign wClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_8 = 'w-full md:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto' %}
{% assign wClass_6 = 'w-full md:w-10/12 lg:w-8/12 xl:w-6/12 max-w-screen-xl mx-auto' %}
{% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28' %}
{% assign pdClass_b = 'px-3 sm:px-6 md:px-0 pb-16 sm:pb-20 lg:pb-28' %}
{% assign titleSize = 'text-2xl md:text-3xl font-bold' %}
{% assign descSize = 'text-sm sm:text-base text-gray-400' %}
{% assign titleDecoMy = 'block mt-4 mb-6 w-6' %}

{% assign altName = 'MagEZ Case Pro for iPad mini 6' %}

<div class="relative section-hero">
  <div class="absolute w-full h-full pb-16 sm:pb-0">
    <div
      class="w-10/12 lg:w-9/12 h-full mx-auto flex items-end justify-center sm:justify-start sm:items-center text-center sm:text-left">
      <div>
        <h1 class="{{titleSize}} mb-5">
          MagEZ Case Pro<br>
          For iPad mini 6
        </h1>
        <p class="{{descSize}}">
          Work & Play Like A Pro with Snap n' Charge.
        </p>
      </div>
    </div>
  </div>
  <picture>
    <source data-srcset="{{'casepro-ipad-mini6-section1.webp' | asset_url}}" media="(min-width: 1280px)">
    <source data-srcset="{{'casepro-ipad-mini6-section1-m.webp' | asset_url}}" media="(min-width: 768px)">
    <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section1-s.webp' | asset_url}}" alt="{{ altName }}"
      class="block w-full lazyload">
  </picture>
</div>

<div class="{{wClass_8}} {{pdClass}}">
  {% render 'video-set-multiple' , name:'product-video-casepro-ipad-mini6-main', no_webm: true, coverPicSuffix:'.webp', video_id_suffix: 'main' %}
</div>

<div class="{{wClass}} {{pdClass_b}}">
  <div class="flex flex-col sm:flex-row justify-between items-center">
    <div class="w-full sm:w-2/5 lg:w-3/10 mb-10 sm:mb-0">
      <h3 class="{{titleSize}} swiper-no-swiping">
        CHARGING IS A SNAP.
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}} swiper-no-swiping">
        With the built-in "X" charging contact structure and magnet array, the iPad mini 6 case allows you
        to snap your iPad mini 6 onto the 
        <a class="text-cyan" href="/collections/pitaflow-for-tablets">Pita!Flow Charger</a>
        to auto-align for fast and stable wireless charging-like experience.
      </p>
    </div>
    <div class="w-full sm:w-5/9 lg:w-5/8">
      <picture>
        <source data-srcset="{{'casepro-ipad-mini6-section3-1.webp' | asset_url}}" media="(min-width: 1280px)">
        <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section3-1-s.webp' | asset_url}}"
          alt="{{ altName }}" class="block w-full lazyload">
      </picture>
    </div>
  </div>
</div>

<div class="{{wClass}} {{pdClass_b}}">
  <div class="flex flex-col sm:flex-row-reverse justify-between items-center">
    <div class="w-full sm:w-2/5 lg:w-3/10 mb-10 sm:mb-0">
      <h3 class="{{titleSize}} swiper-no-swiping">
        GET MORE OUT OF YOUR DEVICE.
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}} swiper-no-swiping">
        MagEZ Case Pro for iPad mini 6 offers more than protection and style.
        To help you get the most out of the productive tool, we built the 
        <a class="text-cyan" href="/collections/pitaflow-for-tablets">Pita!Flow for Tablets</a> system. 
        You can snap the device to the Pita!Flow Charger to enjoy a cable-free charging experience. 
        Or mount and charge it wirelessly on our 
        <a class="text-cyan" href="/products/magez-charging-stand">MagEZ Charging Stand</a>, 
        so you can make your iPad mini computer-like to get your work done or simply enjoy gaming and reading more.
      </p>
    </div>
    <div class="w-full sm:w-5/9 lg:w-5/8">
      <picture>
        <source data-srcset="{{'casepro-ipad-mini6-section3-2.webp' | asset_url}}" media="(min-width: 1280px)">
        <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section3-2-s.webp' | asset_url}}"
          alt="{{ altName }}" class="block w-full lazyload">
      </picture>
    </div>
  </div>
</div>

{%- comment -%}
<div class="w-full {{pdClass_b}} bg-gray-800">
  <div class="{{wClass}}">
    <div class="flex flex-col sm:flex-row justify-between items-stretch">
      <div class="swiper-container content-slider w-full sm:w-2/5 lg:w-3/10 mb-10 sm:mb-0">
        <div class="swiper-wrapper">
          <div class="swiper-slide flex flex-col justify-center">
            <h3 class="{{titleSize}} swiper-no-swiping">
              CHARGING IS A SNAP.
            </h3>
            <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
            <p class="{{descSize}} swiper-no-swiping">
              With the built-in "X" charging contact structure and magnet array, the iPad mini 6 case allows you
              to snap your iPad mini 6 onto the 
              <a class="text-cyan" href="/collections/pitaflow-for-tablets">Pita!Flow Charger</a>
              to auto-align for fast and stable wireless charging-like experience.
            </p>
          </div>
          <div class="swiper-slide flex flex-col justify-center">
            <h3 class="{{titleSize}} swiper-no-swiping">
              EXTREME CONVENIENCE.
            </h3>
            <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
            <p class="{{descSize}} swiper-no-swiping">
              MagEZ Case Pro for iPad mini 6 is built to work seamlessly with the 
              <a class="text-cyan" href="/collections/pitaflow-for-tablets">Pita!Flow Charger</a> and 
              <a class="text-cyan" href="/products/magez-charging-stand">MagEZ Charging Stand</a>.<br>
              Just snap on and you will enjoy the great convenience of MagSafe-like magnetic charging,
              helping you to get the most out of your device whether when you take notes, read news, or play games.
            </p>
          </div>
        </div>
      </div>

      <div class="swiper-container picture-slider w-full sm:w-5/9 lg:w-5/8">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source data-srcset="{{'casepro-ipad-mini6-section3-1.webp' | asset_url}}" media="(min-width: 1280px)">
              <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section3-1-s.webp' | asset_url}}"
                alt="{{ altName }}" class="block w-full lazyload">
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source data-srcset="{{'casepro-ipad-mini6-section3-2.webp' | asset_url}}" media="(min-width: 1280px)">
              <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section3-2-s.webp' | asset_url}}"
                alt="{{ altName }}" class="block w-full lazyload">
            </picture>
          </div>
        </div>
        <div class="swiper-pagination px-6 py-3 flex justify-center sm:justify-end"></div>
      </div>

    </div>
  </div>
</div>
{%- endcomment -%}

<div class="w-full section-square">
  {% render 'video-set-multiple' , name:'product-video-casepro-ipad-mini6', no_webm: true, coverPicSuffix:'.webp', noBtnModel:true, video_id_suffix: 'second', minHeight:true %}
</div>

<div class="{{wClass_8}} {{pdClass}}">
  <div class="mx-auto mb-12 w-11/12 sm:w-5/6 md:w-1/2 xl:w-3/8">
    <h3 class="{{titleSize}}">
      Slim Design.
    </h3>
    <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
    <p class="{{descSize}}">
      The minimalist design offers grip and protection without adding much bulk.
      Carrying your iPad mini 6 around shouldn't be a burden.
    </p>
  </div>
  <picture>
    <source data-srcset="{{'casepro-ipad-mini6-section5.webp' | asset_url}}" media="(min-width: 768px)">
    <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section5-s.webp' | asset_url}}" alt="{{ altName }}"
      class="block w-full lazyload">
  </picture>
</div>

<div class="w-full {{pdClass}} bg-gray-800">
  <div class="{{wClass_8}} flex flex-col-reverse sm:flex-row justify-between items-center">
    <div class="grid grid-cols-2 auto-rows-fr gap-3 sm:gap-4 md:gap-6 w-9/10 sm:w-5/9 xl:w-4/8">
      <div class="bg-gray-850 flex items-end justify-end">
        <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section6-1.webp' | asset_url}}"
          alt="{{ altName }}" class="block w-4/5 lazyload">
      </div>
      <div class="grid grid-cols-1 auto-rows-fr gap-3 sm:gap-4 md:gap-6">
        <div class="bg-gray-850 flex items-end justify-end">
          <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section6-2.webp' | asset_url}}"
            alt="{{ altName }}" class="block w-3/4 lazyload">
        </div>
        <div class="bg-gray-850 flex justify-end">
          <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section6-3.webp' | asset_url}}"
            alt="{{ altName }}" class="block w-5/6 lazyload">
        </div>
      </div>
    </div>
    <div class="mb-12 sm:mb-0 w-11/12 sm:w-2/5 md:w-3/8">
      <h3 class="{{titleSize}}">
        Great Protection.
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}}">
        Meticulously crafted from 1500D aramid fiber and embedded with airbags around all corners, the case protects
        your iPad mini 6 case from daily drops and wear and tear. It also protects the screen when you put it with the
        screen facing down.
      </p>
    </div>
  </div>
</div>

<div class="{{wClass_8}} {{pdClass}}">
  <div class="flex flex-col sm:flex-row items-center justify-between">
    <div class="mb-12 sm:mb-0 w-11/12 sm:w-1/2 xl:w-3/8 sm:pr-8">
      <h3 class="{{titleSize}}">
        Never Lose Your<br>
        Apple Pencil Again.
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}}">
        The specially designed pen clip on the iPad mini 6 case securely and firmly holds your Apple Pencil. No more
        worries about losing it.
      </p>
    </div>

    <div class="w-full sm:w-1/2 xl:w-5/8">
      <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section7.webp' | asset_url}}" alt="{{ altName }}"
        class="block mx-auto max-w-sm w-1/2 sm:w-3/5 lazyload">
    </div>
  </div>
</div>

<div class="w-full {{pdClass}} bg-gray-800">
  <div class="{{wClass}}">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4 md:gap-6 auto-rows-fr">
      <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section8-1.webp' | asset_url}}"
        alt="{{ altName }}" class="block w-full h-full object-cover lazyload">
      <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section8-2.webp' | asset_url}}"
        alt="{{ altName }}" class="block w-full h-full object-cover lazyload">
      <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section8-3.webp' | asset_url}}"
        alt="{{ altName }}" class="block w-full h-full object-cover lazyload">
      <img src="{{ placeholder_gif }}" data-src="{{'casepro-ipad-mini6-section8-4.webp' | asset_url}}"
        alt="{{ altName }}" class="block w-full h-full object-cover lazyload">
    </div>
  </div>
</div>

<style>
  .picture-slider .swiper-pagination-bullet {
    border-radius: 0;
    width: 24px;
    height: 3px;
    background-color: #fff;
  }

  .picture-slider .swiper-pagination-bullet-active {
    background-color: #fff;
  }
  @media screen and (max-width:767px) {
    .section-square{
      height: 100vw;
    }
  }
</style>
{{'swiper-bundle.min.js' | asset_url | script_tag }}

<script>
  var swiper_content = new Swiper('.content-slider', {
    // loop: true,
    grabCursor: true,
    noSwiping: true,
    roundLengths: true,
    effect: 'cube',
    cubeEffect: {
      slideShadows: false,
      shadow: false
    },
    mousewheel: {
      eventsTarged: '.content-slider',
      releaseOnEdges: true
    }
  });
  var swiper_picture = new Swiper('.picture-slider', {
    // loop: true,
    roundLengths: true,
    grabCursor: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true
    },
    mousewheel: {
      eventsTarged: '.picture-slider',
      releaseOnEdges: true
    }
  });

  swiper_content.controller.control = swiper_picture;
  swiper_picture.controller.control = swiper_content;
</script>