{{'swiper-bundle.min.css' | asset_url| stylesheet_tag }}
{{'swiper-bundle.min.js' | asset_url | script_tag }}

{% assign wClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_8 = 'w-full md:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto' %}
{% assign wClass_6 = 'w-full md:w-10/12 lg:w-8/12 xl:w-6/12 max-w-screen-xl mx-auto' %}
{% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28' %}
{% assign pdClass_b = 'px-3 sm:px-6 md:px-0 pb-16 sm:pb-20 lg:pb-28' %}
{% assign titleBoxClass= 'mx-auto mb-12 w-11/12 sm:w-5/6 md:w-2/3 xl:w-2/5' %}
{% assign titleSize = 'text-2xl md:text-3xl font-bold' %}
{% assign descSize = 'text-sm sm:text-base text-gray-400' %}
{% assign titleDecoMy = 'block mt-4 mb-6' %}

{% assign absoluteContentBoxClass_8 = 'w-full laptop:w-10/12 lg:w-8/12 max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2 top-0' %}
{% assign absoluteContentBoxClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2' %}
{% assign absoluteContentClass = 'text-center sm:text-left absolute transform w-4/5 sm:w-1/2 xl:w-3/8 top-16 left-1/2 -translate-x-1/2  max-w-md sm:translate-x-0 sm:left-6 lg:left-0 sm:top-1/2 sm:-translate-y-1/2' %}

<div class="w-full relative overflow-hidden">
  <div class="absolute {{absoluteContentBoxClass}}">
    <div class="{{absoluteContentClass}} absolute">
      <h3 class="{{titleSize}}">
        <span class="text-cyan">Pita!Flow</span> for Tablets
      </h3>
      <h3 class="{{titleSize}}">
        Streamlining Productivity
      </h3>
      <p class="{{titleDecoMy}}"></p>
      <p class="{{descSize}}">
        An ecosystem of magnetic products that work seamlessly with your
        iPad Pro/Air to help you work more efficiently, whether you’re at
        home, the office, or a cafe. 
      </p>
    </div>
  </div>
  <picture>
    <source data-srcset="{{'page-magnetic-generation-seciton0.jpg' | asset_url}}" media="(min-width: 768px)">
    <img src="{{ placeholder_gif }}" data-src="{{'page-magnetic-generation-seciton0-m.jpg' | asset_url}}"
      alt="Pita!Flow Series" class="block w-full h-full object-cover lazyload">
  </picture>
</div>
<div class="{{wClass_8}} {{pdClass}}">
  <div class="{{titleBoxClass}}">
    <h3 class="{{titleSize}}">
      What is Pita!Flow?
    </h3>
    <p class="{{titleDecoMy}}"></p>
    <p class="{{descSize}}">
      Pita!Flow for Tablets is a system of magnetic accessories that fully
      integrate with your iPad. <br />
      Using the MagEZ Case 2, effortlessly switch between the MagEZ Stand,
      MagEZ Folio, and Magic Keyboard without affecting your productivity
      or the tablet’s functionality.
    </p>
  </div>
  {% render 'video-set' , name:'page-magnetic-generation-video', coverName:'page-magnetic-generation-seciton0-2' %}
</div>
<div class="pt-section section2 pt-flex pt-flex-center relative bg-black">
  <div class="pt-section-content">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6 text-center">
      Accelerate Your Productivity with Magnetically Attaching Accessories
    </h3>
  </div>
  <div class="pt-section-container">
    <div class="swiper-container" id="content-swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="pt-flex pt-flex-center">
            <div class="text-center pt-section-content">
              <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
                Attach your tablet or iPad Pro/Air to the raised
                MagEZ Stand for a comfortable view while you
                work.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="pt-flex pt-flex-center">
            <div class="text-center pt-section-content">
              <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
                MagEZ Case 2 is the key component to creating a
                seamless Pita!Flow experience. Its magnetic,
                ultra-thin design is fully compatible with the
                Apple Magic Keyboard and Pita!Flow accessories.
              </p>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="pt-flex pt-flex-center">
            <div class="text-center pt-section-content">
              <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
                A double-sided, protective folio for your iPad
                Pro/Air with a dual-angled stand.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-container" id="base-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="pt-anim-container">
          <div class="pt-anim-pictures relative">
            <img src="{{ placeholder_gif }}" data-src="{{
                              'product-ipad2021-case-seciton5-stand.png'
                                  | asset_url
                          }}" class="lazyload" />
            <div class="pt-anim-item absolute anim-item-1">
              <img src="{{ placeholder_gif }}" data-src="{{
                                  'product-ipad2021-case-seciton5-ipad.png'
                                      | asset_url
                              }}" alt="MagEZ Case for iPad 2021 Series" class="lazyload" />
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="pt-anim-container">
          <div class="pt-anim-pictures relative">
            <img src="{{ placeholder_gif }}" data-src="{{
                              'product-ipad2021-case-seciton5-keyboard.png'
                                  | asset_url
                          }}" class="lazyload" />
            <div class="pt-anim-item absolute anim-item-2">
              <img src="{{ placeholder_gif }}" data-src="{{
                                  'product-ipad2021-case-seciton5-ipad-2.png'
                                      | asset_url
                              }}" alt="MagEZ Case for iPad 2021 Series" class="lazyload" />
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="pt-anim-container">
          <div class="pt-anim-pictures relative">
            <img src="{{ placeholder_gif }}" data-src="{{
                              'product-ipad2021-case-seciton5-folio.png'
                                  | asset_url
                          }}" alt="MagEZ Case for iPad 2021 Series" class="lazyload" />
            <div class="pt-anim-item absolute anim-item-3">
              <img src="{{ placeholder_gif }}" data-src="{{
                                  'product-ipad2021-case-seciton5-ipad.png'
                                      | asset_url
                              }}" alt="MagEZ Case for iPad 2021 Series" class="lazyload" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
<div class="pt-section section3 pt-flex pt-flex-center bg-black">
  <div id="split-slider" class="covered">
    <div class="handle"></div>
    <div class="changeable"></div>
  </div>

  <div class="pt-section-content">
    <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">A Smooth Connection</h3>
    <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 pt-margin-bottom-small">
      MagEZ Case 2 is the key to providing a smooth and productive
      experience for iPad users. By magnetically connecting to the MagEZ
      Stand, MagEZ Folio, and Apple Keyboard, the iPad Pro/Air can
      seamlessly switch between each accessory without affecting device
      features or users’ workflow.
    </p>
  </div>
</div>
<div class="w-full bg-gray-850">
  <div class="{{wClass}} {{pdClass}} flex flex-col sm:flex-row justify-between items-center">
    <div class="w-full sm:w-1/2 sm:pr-40">
      <h3 class="{{titleSize}} mb-6">
        MagEZ Case 2
      </h3>
      <p class="{{descSize}} mb-8 sm:mb-12">
        An ultra-slim, Magic Keyboard compatible case that offers full
        functionality between devices, including pass-through charging,
        USB-C port access, and Apple Pencil attachment.
      </p>
    </div>
    <div class="w-full sm:w-1/2">
      <video loop muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
        x5-video-orientation="portraint" preload="none" autoplay style="object-fit: contain" class="lazyload width-100">
        <source src="{{ 'page-pitaflow-seciton4.mp4' | asset_url }}" type="video/mp4" />
        <source src="{{ 'page-pitaflow-seciton4.webm' | asset_url }}" type="video/webm" />
      </video>
    </div>

  </div>
</div>

<div class="w-full  bg-black">
  <div class="{{wClass}} {{pdClass}} flex flex-col sm:flex-row justify-between items-center">
    <div class="w-full sm:w-1/2">
      <div class="swiper-container w-full center-slides">
        <div class="swiper-wrapper">
          <div class="swiper-slide px-6 sm:px-0">
            <div class="w-full">
              <picture>
                <source data-srcset="{{'page-pitaflow-seciton5-part1.jpg' | asset_url}}" media="(min-width: 768px)">
                <img src="{{ placeholder_gif }}" data-src="{{'page-pitaflow-seciton5-part1-m.jpg' | asset_url}}"
                  alt="Pitaflow" class="block w-full h-full lazyload  bg-gray-850">
              </picture>
            </div>
          </div>
          <div class="swiper-slide px-6 sm:px-0">
            <div class="w-full">
              <picture>
                <source data-srcset="{{'page-pitaflow-seciton5-part2.jpg' | asset_url}}" media="(min-width: 768px)">
                <img src="{{ placeholder_gif }}" data-src="{{'page-pitaflow-seciton5-part2-m.jpg' | asset_url}}"
                  alt="Pitaflow" class="block w-full h-full lazyload  bg-gray-850">
              </picture>
            </div>
          </div>
          <div class="swiper-slide px-6 sm:px-0">
            <div class="w-full">
              <picture>
                <source data-srcset="{{'page-pitaflow-seciton5-part3.jpg' | asset_url}}" media="(min-width: 768px)">
                <img src="{{ placeholder_gif }}" data-src="{{'page-pitaflow-seciton5-part3-m.jpg' | asset_url}}"
                  alt="Pitaflow" class="block w-full h-full lazyload bg-gray-850">
              </picture>
            </div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
      </div>
    </div>
    <div class="w-full sm:w-1/2 sm:pl-40">
      <h3 class="{{titleSize}} mb-6">
        MagEZ Stand
      </h3>
      <p class="{{descSize}} mb-8 sm:mb-12">
        With its raised-mount design, MagEZ Stand turns your tablet into a
        monitor or second screen at a comfortable eye level. Without
        unsightly clips or ledges to hold the iPad in place, your tablet
        effortlessly attaches to the magnetic mount for a clear view and
        tidy workspace.
      </p>
      <p class="{{descSize}} ">
        *Attach any tablet weighing up to 2.2lbs using the metal sticker
        included.
      </p>
    </div>
  </div>
</div>

<div class="w-full  bg-gray-850">
  <div class="{{wClass}} {{pdClass}} flex flex-col sm:flex-row justify-between items-center">
    <div class="w-full sm:w-1/2 sm:pr-40">
      <h3 class="{{titleSize}} mb-6">
        MagEZ Folio
      </h3>
      <p class="{{descSize}} mb-8 sm:mb-12">
        Simply snap the magnetic folio onto the MagEZ Case 2 for protection
        on the go. Its open-sided design allows for a smooth attachment and
        full access to all iPad Pro/Air features..
      </p>
    </div>
    <div class="w-full sm:w-1/2">
      <video loop muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
        x5-video-orientation="portraint" preload="none" autoplay style="object-fit: contain" class="lazyload width-100">
        <source src="{{ 'page-pitaflow-seciton6.mp4' | asset_url }}" type="video/mp4" />
        <source src="{{ 'page-pitaflow-seciton6.webm' | asset_url }}" type="video/webm" />
      </video>
    </div>

  </div>
</div>

<div class="w-full bg-black">
  <div class="{{wClass_8}} {{pdClass}}">
    <div class="grid gap-4  grid-cols-1 sm:grid-cols-10">
      <div
        class="m-auto p-8 w-10/12 xs:w-7/12 sm:w-full sm:m-0 sm:col-span-4 sm:row-span-5 bg-gray-850 flex flex-col items-center justify-center">
        <div class="mb-6 sm:mb-12">
          <picture>
            <source data-srcset="{{
                      'page-magnetic-generation-section0-1-part-img1.png'
                          | asset_url
                  }}" media="(min-width: 769px)" />
            <img src="{{ placeholder_gif }}" data-src="{{
                      'page-magnetic-generation-section0-1-part-img1.png'
                          | asset_url
                  }}" class="object-cover lazyload" />
          </picture>
        </div>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          MagEZ Case 2 for <br />
          iPad Pro 2021
        </h3>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          $ 69.99
        </h3>
        {% render 'link-button',link_url: "/products/magez-case-2-for-ipad-pro-2021", link_title:'Shop Now',space_tight:true %}
      </div>
      <div
        class="m-auto p-8 w-10/12 xs:w-7/12 sm:w-full sm:m-0 sm:col-span-3 sm:row-span-3 bg-gray-850 flex flex-col items-center justify-center">
        <div class="mb-6">
          <picture>
            <source data-srcset="{{
                  'page-magnetic-generation-section0-1-part-img2.png'
                      | asset_url
              }}" media="(min-width: 769px)" />
            <img src="{{ placeholder_gif }}" data-src="{{
                  'page-magnetic-generation-section0-1-part-img2.png'
                      | asset_url
              }}" class="object-cover lazyload" />
          </picture>
        </div>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          MagEZ Stand
        </h3>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          $ 89.99
        </h3>
        {% render 'link-button',link_url: "/products/magez-stand", link_title:'Shop Now',space_tight:true %}
      </div>
      <div
        class="m-auto p-8 w-10/12 xs:w-7/12 sm:w-full sm:m-0 sm:col-span-3 sm:row-span-3  bg-gray-850 flex flex-col items-center justify-center">
        <div class="mb-6">
          <picture>
            <source data-srcset="{{
                              'page-magnetic-generation-section0-1-part-img3.png'
                                  | asset_url
                          }}" media="(min-width: 769px)" />
            <img src="{{ placeholder_gif }}" data-src="{{
                              'page-magnetic-generation-section0-1-part-img3.png'
                                  | asset_url
                          }}" class="img-responsive width-100 lazyload" />
          </picture>
        </div>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          MagEZ Folio
        </h3>
        <h3 class="text-xl md:text-2xl font-bold mb-3 xs:mb-6">
          $ 39.99
        </h3>
        {% render 'link-button',link_url: "/products/magez-folio", link_title:'Shop Now',space_tight:true %}
      </div>
      <div
        class="m-auto p-0 w-10/12 xs:w-7/12 sm:w-full sm:m-0 order-first sm:order-none sm:col-span-6 sm:row-span-2 relative">
        <picture>
          <source data-srcset="{{
                            'page-magnetic-generation-section0-1-part-img0.jpg'
                                | asset_url
                        }}" media="(min-width: 769px)" />
          <img src="{{ placeholder_gif }}" data-src="{{
                            'page-magnetic-generation-section0-1-part-img0-m.jpg'
                                | asset_url
                        }}" class="img-responsive width-100 lazyload" />
        </picture>
        <div
          class="absolute transform left-1/2 -translate-x-1/2 top-20 sm:transform-none sm:left-20 sm:top-1/2 sm:-translate-y-1/2">
          <h3 class="text-center text-xl md:text-2xl font-bold ">
            <span class="text-cyan">Pita!Flow</span>Bundles <br />Starting $79.99
          </h3>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="w-full swiper-container2 bg-black">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <picture class="width-100">
        <source data-srcset="{{
                      'page-magnetic-generation-seciton3-1.jpg' | asset_url
                  }}" media="(min-width: 769px )" />
        <img src="{{ placeholder_gif }}" data-src="{{
                      'page-magnetic-generation-seciton3-1-m.jpg' | asset_url
                  }}" class="img-responsive width-100 lazyload" alt="magnetic-generation" />
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="width-100">
        <source data-srcset="{{
                      'page-magnetic-generation-seciton3-2.jpg' | asset_url
                  }}" media="(min-width: 769px )" />
        <img src="{{ placeholder_gif }}" data-src="{{
                      'page-magnetic-generation-seciton3-2-m.jpg' | asset_url
                  }}" class="img-responsive width-100 lazyload" alt="magnetic-generation" />
      </picture>
    </div>
    <div class="swiper-slide">
      <picture class="width-100">
        <source data-srcset="{{
                      'page-magnetic-generation-seciton3-3.jpg' | asset_url
                  }}" media="(min-width: 769px )" />
        <img src="{{ placeholder_gif }}" data-src="{{
                      'page-magnetic-generation-seciton3-3-m.jpg' | asset_url
                  }}" class="img-responsive width-100 lazyload" alt="magnetic-generation" />
      </picture>
    </div>
  </div>
</div>

<style>
  .pt-section-detail {
    color: #9f9f9f;
  }

  .pt-section-content {
    max-width: 584px;
  }

  .section2 .pt-section-content {
    max-width: 684px;
  }

  .pt-section-content.text-center {
    width: 50%;
    /* max-width: unset !important; */
  }

  .section2,
  .section4,
  .section6 {
    background-color: #0e0e0f;
  }

  .section3 .pt-section-content {
    margin-left: 6em;
  }

  .pt-section .pt-section-picture {
    width: 50%;
  }

  .section0 .pt-section-content {
    left: 25%;
  }

  .section1.pt-flex {
    flex-direction: column;
  }

  .section5 .pt-section-picture img {
    margin-bottom: 16px;
  }

  .section2 {
    flex-direction: column;
  }

  .section2 .pt-section-container {
    width: 100%;
    padding: 1em 4.7vw;
  }

  .section2 .pt-section-container .pt-section-picture {
    padding-right: 10%;
  }

  @media screen and (min-width: 1960px) {
    .pt-section-content {
      max-width: 658px;
    }

    .pt-section-content.text-center {
      width: 40%;
    }
  }

  @media screen and (max-width: 1600px) {
    .pt-section-content {
      max-width: 520px;
    }
  }


  @media screen and (max-width: 768px) {
    .section3 {
      flex-direction: column-reverse;
    }

    .section3 .pt-section-content {
      margin-left: 0;
      margin-right: 0;
      order: 0;
    }

    .section4 .pt-section-content {
      order: 1;
    }

    .section6 .pt-section-content {
      order: 1;
    }

    .section3 #split-slider {
      order: 1;
    }

    .pt-section .pt-section-content {
      width: 90%;
      text-align: left;
      margin-bottom: 0 !important;
      padding-top: 1em;
      max-width: unset;
    }


    .pt-section .pt-section-picture {
      width: 100%;
    }


    .pt-section>.swiper-container {}

    .section0 .pt-section-content {
      top: 20%;
      left: 50%;
      transform: translateX(-50%);
      text-align: center !important;
    }

    .swiper-container .pt-section-content p {
      height: 63px;
    }

    .section2 .pt-section-container .pt-section-picture {
      padding-right: 0;
    }

  }

  @media screen and (max-width: 414px) {
    .section0 .pt-section-content {
      top: 10%;
      width: 80%;
    }

    .swiper-container .pt-section-content p {
      height: 126px;
    }
  }
</style>

<!-- anim-pictures -->
<style>
  .pt-anim-container {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    transform: scale(0.8);
  }

  .pt-anim-item {
    top: 0;
    right: 0;
  }

  .anim-item-1.active {
    transform: translate(-126px, 57px);
    transition: all 0.5s ease-in-out 0.1s;
  }

  .anim-item-2.active {
    transform: translate(-119.5px, 96px);
    transition: all 0.5s ease-in-out 0.1s;
  }

  .anim-item-3.active {
    transform: translate(-124px, 88px);
    transition: all 0.5s ease-in-out 0.1s;
  }

  .pt-anim-pictures {
    width: 440px;
    flex-shrink: 0;
  }

  .pt-anim-pictures img {
    display: block;
  }

  @media screen and (max-width: 1024px) {
    .pt-anim-container {
      width: 100%;
      transform: scale(0.7);
    }
  }

  @media screen and (max-width: 768px) {
    .pt-anim-container {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 414px) {
    .pt-anim-container {
      transform: scale(0.6);
    }
  }
</style>

<!-- split slider-->
{{ "coveringBad.js" | asset_url | script_tag }}
<style>
  /* covered */
  .covered {
    width: 386px;
    height: 432px;
    background-image: url("{{'product-ipad2021-case-seciton2-front.png' | asset_url }}");
    background-position: 30px 0;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 40px 5px rgba(0, 0, 0, .4); */
    position: relative;
  }

  .covered .changeable {
    background-position: 30px 0;
    background-repeat: no-repeat;
    background-image: url("{{'product-ipad2021-case-seciton2-back.png' | asset_url }}");
  }

  .covered .handle {
    position: absolute;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    margin-top: -23px;
    border-radius: 50%;
    text-align: center;
  }

  .covered .handle span {
    display: inline-block;
    margin: 15px 1px 0;
    color: #0bbcd4;
    opacity: 0.8;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -ms-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }

  .covered .handle.vertical {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .covered .handle:hover span {
    opacity: 1;
  }

  .covered .draggable {
    cursor: move;
  }

  .covered .draggable span {
    margin: 15px 4px 0;
    color: #0bbcd4;
    -webkit-transition: 0.1s ease-out;
    -moz-transition: 0.1s ease-out;
    -ms-transition: 0.1s ease-out;
    -o-transition: 0.1s ease-out;
    transition: 0.1s ease-out;
  }

  @media screen and (max-width: 1280px) {
    .covered {
      transform: scale(0.8);
    }
  }

  @media screen and (max-width: 768px) {
    .covered {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 414px) {
    .covered {
      transform: scale(0.75);
    }
  }
</style>

<!-- swiper css -->
<style>
  #base-swiper {
    width: 80%;
    height: 100%;
    padding-bottom: 2em;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background: none !important;
    top: unset;
    bottom: 0px;
    left: 40%;
  }

  #base-swiper>div[role="button"] {
    top: unset;
    width: 12px;
    height: 16px;
  }

  .swiper-button-next {
    left: unset;
    right: 40%;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    color: rgba(0, 0, 0, 0);
    display: block !important;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .swiper-pagination-bullet {
    width: 8px;
    border-radius: 0;
    height: 8px;
    background-color: #fff;
    opacity: 0.24;
    margin: 0 10px;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    height: 8px;
    background-color: #fff;
  }

  #base-swiper .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  @media screen and (min-width: 769px) {
    #base-swiper .swiper-slide {
      transition: 300ms;
      transform: scale(0.6);
    }

    #base-swiper .swiper-slide-active,
    #base-swiper .swiper-slide-duplicate-active {
      transform: scale(1);
    }
  }

  @media screen and (max-width: 1600px) {
    #base-swiper {
      width: 90%;
    }

    #base-swiper .swiper-slide {
      margin-top: -5%;
      margin-bottom: -5%;
    }

    #base-swiper .swiper-slide-active,
    #base-swiper .swiper-slide-duplicate-active {
      transform: scale(0.8);
    }
  }

  @media screen and (max-width: 768px) {
    #base-swiper {
      width: 100%;
    }

    #base-swiper .swiper-slide {
      width: 100% !important;
    }
  }

  @media screen and (max-width: 414px) {
    #base-swiper {
      padding-bottom: 0;
      /* margin-bottom: -15%; */
      margin-top: -15%;
    }

    .swiper-button-prev {
      left: 20%;
    }

    .swiper-button-next {
      right: 20%;
    }
  }
</style>

<!-- modal scripts -->
<script>
  $(function () {
    $(".play-btn").click(function (e) {
      e.stopPropagation();
      var modal = $(this).data("target");
      $(".modal-mask").show();
      $(modal).addClass("open").removeClass("out");
      const id = modal.substr(1);
      var video = document.getElementById(id).querySelector("video");
      video.play();

      $(document).click(function (e) {
        var _con = $(modal);
        if (!_con.is(e.target) && _con.has(e.target).length === 0) {
          video.pause();
          _con.removeClass("open").addClass("out");
          $(".modal-mask").hide();
        }
      });
    });
    $(".pt-modal-close").click(function (e) {
      e.stopPropagation();
      var video = document
        .querySelector(".pt-modal-container.open")
        .querySelector("video");
      if (video) {
        video.pause();
        $(".modal-mask").hide();
      }
      $(this)
        .parents(".pt-modal-container")
        .removeClass("open")
        .addClass("out");
    });
  });
</script>

{{ "swiper.min.js" | asset_url | script_tag }}
<script>
  $("#split-slider").coveringBad();
  var swiper_content = new Swiper("#content-swiper", {
    loop: true,
    observer: true,
    observeParents: true,
    on: {
      touchEnd: function () {
        var n =
          $("#content-swiper")
          .find(".swiper-slide-active")
          .attr("data-swiper-slide-index") || 0;
        var index = Number(n);
        swiper_base.slideTo(index + 1, 300, false);
      },
    },
  });
  var swiper_base = new Swiper("#base-swiper", {
    autoplay: {
      delay: 3000,
    },
    slidesPerView: 3,
    observer: true,
    observeParents: true,
    spaceBetween: 0,
    centeredSlides: true,
    loop: true,
    pagination: {
      el: ".swiper-pagination",
      clickable: true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    on: {
      init: function (swiper) {
        this.emit("slideChangeTransitionEnd");
      },
      slideChangeTransitionEnd: function () {
        $("#base-swiper")
          .find(".swiper-slide")
          .find(".pt-anim-item")
          .removeClass("active");
        $("#base-swiper")
          .find(".swiper-slide-active")
          .find(".pt-anim-item")
          .addClass("active");

        var n =
          $("#base-swiper")
          .find(".swiper-slide-active")
          .attr("data-swiper-slide-index") || 0;
        var index = Number(n);
        swiper_content.slideTo(index + 1, 300, false);
      },
    },
  });

  if (window.innerWidth < 769) {
    swiper_base.params.slidesPerView = 1;
    swiper_base.params.centeredSlides = false;
  }
</script>

<script>
  var galleryTop = new Swiper(".swiper-container2", {
    autoplay: {
      delay: 5000,
    },
    loop: true,
    observer: true,
    observeParents: true,
    navigation: {
      nextEl: ".swiper-button-next2",
      prevEl: ".swiper-button-prev2",
    },
  });
</script>

<style>
  #base-swiper>div[role="button"]:after {
    background: url({{'triggle_pixel.svg' | asset_url}}) no-repeat;
  }

  #base-swiper .swiper-button-prev {
    transform: rotate(-180deg);
    bottom: 24px !important;
  }
</style>

{{'jquery.scrollTo.min.js' | asset_url | script_tag }}

{{ 'TweenMax.min.js' | asset_url | script_tag }}
{{ 'ScrollMagic.js' | asset_url | script_tag }}
{{ 'animation.gsap.min.js' | asset_url | script_tag }}
<script>
  var video = document.getElementById("modal-video").querySelector("video");
  $(".play-btn").on('click', function (e) {
    e.stopPropagation();
    var modal = $(this).data("target");
    $(modal).css({
      'opacity': 1,
      'z-index': 1
    });
    video.play();
  });
  // init controller
  var controller = new ScrollMagic.Controller();

  var scene_toggle = new ScrollMagic.Scene({
      triggerElement: "#trigger-video",
      offset: -50
    })
    .on('enter leave', function (e) {
      if (video.readyState) {
        if (e.type == "enter") {
          $(".play-btn").click();
        } else {
          video.pause();
          $("#modal-video").css({
            'opacity': 0,
            'z-index': -1
          });
        }
      }
    })
    .addTo(controller)
</script>


<style>
  .center-slides {
    padding-bottom: 2rem;
    overflow: hidden;
  }

  .center-slides .swiper-slide {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    transition: 300ms;
    transform: scale(1);
  }

  .center-slides>div[role="button"] {
    top: 45%;
    width: 12px;
    height: 16px;
  }

  .center-slides>div[role="button"]:after {
    content: '';
    width: 100%;
    height: 100%;
    background: url({{'triggle_pixel.svg' | asset_url}}) no-repeat;
    background-size: contain;
  }

  .center-slides .swiper-button-next {
    right: 0;
  }

  .center-slides .swiper-button-prev {
    left: 0;
    transform: rotate(-180deg);
  }

  .center-slides .swiper-pagination-bullets {
    display: flex;
    justify-content: center;
    margin: 0 -0.4rem;
  }

  .center-slides .square-bullet {
    width: 8px;
    height: 8px;
    background-color: #565557;
    display: block;
    margin: 0 .4rem;
  }

  .center-slides .swiper-pagination-bullet-active {
    background-color: #fff;
  }

  @media screen and (min-width:768px) {
    .center-slides {
      margin: 0;
      padding-bottom: 4rem;
    }

    .center-slides>div[role="button"] {
      top: unset;
      bottom: 6px;
      margin: 0;
    }

    .center-slides .swiper-button-next {
      right: calc(50% - 153.2px);
    }

    .center-slides .swiper-button-prev {
      left: calc(50% - 153.2px);
    }
  }
</style>

<script>
  var swiper_center = new Swiper('.center-slides', {
    slidesPerView: 1,
    spaceBetween: 0,
    loop: true,
    centeredSlides: true,
    breakpoints: {
      768: {
        slidesPerView: 1,
        spaceBetween: 16
      },
      1280: {
        slidesPerView: 1,
        spaceBetween: 24
      }
    },
    pagination: {
      el: '.swiper-pagination',
      bulletClass: 'square-bullet',
      clickable: true,
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
  });
</script>