{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}
<div class="section-default section0 pt-section pt-flex pt-flex-column pt-flex-center">
    <div class="pt-section-content text-center pt-margin-bottom-large">
      <h3 class="pt-section-title-large  text-2xl sm:text-3xl font-bold mb-2 fw-400 font-upper">
        Carbon Excellence
      </h3>
    </div>
    <picture>
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section0-watch-band.png' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive lazyload">
    </picture>
  </div>
  
  <div class="section-default section1 relative">
    <div class="pt-section-content absolute pt-position-center text-center">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        100% Carbon Fiber Links
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Crafted from fine-weave 1K carbon fiber, the watch strap is not only unique but also extremely durable.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-section1-watch-band.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section1-watch-band-m.jpg' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section2 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Streamlined Style
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        The minimalist, yet stand-out aesthetic of the black carbon fiber watch band is a fashionable addition to any
        Apple Watch.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-section2-watch-band.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section2-watch-band-m.jpg' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default pt-section section3 pt-flex pt-flex-column pt-flex-center">
    <picture>
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section3-watch-band.png' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive lazyload">
    </picture>
  
    <div class="pt-section-content text-center pt-margin-top-large">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Compatible With All Apple Watch Models
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Attach the link bracelet strap to your Apple Watch Series 7-1 & SE, 38/40, 42/44 & 41/45mm.
      </p>
    </div>
  </div>
  
  <div class="section-default section4 relative">
    <div class="pt-section-content absolute pt-position-centerY pt-position-right">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Fits Any Wrist
      </h3>
      <p class="pt-section-detail text-base text-white mb-8 sm:mb-12 ">
        Easily adjust the watch band bracelet by adding or removing links using the tool provided.
      </p>
      <p class="pt-text-small pt-margin-top-mini">
        <a href="#section-tabs" class="pt-link" id="link_to_faqs">
          *Fits wrist sizes of up to 7.5in/190mm (Retro) and 8.1in/205mm (Modern). Does not include Apple Watch.
        </a>
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-section4-watch-band.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section4-watch-band-m.jpg' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section5 relative">
    <div class="pt-section-content absolute pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Light and Comfortable
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Made from long-lasting and lightweight carbon fiber for all-day comfort.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-section5-watch-band.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section5-watch-band-m.jpg' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section6 relative">
    <div class="pt-section-content absolute pt-position-centerY pt-position-right">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        A Secure Magnetic Clasp
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Keep your watch firmly in place with our patented magnetic fastener and security lock.
      </p>
    </div>
    <picture>
      <source data-srcset="{{ 'product-section6-watch-band.jpg' | asset_url }}" media="(min-width: 769px)">
      <img src="{{ placeholder_gif }}" data-src="{{ 'product-section6-watch-band-m.jpg' | asset_url }}"
        alt="Carbon Fiber Watch Band" class="img-responsive width-100 lazyload">
    </picture>
  </div>
  
  <div class="section-default section7 relative">
    <div class="absolute pt-section-content pt-position-centerY">
      <h3 class="pt-section-title text-2xl sm:text-3xl font-bold mb-6">
        Modern & Retro
      </h3>
      <p class="pt-section-detail text-base text-gray-400 mb-8 sm:mb-12 ">
        Choose from two luxury Apple Watch band styles that fit your look.
      </p>
      <div class="toggle-btns pt-margin-top-small">
        <div class="toggle-btn active" data-name="modern">
          <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 70.9 73.4" style="enable-background:new 0 0 70.9 73.4;" xml:space="preserve">
            <g>
              <rect x="7.4" y="7.7" class="st0" width="56" height="27.6" />
              <rect x="7.4" y="38.1" class="st0" width="56" height="27.6" />
            </g>
          </svg>
          <span class="pt-text-small fw-500">Modern</span>
        </div>
        <div class="toggle-btn" data-name="retro">
          <svg version="1.1" id="图层_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px" y="0px" viewBox="0 0 70.9 73.4" style="enable-background:new 0 0 70.9 73.4;" xml:space="preserve">
            <path class="st0" d="M50.2,10.7v2.7v3h3h7.2v19.4h-4.2v-2.7v-3h-3H17.7h-3v3v2.7h-4.2V16.4h7.2h3v-3v-2.7H50.2 M53.2,7.7H17.7v5.7
              H7.4v25.4h10.2v-5.7h35.6v5.7h10.2V13.4H53.2V7.7L53.2,7.7z" />
            <path class="st0" d="M50.2,37.5v2.7v3h3h7.2v19.4h-4.2V60v-3h-3H17.7h-3v3v2.7h-4.2V43.3h7.2h3v-3v-2.7H50.2 M53.2,34.5H17.7v5.7
              H7.4v25.4h10.2V60h35.6v5.7h10.2V40.3H53.2V34.5L53.2,34.5z" />
          </svg>
          <span class="pt-text-small fw-500">Retro</span>
        </div>
      </div>
    </div>
  
    <div class="toggle-pictures width-100">
      <picture class="toggle-bg active" id="bg_modern">
        <source srcset="{{ 'product-section7-watch-band-modern.jpg' | asset_url }}" media="(min-width: 769px)">
        <img srcset="{{ 'product-section7-watch-band-modern-m.jpg' | asset_url }}" alt="Carbon Fiber Watch Band"
          class="img-responsive width-100 lazyload">
      </picture>
  
      <picture class="toggle-bg" id="bg_retro">
        <source media="(min-width: 769px)" srcset="{{'product-section7-watch-band-retro.jpg' | asset_url }}" />
        <img src="{{ 'product-section7-watch-band-retro-m.jpg' | asset_url }}" class="img-responsive width-100 lazyload"
          alt="Carbon Fiber Watch Band" />
      </picture>
    </div>
  
  </div>
  
  <style>
    .pt-section {
      padding-top: 5em;
      padding-bottom: 5em;
    }
  
    .pt-section-content {
      max-width: 428px;
    }
  
    .pt-section-content.text-center {
      width: 47%;
      max-width: 545px;
    }
  
    .section6 .pt-section-content {
      top: 40%;
    }
  
    .toggle-btns {
      display: flex;
    }
  
    .toggle-btn {
      display: flex;
      align-items: center;
      padding: 5px 8px;
      border: 2px solid #a2a2a2;
      width: max-content;
      cursor: pointer;
    }
  
    .toggle-btn span {
      color: #a2a2a2;
      margin: 0 !important;
    }
  
    .toggle-btn:first-child {
      margin-right: 1em;
    }
  
    .toggle-btn:last-child {
      margin-left: 1em;
    }
  
    .toggle-btn svg {
      width: 20px;
      margin-right: 5px;
    }
  
    .toggle-btn .st0 {
      fill: #a2a2a2;
    }
  
    .toggle-btn.active {
      background: #fff;
      border-color: #fff;
    }
  
    .toggle-btn.active span {
      color: #000;
    }
  
    .toggle-btn.active .st0 {
      fill: #000;
    }
  
    .toggle-bg {
      display: none;
    }
  
    .toggle-bg.active {
      display: block;
    }
  
    @media screen and (min-width: 1960px) {
      .pt-section-content {
        max-width: 468px;
      }
  
      .pt-section-content.text-center {
        width: 48%;
        max-width: 628px;
      }
    }
  
    @media screen and (max-width:1600px) {
      .pt-section-content {
        max-width: 362px;
      }
  
      .pt-section .pt-section-content {
        max-width: 388px;
      }
  
      .pt-section img {
        max-width: 70%;
        margin: 0 auto;
      }
    }
  
    @media screen and (max-width:1024px) {
      .pt-section-content {
        max-width: 282px;
      }
  
      .section2 .pt-section-content {
        max-width: 284px;
      }
  
      .section5 .pt-section-content {
        max-width: 288px;
      }
    }
  
    @media screen and (max-width:768px) {
      .pt-section-content {
        width: 100% !important;
        padding: 0 25%;
        left: 0;
        top: 5em !important;
        transform: none;
        text-align: center;
        max-width: unset !important;
      }
  
      .pt-section .pt-section-content {
        max-width: 338px;
      }
  
      .section0 .pt-section-content {
        margin-bottom: 5em;
      }
  
      .section3 .pt-section-content {
        margin-top: 5em;
      }
  
      .section2 .pt-section-content {
        padding: 0 20%;
      }
  
      .toggle-btns {
        justify-content: center;
      }
    }
  
    @media screen and (max-width:414px) {
  
      .pt-section-content,
      .section2 .pt-section-content {
        padding: 0 10%;
        top: 3em !important;
      }
  
      .pt-section .pt-section-content {
        padding: 0 3vw;
      }
  
      .pt-section img {
        max-width: 90%;
      }
    }
  </style>
  
  
  <script>
    $(function () {
      $('.toggle-btns').on('click', '.toggle-btn', function () {
        var toggle_model = $(this).data('name');
        var this_active = $(this).hasClass('active');
        var toggle_target = `#bg_${toggle_model}`;
  
        if (this_active) {
          return
        } else {
          $(this).addClass('active').siblings().removeClass('active');
          var svg, svg_active;
  
          if (toggle_model == "modern") {
            svg = `<path class="st0" d="M50.2,10.7v2.7v3h3h7.2v19.4h-4.2v-2.7v-3h-3H17.7h-3v3v2.7h-4.2V16.4h7.2h3v-3v-2.7H50.2 M53.2,7.7H17.7v5.7
                H7.4v25.4h10.2v-5.7h35.6v5.7h10.2V13.4H53.2V7.7L53.2,7.7z"/>
              <path class="st0" d="M50.2,37.5v2.7v3h3h7.2v19.4h-4.2V60v-3h-3H17.7h-3v3v2.7h-4.2V43.3h7.2h3v-3v-2.7H50.2 M53.2,34.5H17.7v5.7
                H7.4v25.4h10.2V60h35.6v5.7h10.2V40.3H53.2V34.5L53.2,34.5z"/>`;
            svg_active = `<g>
              <rect x="7.4" y="7.7" class="st0" width="56" height="27.6"/>
              <rect x="7.4" y="38.1" class="st0" width="56" height="27.6"/>
              </g>`;
          } else {
            svg = `<path class="st0" d="M59.4,11.7v19.6h-48V11.7H59.4 M63.4,7.7h-56v27.6h56V7.7L63.4,7.7z"/>
              <path class="st0" d="M59.4,42.1v19.6h-48V42.1H59.4 M63.4,38.1h-56v27.6h56V38.1L63.4,38.1z"/>`;
            svg_active = `<g>
              <polygon class="st0" points="53.2,13.4 53.2,7.7 17.7,7.7 17.7,13.4 7.4,13.4 7.4,38.9 17.7,38.9 17.7,33.1 53.2,33.1 53.2,38.9 
                63.4,38.9 63.4,13.4 	"/>
              <polygon class="st0" points="53.2,40.3 53.2,34.5 17.7,34.5 17.7,40.3 7.4,40.3 7.4,65.7 17.7,65.7 17.7,60 53.2,60 53.2,65.7 
                63.4,65.7 63.4,40.3 	"/>
            </g>`;
          }
          $(this).siblings().find('svg').html(svg);
          $(this).find('svg').html(svg_active);
          $(toggle_target).addClass('active').siblings().removeClass('active');
        }
      })
      $("#link_to_faqs").click(function(){
        $("#section-tabs").find(".section-tab").eq(2).click();
      })
    })
  </script>