<style>
  .margin0{
    margin: 0;
  }

  .privy-embed-form iframe {
    max-width: unset !important
  }

  .i13-hero .pt-section-content {
    width:35%;
    max-width: 480px;
  }

  #privy-container #privy-inner-container *[tabindex]:focus{
    outline: none !important;
  }



  @media screen and (max-width:640px) {
    .privy-embed-form {
      transform: scale(0.8);
    }

  }

  .section-air h3, .section-air p {color:#333!important}
  
  
  
  @media screen and (max-width:767px) {
    .section-bg {background:url("{{ 'signup-iPhone-new-2021-s.jpg' | asset_url }}") center center no-repeat;}
      .pt-8 {padding-top:2vh;}
      .ab-center, .sub-btm {width:86%; margin:50px auto;}
      .sm-top {top:20%; left:14%!important; right:unset!important; width:72%; margin:0 auto; text-align:center;}
      .sm-btm {top:80%; left:14%!important; right:unset!important; width:72%!important; margin:0 auto; text-align:center;}
      .sm-btm p, .sm-btm h3 {font-size:85%;}
      .i13-hero .pt-section-content {width:72%!important;}
      .section-bg {min-height:70vh;}
  }
  @media screen and (max-width:1599px) and (min-width:768px) {
    .section-bg {background:url("{{ 'signup-iPhone-new-2021-m.jpg' | asset_url }}") center center no-repeat;}
      .pt-8 {padding-top:8vh;}
       .ab-center {width:90%; margin:50px auto;}
      .medium-hidden {display:none; visibility:hidden;}
      .section-bg {min-height:90vh;}
  }
  @media screen and (min-width:1600px) {
    .section-bg {background:url("{{ 'signup-iPhone-new-2021.jpg' | asset_url }}") center center no-repeat;}
      .pt-8 {padding-top:12vh;}
        .ab-center {max-width:420px; margin:50px auto;}
      .section-bg {min-height:90vh;}
  }
</style>


<div class="section relative i13-hero">
  <div class="absolute pt-section-content pt-position-centerY sm-btm">
    <h1 class="pt-section-title-large">New iPhone 2021 Cases</h1>
    <h3 class="pt-section-title-small pt-margin-top-mini">
      Arriving Fall, 2021
    </h3>
    <br>
    <p>Three eye-catching cases with a minimalist aesthetic made to protect and accentuate the flawless design of your new iPhone 2021.</p>
    <br>
    <p>Sign up now to be the first to hear when we launch.</p>
    <div class="privy-embed-form" data-campaign="2709863"></div>
  </div>

  <picture>
    <source srcset="{{ 'new-iphone-cases-for-2021.jpg' | asset_url }}" media="(min-width: 1440px)">
    <source srcset="{{ 'new-iphone-cases-for-2021-m.jpg' | asset_url }}" media="(min-width: 768px)">
    <img srcset="{{ 'new-iphone-cases-for-2021-s.jpg' | asset_url }}" alt="New iPhone 2021 Cases" class="img-responsive">
  </picture>
</div>

<div class="section section4 relative">
  <div class="pt-section-content absolute pt-position-centerY pt-position-right sm-top">
    <h3 class="pt-section-title">
      New MagEZ Case Pro
    </h3>
    <p class="pt-section-detail">
      Drop-tested protection fused with minimalist style <br class="small-hidden">and MagSafe compatibility. 
    </p>
  </div>
  <picture>
    <source srcset="{{ 'magez-case-for-iPhone-new-2021.jpg' | asset_url }}" media="(min-width: 1440px)">
    <source srcset="{{ 'magez-case-for-iPhone-new-2021-m.jpg' | asset_url }}" media="(min-width: 768px)">
    <img srcset="{{ 'magez-case-for-iPhone-new-2021-s.jpg' | asset_url }}" alt="MagEZ Case for New iPhone 2021" class="img-responsive">
  </picture>
</div>

<div class="section section5 relative">
  <div class="pt-section-content absolute pt-position-centerY sm-top">
    <h3 class="pt-section-title">
      MagEZ Case 2
    </h3>
    <p class="pt-section-detail pt-margin-bottom-small">
      A robust, vacuum-formed case with MagSafe compatibility <br class="small-hidden medium-hidden">that showcases your new iPhone 2021 while protecting it from <br class="small-hidden medium-hidden">daily wear and tear. Available in five eye-catching colors.
  </div>
  <picture>
    <source srcset="{{ 'magez-case2-for-iPhone-new-2021.jpg' | asset_url }}" media="(min-width: 1440px)">
    <source srcset="{{ 'magez-case2-for-iPhone-new-2021-m.jpg' | asset_url }}" media="(min-width: 768px)">
    <img srcset="{{ 'magez-case2-for-iPhone-new-2021-s.jpg' | asset_url }}" alt="MagEZ Case 2 for New iPhone 2021" class="img-responsive">
  </picture>
</div>
<div class="section section-air relative">
  <div class="pt-section-content absolute pt-position-centerY pt-position-right sm-top">
    <h3 class="pt-section-title">
      Air Case
    </h3>
    <p class="pt-section-detail">
      Incredibly thin, lightweight, and meticulously <br class="small-hidden">crafted from delicate aramid fiber for a luxurious, <br class="small-hidden">yet minimalist finish.
    </p>
  </div>
  <picture>
    <source srcset="{{ 'air-case-for-iPhone-new-2021.jpg' | asset_url }}" media="(min-width: 1440px)">
    <source srcset="{{ 'air-case-for-iPhone-new-2021-m.jpg' | asset_url }}" media="(min-width: 768px)">
    <img srcset="{{ 'air-case-for-iPhone-new-2021-s.jpg' | asset_url }}" alt="Air Case for New iPhone 2021" class="img-responsive">
  </picture>
</div>

<div class="section section-bg relative">
  <div class="pt-section-content text-center absolute pt-position-centerX sub-btm">
    <h3 class="pt-section-title pt-8">
      Choose a case from the list below and <br class="small-hidden medium-hidden">you’ll be the first to know when it’s released.
    </h3>
    <div class="ab-center">
      <div class="privy-embed-form" data-campaign="2709863"></div>
    </div>
  </div>