{% assign wClass = 'w-full sm:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_9 = 'w-full sm:w-11/12 lg:w-10/12 xl:w-9/12 max-w-screen-xl mx-auto' %}
{% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28' %}
{% assign titleSize = 'text-2xl sm:text-3xl font-bold' %}
{% assign subTitleSize = 'text-xl sm:text-2xl font-bold' %}
{% assign descSize = 'text-sm sm:text-base' %}

{{'swiper-bundle.min.css' | asset_url| stylesheet_tag }}
{{ 'timber-multiple.js' | asset_url | script_tag }}

<div class="collection-hero relative">
  <div
    class="absolute top-14 sm:top-20 xl:top-24 left-1/2 w-4/5 sm:w-1/2 lg:w-1/3 transform -translate-x-1/2 text-center">
    <h1 class="text-2xl sm:text-3xl md:text-4xl font-bold mb-2 sm:mb-4">
      Pita!Flow for Phones
    </h1>
    <h2 class="font-normal text-lg sm:text-xl">
      Simplify Your Life
    </h2>
  </div>
  <picture>
    <source data-srcset="{{ 'pitaflow-for-phones-section-hero.webp' | asset_url}}" media="(min-width: 1280px)">
    <source data-srcset="{{ 'pitaflow-for-phones-section-hero-m.webp' | asset_url}}" media="(min-width: 1025px)">
    <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section-hero-s.webp' | asset_url}}"
      alt="Pita!Flow for Phones" class="block w-full lazyload">
  </picture>
</div>

<div class="{{wClass}} {{pdClass}} text-center">
  <p class="block w-11/12 sm:w-4/5 lg:w-3/5 mx-auto text-base sm:text-lg mb-12 sm:mb-16 lg:mb-20">
    Pita!Flow for Phones is an ecosystem of magnetic products that help you use your mobile literally anytime
    and anywhere to streamline your life. It is built on MagEZ 2.0 technology.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    <div class="grid-box col-span-1 md:col-span-2 relative overflow-hidden">
      <picture>
        <source data-srcset="{{ 'pitaflow-for-phones-section2-1.webp' | asset_url}}" media="(min-width: 1025px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section2-1-s.webp' | asset_url}}"
          alt="Pita!Flow for Phones" class="block w-full md:h-full object-cover lazyload">
      </picture>
      <div
        class="md:absolute px-3 px-3 py-12 bg-gray-800 md:p-0 transition duration-500 inset-0 flex items-center justify-center md:opacity-0 transform md:-translate-y-full">
        <div class="w-11/12 lg:w-3/5 xl:w-1/2">
          <h3 class="{{subTitleSize}} mb-6">
            Connecting Your Phone with<br>
            the PITAKA MagEZ System
          </h3>
          <p class="{{descSize}} mb-6">
            To let your phone effortlessly flow from one place to another, firstly, you need a MagEZ 2.0 Case.
            With a strong MagSafe magnet array embedded, the case allows your phone to connect to various magnetic
            accessories to enjoy the convenience of PITAKA's Magnetic System. Of course,
            an iPhone with MagSafe capacity will do without the case.
          </p>

          <div class="bg-cyan inline-block px-6 py-2">
            <a class="text-white {{descSize}}" href="/collections/pitaka-cases?t=iphone-cases">Browes Case</a>
          </div>
        </div>
      </div>
    </div>
    <div class="grid-box col-span-1 md:row-span-2 relative overflow-hidden">
      <picture>
        <source data-srcset="{{ 'pitaflow-for-phones-section2-2.webp' | asset_url}}" media="(min-width: 1025px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section2-2-s.webp' | asset_url}}"
          alt="Pita!Flow for Phones" class="block w-full md:h-full object-cover lazyload">
      </picture>
      <div
        class="md:absolute px-3 px-3 py-12 bg-gray-800 md:p-0 text-left md:text-center transition duration-500 inset-0 flex items-center justify-center md:opacity-0 transform md:-translate-x-full">
        <div class="w-full md:w-4/5 xl:w-2/3">
          <h4 class="{{subTitleSize}} mb-6">
            Effortlessly Keep Your Phone Energized with Pita!Flow Chargers
          </h4>
          <p class="{{descSize}}">
            Snap your phone onto the compact wireless charger MagEZ Slider to power it up at your desk.
            And slide it out with the MagSafe power bank to charge on the go when needed.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-box col-span-1 md:row-span-1 relative overflow-hidden">
      <picture>
        <source data-srcset="{{ 'pitaflow-for-phones-section2-3.webp' | asset_url}}" media="(min-width: 1280px)">
        <source data-srcset="{{ 'pitaflow-for-phones-section2-3-m.webp' | asset_url}}" media="(min-width: 1025px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section2-3-s.webp' | asset_url}}"
          alt="Pita!Flow for Phones" class="block w-full md:h-full object-cover lazyload">
      </picture>
      <div
        class="md:absolute px-3 px-3 py-12 bg-gray-800 md:p-0 text-left md:text-center transition duration-500 inset-0 flex items-center justify-center md:opacity-0 transform md:translate-x-full">
        <div class="w-full md:w-4/5 xl:w-3/5">
          <h4 class="{{subTitleSize}} mb-6">
            Reliable Mounting and<br>
            Charging on the Road
          </h4>
          <p class="{{descSize}}">
            Attach your mobile to the MagEZ Car Mount Pro with a single hand, and rest assured
            that it's firmly held in place even on the bumpiest road while charging.
            Your phone will always be ready for your next adventure.
          </p>
        </div>
      </div>
    </div>

    <div class="grid-box col-span-1 md:row-span-1 relative overflow-hidden">

      <picture>
        <source data-srcset="{{ 'pitaflow-for-phones-section2-4.webp' | asset_url}}" media="(min-width: 1280px)">
        <source data-srcset="{{ 'pitaflow-for-phones-section2-4-m.webp' | asset_url}}" media="(min-width: 1025px)">
        <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section2-4-s.webp' | asset_url}}"
          alt="Pita!Flow for Phones" class="block w-full md:h-full object-cover lazyload">
      </picture>
      <div
        class="md:absolute px-3 px-3 py-12 bg-gray-800 md:p-0 text-left md:text-center transition duration-500 inset-0 flex items-center justify-center md:opacity-0 transform md:translate-x-full">
        <div class="w-full md:w-4/5 xl:w-3/5">
          <h4 class="{{subTitleSize}} mb-6">
            Everyday Carrying Simplified
          </h4>
          <p class="{{descSize}}">
            Need to carry your cards but don't want to take your fat wallet with you?
            Snap the MagEZ Card Sleeve 3 to the back of your phone, and you can easily access your cards while you're on
            the go.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="{{wClass_9}} {{pdClass}} pt-8">
  <div class="text-center mb-20">
    <h3 class="{{titleSize}} mb-4">
      Discover PITAKA MagEZ 2.0
    </h3>
    <p class="{{descSize}}">
      the New Tech Employed on Pita!flow for Phone
    </p>
  </div>
  <div class="flex flex-wrap-reverse laptop:flex-wrap justify-between items-center">
    <div class="w-11/12 mx-auto laptop:mx-0 xl:mx-auto laptop:w-4/9 xl:w-3/8 mt-20 text-center laptop:text-left laptop:mt-0">
      <h4 class="{{subTitleSize}} mb-10">
        About MagEZ 2.0
      </h4>
      <p class="{{descSize}} mb-6">
        Since 2017, we have been building a MagEZ system based on magnets, consisting of magnetic car mounts,
        magnetic wallets, magnetic power banks and magnetic iPad stands. Our goal is to offer you the convenience
        of magnetic connectivity through a seamless ecosystem of products to simplify your life.
      </p>
      <p class="{{descSize}} mb-6">
        We used metal plates and magnets to create magnetic items at the beginning. After Apple released the new
        MagSafe, we decided to upgrade our system to MagEZ 2.0 to embrace the MagSafe technology as we think MagSafe
        will become the dominant trend and a unified system will benefit us all.
      </p>
      <p class="{{descSize}} mb-6">
        The MagEZ 2.0 system includes MagSafe compatible phone cases, wireless chargers, car mounts, and wallets,
        which not only work with iPhones with MagSafe capacity but also the Samsung phones like the newest Galaxy S22
        Series. And we will continue to create more ingenious designs and bring unparalleled experience to your everyday
        life.
      </p>

      <p class="{{descSize}} mb-10">
        <a href="/collections/magez-system" class="underline italic">Click here</a>
        to view the compatibility of MagEZ 1.0 and 2.0 systems.
      </p>

      <div class="bg-cyan inline-block px-6 py-2">
        <a class="text-white {{descSize}}" href="/collections/magez-system">View More Details on MagEZ Tech</a>
      </div>

    </div>

    <div class="w-full laptop:w-1/2 xl:w-4/9 flex justify-center laptop:justify-end">
      <div class="w-4/9 xl:w-2/5 mr-3 sm:mr-6 text-center">
        {{ 'pitaflow-for-phones-section3-1.webp' | asset_url | img_tag:'MagEZ 1.0 Series','block w-full' }}
        <p class="font-bold text-sm sm:text-base mt-8">
          MagEZ 1.0 Series
        </p>
      </div>
      <div class="w-4/9 xl:w-2/5 ml-3 sm:ml-6 text-center">
        {{ 'pitaflow-for-phones-section3-2.webp' | asset_url | img_tag:'MagEZ 1.0 Series','block w-full' }}
        <p class="font-bold text-sm sm:text-base mt-8">
          MagEZ 2.0 Series
        </p>
      </div>
    </div>
  </div>
</div>

<div class="swiper-container bundle-slider">
  <div class="swiper-wrapper">
    <div class="swiper-slide w-full flex flex-wrap">
      <div class="w-full sm:w-5/9 lg:w-2/3">
        <picture>
          <source data-srcset="{{ 'pitaflow-for-phones-section4-1.webp' | asset_url}}" media="(min-width: 1280px)">
          <source data-srcset="{{ 'pitaflow-for-phones-section4-1-m.webp' | asset_url}}" media="(min-width: 1025px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section4-1-s.webp' | asset_url}}"
            alt="Pita!Flow for Phones" class="block w-full lazyload">
        </picture>
      </div>
      <div class="w-full pt-12 sm:pt-0 sm:w-4/9 lg:w-1/3 flex justify-center items-center sm:bg-gray-800">
        <div class="swiper-no-swiping inline-block text-center sm:text-left">
          <h3 class="{{titleSize}} mb-2">
            Full Bundle
          </h3>
          <p class="{{descSize}}">Pita!Flow for Phones</p>

          <div class="mt-12 sm:mt-16 xl:mt-20">
            <p class="{{descSize}} mb-6">
              <span class="block mb-2">Includes:</span>
              <span class="block mb-2">1x iPhone Case for iPhone 13 Series</span>
              <span class="block mb-2">1x MagEZ Slider</span>
              <span class="block mb-2">1x MagEZ Car Mount Pro/Lite</span>
              <span class="block mb-2">1x MagEZ Card Sleeve 3</span>
            </p>

            <div class="bg-cyan inline-block px-6 py-2">
              <a class="text-white text-sm sm:text-base customizeBtn" href="javascript:;">
                Customize Your Bundle
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide w-full flex flex-wrap">
      <div class="w-full sm:w-5/9 lg:w-2/3">
        <picture>
          <source data-srcset="{{ 'pitaflow-for-phones-section4-2.webp' | asset_url}}" media="(min-width: 1280px)">
          <source data-srcset="{{ 'pitaflow-for-phones-section4-2-m.webp' | asset_url}}" media="(min-width: 1025px)">
          <img src="{{ placeholder_gif }}" data-src="{{ 'pitaflow-for-phones-section4-2-s.webp' | asset_url}}"
            alt="Pita!Flow for Phones" class="block w-full lazyload">
        </picture>
      </div>
      <div class="w-full pt-12 sm:pt-0 sm:w-4/9 lg:w-1/3 flex justify-center items-center sm:bg-gray-800">
        <div class="swiper-no-swiping inline-block text-center sm:text-left">
          <h3 class="{{titleSize}} mb-2">
            Full Bundle
          </h3>
          <p class="{{descSize}}">Pita!Flow for Phones</p>

          <div class="mt-12 sm:mt-16 xl:mt-20">
            <p class="{{descSize}} mb-6">
              <span class="block mb-2">Includes:</span>
              <span class="block mb-2">1x Android Case for Galaxy S22 Series</span>
              <span class="block mb-2">1x MagEZ Slider</span>
              <span class="block mb-2">1x MagEZ Car Mount Pro/Lite</span>
              <span class="block mb-2">1x MagEZ Card Sleeve 3</span>
            </p>

            <div class="bg-cyan inline-block px-6 py-2">
              <a class="text-white text-sm sm:text-base customizeBtn" href="javascript:;">
                Customize Your Bundle
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination px-10 md:px-16 lg:px-10 flex justify-center"></div>
  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<div class="{{wClass}} {{pdClass}}" id="product_list">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6">

    {% assign handleList = 'fusion-weaving-magez-case-2-for-iphone-13,magez-case-2-for-iphone-13,new-magez-case-pro-for-iphone-13,magez-case-2-for-samsung-galaxy-s22,magez-slider,magez-car-mount-pro,magez-car-mount-lite,magez-card-sleeve-3' | split: ',' %}
    {% assign products_count = 0 %}
    {% for handle in handleList %}
    {% assign link_product =  all_products[handle] %}
    {% if link_product.available %}
    {% assign products_count = products_count | plus: 1 %}
    <div class="pt-card relative bg-gray-800 px-6 py-10 text-center w-full">
      {% assign form_class = 'block mx-auto w-full sm:w-5/6 xl:w-4/5' %}
      {% assign link_title = link_product.title | replace: 'mini/13/13 Pro/13 Pro Max', 'Series'  | replace: '/S22+/S22 Ultra', ' Series' %}

      {% if link_title contains 'Slider' or link_title contains 'Sleeve' %}
      {% assign variant_default = true %}
      {% else %}
      {% assign variant_default = false %}
      {% endif %}

      {% render 'mutiple-form', form_title: link_title, form_product: link_product, form_index: products_count, formClass: form_class, variantDefault: variant_default %}
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>

<style>
  .bundle-slider {
    --swiper-navigation-size: 32px;
  }

  .bundle-slider .swiper-button-prev {
    left: 24px;
  }

  .bundle-slider .swiper-button-next {
    right: 24px;
  }

  .bundle-slider>.swiper-pagination-bullets {
    top: calc(102.4vw - 2rem);
    bottom: unset;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 -0.5rem;
    width: auto;
  }

  .bundle-slider .swiper-custom-bullet {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #a9a9a9;
  }

  .bundle-slider .swiper-custom-bullet.swiper-pagination-bullet-active {
    background: #fff;
  }

  @media screen and (min-width:768px) {
    .bundle-slider .swiper-custom-bullet {
      width: 10px;
      height: 10px;
    }

    .bundle-slider>.swiper-pagination-bullets {
      bottom: 2rem;
      top: unset;
      left: 27.78vw;
    }
  }

  @media screen and (min-width:1280px) {
    .bundle-slider>.swiper-pagination-bullets {
      left: 33.33vw;
    }

    .bundle-slider .swiper-button-prev,
    .bundle-slider .swiper-button-next {
      display: none;
    }

    .bundle-slider:hover .swiper-button-prev,
    .bundle-slider:hover .swiper-button-next {
      display: block;
    }

    .bundle-slider {
      --swiper-navigation-size: 40px;
    }

    .bundle-slider .swiper-button-prev {
      left: 50px;
    }

    .bundle-slider .swiper-button-next {
      right: 50px;
    }
  }

  @media screen and (max-width:767px) {

    .bundle-slider .swiper-button-prev,
    .bundle-slider .swiper-button-next {
      top: 51.2vw;
    }
  }


  .grid-box:hover>div,
  .grid-box.active>div {
    opacity: 1;
    transform: translate(0, 0);
    background-color: rgba(0, 0, 0, 0.3);
  }

  .variants-list::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
  }

  .variants-list::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
  }

  .variants-list::-webkit-scrollbar-thumb {
    background-color: #4b4b4b;
  }

  .selected-variant {
    white-space: nowrap;
    padding-right: 24px;
    overflow: hidden;
    padding-left: 8px;
    text-overflow: ellipsis;
    max-width: 240px;
  }

  .selected-variant::after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    right: 10px;
    top: 13px;
    transform: rotate(90deg);
    background:url({{'triggle_pixel.svg' | asset_url }}) no-repeat center center;
    background-size: contain;
    transition: all .3s ease;
  }

  .selected-variant.active::after {
    transform: rotate(-90deg);
  }

  /*Select2 ReadOnly Start*/
  select[readonly].product-single__variants {
    pointer-events: none;
    touch-action: none;
  }

  /*Select2 ReadOnly End*/

  form .shop-btn {
    max-width: 240px;
  }

  .AddToCart {
    line-height: 40px;
    padding: 0;
    letter-spacing: 0;
    font-size: 14px;
    font-weight: 700;
  }
  .AddToCart.disabled {
    opacity: 0.7;
  }

  .AddToCart:not(.noClick):hover {
    background-color: rgb(11, 188, 212);
  }

  .AddToCart:not(.noClick):hover span {
    color: #fff;
  }

  .AddToCart.disabled:hover .AddToCartText {
    color: #000;
  }
  
  .AddToCart.disabled:hover .AddToCartText::before {
    content: '';
    -webkit-mask: unset;
  }

  .pt-card .selector-wrapper {
    display: none;
  }

  .product-single__variants {
    /* display: block !important; */
    border: 1px solid #a9a9a9;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .shop-btn .continue-shopping {
    display: none !important;
  }
</style>

{{'jquery.scrollTo.min.js' | asset_url | script_tag }}
{{'swiper-bundle.min.js' | asset_url | script_tag }}
<script>
  new Swiper('.bundle-slider', {
    observer: true,
    loop: true,
    observeParents: true,
    noSwiping: true,
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      bulletClass: 'swiper-custom-bullet',
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      }
    }
  });
  $(function () {
    $('.grid-box').click(function () {
      $(this).toggleClass('active');
    });

    $(".customizeBtn").on('click', function () {
      $(window).scrollTo($("#product_list"), 800);
    });
  });

  var selectCallback = function (variant, selector) {
    var soldOutText = "{{ 'products.product.sold_out' | t }}";
    if (variant) {
      timber.productPage({
        money_format: "{{ shop.money_format }}",
        variant: variant,
        selector: selector,
        translations: {
          add_to_cart: "{{ 'products.product.add_to_cart' | t }}",
          sold_out: soldOutText,
          unavailable: "{{ 'products.product.unavailable' | t }}"
        }
      });
    }
  };

  function variantChange(select_id) {
    var variant_str = $(select_id).find("option:selected").data('label');
    if (variant_str.indexOf(" / ") == -1) {
      $(`${select_id}-option-0`).val(variant_str).trigger("change");
    } else {
      var variant_arr = variant_str.split(" / ");
      for (let i = 0; i < variant_arr.length; i = i + 1) {
        var variant = variant_arr[i];
        $(`${select_id}-option-${i}`).val(variant).trigger("change");
      }
    }
  }

  $(function () {
    $(".product-single__variants").on("change", function () {
      var select_id = "#" + $(this).attr("id");
      variantChange(select_id);
    });

    $(".product-single__variants").each(function () {
      $(this).val($(this).find("option:first").attr("value")).trigger("change");
    });

    $('.selected-variant').click(function () {
      $(this).toggleClass('active');
      $(this).next('.variants-list').slideToggle().toggleClass('hidden');
    });

    $('.variants-list').on('click', 'li', function () {
      $(this).parent('.variants-list').prev('.selected-variant').html($(this).html());
      $(this).parent('.variants-list').slideUp().addClass('hidden');
      const variantID = $(this).data('value');
      $(this).closest('form').find('.product-single__variants').val(variantID).trigger("change");
    });
  })
</script>