{% assign product = all_products[collection.handle] %}
{% if product.id != '' %}
{% render 'buy-bar' , product: all_products[collection.handle]%}
{% endif %}

{% assign wClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_8 = 'w-full md:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto' %}
{% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28' %}
{% assign titleBoxClass= 'mx-auto mb-12 w-11/12 sm:w-5/6 md:w-2/3 xl:w-2/5' %}
{% assign titleSize = 'text-2xl md:text-3xl font-bold' %}
{% assign mTitleSize = 'text-xl md:text-2xl font-semibold' %}
{% assign descSize = 'text-sm sm:text-base text-gray-400' %}
{% assign titleDecoMy = 'block mt-4 mb-6' %}
{% assign absoluteContentBoxClass = 'w-full sm:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto px-6 lg:px-0 sm:transform sm:left-1/2 sm:-translate-x-1/2' %}

<div class="w-full relative section-hero">
  <div class="block absolute top-0 {{absoluteContentBoxClass}} h-full">
    <div id="hero-text"
      class="absolute opacity-0 text-center sm:text-left w-5/6 sm:w-2/5 xl:w-1/3 max-w-md bottom-10 left-1/2 sm:left-0 transform -translate-x-1/2 sm:translate-x-0 sm:translate-y-1/2 sm:bottom-1/2">
      <h1 class="{{titleSize}} mb-4">MagEZ Slider</h1>
      <p class="{{descSize}}">
        A Multi-Device Wireless Charger for Your Devices with MagSafe and Qi Wireless Charging Compatibility.
      </p>
    </div>
  </div>

  <video muted playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
    x5-video-orientation="portraint" preload="none" autoplay class="block w-full h-full" id="hero-video">
    <source src="{{ 'magez-slider-video-hero.mp4' | asset_url }}" type="video/mp4">
  </video>
</div>

<div class="{{wClass_8}} {{pdClass}}">
  <div id="trigger-video-1"></div>
  <div class="w-full relative video-container">
    <div class="video-cover relative">
      <div class="absolute left-0 top-0 transform w-full h-full flex justify-center items-center hidden">
        <div class="play-btn rounded-full w-9 h-9 bg-white flex justify-center items-center">
          {{ 'triggle_pixel-black.svg' | asset_url | img_tag:'','block' }}
        </div>
      </div>
      <picture>
        <img src="{{ placeholder_gif }}" data-src="{{ 'magez-slider-video-main-cover.jpg' | asset_url }}"
          class="block w-full lazyload" />
      </picture>
    </div>
    <div class="modal-container absolute w-full h-full opacity-0 inset-0 transition">
      <video muted loop controls playsinline webkit-playsinline x5-video-player-type="h5"
        x5-video-player-fullscreen="true" x5-video-orientation="portraint"
        class="panel-video w-full h-full block object-cover">
        <source src="{{ 'magez-slider-video-main.mp4' | asset_url }}" type="video/mp4" />
      </video>
    </div>
  </div>
</div>

<div id="trigger_s3"></div>
<div class="w-full h-screen" id="parallexScroll_s3">
  <div
    class="{{wClass_8}} px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28 h-screen overflow-hidden flex flex-col-reverse laptop:flex-row justify-between relative">
    <div class="scroll-video-wrapper relative h-2/3 laptop:h-full w-full xs:w-4/5 mx-auto laptop:mx-0 laptop:w-1/2">

      <div class="absolute inset-0">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="w-full block" id="s3_video_1">
          <source src="{{ 'magez-slider-video-section3-2.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
      <div class="absolute inset-0">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="w-full block" id="s3_video_2">
          <source src="{{ 'magez-slider-video-section3-1.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
      <div class="absolute inset-0">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="w-full block" id="s3_video_3">
          <source src="{{ 'magez-slider-video-section3-3.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
      <div class="absolute inset-0">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="w-full block" id="s3_video_4">
          <source src="{{ 'magez-slider-video-section3-4.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
    </div>
    <div
      class="scroll-txt-wrapper relative w-11/12 sm:w-3/4 laptop:w-5/12 xl:w-4/12 pl-3 laptop:pl-0 laptop:pr-12 lg:pr-0 h-2/5 xs:h-1/3 laptop:h-full overflow-hidden">
      <div class="w-full h-full" id="s3_scroll_txt">
        <div class="w-full h-full flex flex-col laptop:justify-center">
          <h3 class="{{titleSize}} mb-6">
            Charges Four Devices Simultaneously
          </h3>
          <h4 class="{{mTitleSize}} mb-4">
            MagEZ Battery Pack
          </h4>
          <p class="{{descSize}} md:text-xl xl:text-2xl">
            Slide the power pack in the specific spot to charge.
          </p>
        </div>

        <div class="w-full h-full flex flex-col laptop:justify-center">
          <h3 class="{{titleSize}} mb-6">
            Charges Four Devices Simultaneously
          </h3>
          <h3 class="{{mTitleSize}} mb-4">
            iPhone 13/12 Series &<br>
            Galaxy S22 Series
          </h3>
          <p class="{{descSize}} md:text-xl xl:text-2xl">
            Attaching and charging your iPhone 13, iPhone 12, and Galaxy S22 in a MagEZ Case 2 is a snap.
          </p>
        </div>

        <div class="w-full h-full flex flex-col laptop:justify-center">
          <h3 class="{{titleSize}} mb-6">
            Charges Four Devices Simultaneously
          </h3>
          <h3 class="{{mTitleSize}} mb-4">
            AirPods
          </h3>
          <p class="{{descSize}} md:text-xl xl:text-2xl">
            Adjust the magnetic stand to charge your AirPods or other Qi-enabled wireless earbuds with or without a wireless charging case.
          </p>
        </div>
        <div class="w-full h-full flex flex-col laptop:justify-center">
          <h3 class="{{titleSize}} mb-6">
            Charges Four Devices Simultaneously
          </h3>
          <h3 class="{{mTitleSize}} mb-4">
            Apple Watch
          </h3>
          <p class="{{descSize}} md:text-xl xl:text-2xl">
            Plugin and charge your Apple Watch using the Power Dongle*.
          </p>

          <p class="text-2s sm:text-sm mt-8 laptop:mt-12">
            *Sold separately.
          </p>
          <a href="/collections/power-dongle-for-apple-watch" class="block text-sm text-cyan mt-2">
            Click to View more about Power Dongle >>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="bg-gray-800 {{pdClass}}">
  <div class="{{wClass_8}} flex flex-col sm:flex-row items-center justify-between">
    <div class="w-full sm:w-5/12 md:w-3/8">
      <h3 class="{{titleSize}}">
        Your Perfect Desktop<br>
        Companion
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}}">
        When you don’t use your phone, simply mount it on the multi-device charging dock, so you can charge your mobile
        while you work. They will be charged up while you focus on your big project. No more sitting by your phone
        waiting for it to get ready when you need it. In addition, you can use it as a phone stand to Facetime or check
        messages.
      </p>
    </div>
    <div class="w-full mt-12 sm:mt-0 sm:w-4/8">
      <picture>
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section4.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full lazyload">
      </picture>
    </div>
  </div>
</div>

<div class="{{wClass_8}} {{pdClass}}">
  <div class="flex justify-center">
    <div class="w-full sm:w-2/3 md:w-4/8">
      <h3 class="{{titleSize}}">
        The Smallest Multi-Device Charger
      </h3>
      <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
      <p class="{{descSize}}">
        The MagEZ Slider takes only the space of a mug. Yet, it helps keep you on track to live and work more
        efficiently.
      </p>
    </div>
  </div>
  <div class="w-full mt-12">
    <picture>
      <source data-srcset="{{'magez-slider-section5.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section5-s.jpg' | asset_url}}" alt="MagEZ Slider"
        class="block w-full lazyload">
    </picture>
  </div>
</div>

<div id="trigger_s6"></div>
<div class="w-full h-screen" id="parallexScroll_s6">
  <div class="{{wClass_8}} {{pdClass}} h-full overflow-hidden flex flex-col laptop:flex-row justify-between relative">
    <div
      class="scroll-txt-wrapper w-11/12 laptop:w-5/12 lg:w-3/8 pl-3 laptop:pl-12 lg:pl-0 h-2/5 xs:h-1/3 sm:h-1/4 laptop:h-full overflow-hidden">
      <div class="w-full h-full" id="s6_scroll_txt">
        <div class="w-full h-full flex flex-col laptop:justify-center items-start">
          <h3 class="{{titleSize}}">
            Slide Out and Go
          </h3>
          <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
          <p class="{{descSize}}">
            The battery is not yet charged to full? Chill. Slide the MagSafe power pack and your iPhone out of the dock
            and charge on the go.
          </p>
        </div>
        <div class="w-full h-full flex flex-col laptop:justify-center items-start">
          <h3 class="{{titleSize}}">
            Slide In to Charge<br>
            Your Power Bank
          </h3>
          <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
          <p class="{{descSize}}">
            When you are home or back to the office, slide them into the dock, so the power pack will be juiced up again
            for your next adventure.
          </p>
        </div>
      </div>
    </div>

    <div class="scroll-video-wrapper relative h-2/3 sm:h-3/4 laptop:h-full w-full laptop:w-1/2">
      <div class="absolute inset-0 flex items-center">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="h-full mx-auto block" id="s6_video_1">
          <source src="{{ 'magez-slider-video-section6-1.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
      <div class="absolute inset-0 flex items-center">
        <video muted preload playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="h-full mx-auto block" id="s6_video_2">
          <source src="{{ 'magez-slider-video-section6-2.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>

    </div>
  </div>
</div>

<div class="w-full bg-gray-800">
  <div class="{{wClass}} {{pdClass}} mx-auto">
    <div class="{{titleBoxClass}} text-center">
      <h3 class="{{titleSize}}">
        The Small yet Powerful Power Pack
      </h3>
    </div>
    {% assign descs = 'With dynamic magnets, the power pack makes a mechanical sound when the phone is attached to it, so you know they’re perfectly aligned for safe and reliable wireless charging. | The ergonomically designed MagSafe power pack fits comfortably in your hand. And it has battery indicators and vibration mode for a low battery. | Crafted from our signature material aramid fiber, the power pack has this durable shell with a smooth texture that exudes classic style.' %}
    {% render 'center-slides', name:'MagEZ Slider', sliderDescs:descs, textBg: true %}
  </div>
</div>

<div class="{{wClass_8}} {{pdClass}} flex flex-col-reverse sm:flex-row items-center justify-between">
  <div class="w-full mt-12 sm:mt-0 sm:w-4/8">
    <div id="trigger-video-2"></div>
    <div class="w-full relative video-container">
      <div class="video-cover relative">
        <div class="absolute left-0 top-0 transform w-full h-full flex justify-center items-center hidden">
          <div class="play-btn rounded-full w-9 h-9 bg-white flex justify-center items-center">
            {{ 'triggle_pixel-black.svg' | asset_url | img_tag:'','block' }}
          </div>
        </div>
        <picture>
          <img src="{{ placeholder_gif }}" data-src="{{ 'magez-slider-video-section8-cover.jpg' | asset_url }}"
            class="block w-full lazyload" />
        </picture>
      </div>
      <div class="modal-container absolute w-full h-full opacity-0 inset-0 transition">
        <video muted loop playsinline webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
          x5-video-orientation="portraint" class="w-full h-full block object-cover">
          <source src="{{ 'magez-slider-video-section8.mp4' | asset_url }}" type="video/mp4" />
        </video>
      </div>
    </div>
  </div>

  <div class="w-full sm:w-5/12 md:w-3/8">
    <h3 class="{{titleSize}}">
      Have A Little Fun
    </h3>
    <img src="{{ 'triggle_pixel-d.svg' | asset_url }}" class="{{titleDecoMy}}">
    <p class="{{descSize}}">
      We make things that provide convenience and inspiration to bring joy and serve humans. The multi-device wireless
      charger has a one-of-a-kind carousel design, allowing 360-degree access to all your devices with a simple spin.
      And the sound of the clock ticking might help when you feel stressed or bored.
    </p>
  </div>
</div>

<div class="w-full bg-gray-800">
  <div class="{{wClass}} {{pdClass}}">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 sm:gap-4 md:gap-6 auto-rows-fr">
      <div>
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section9-1.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover lazyload">
      </div>
      <div>
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section9-2.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover lazyload">
      </div>
      <div>
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section9-3.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover lazyload">
      </div>
      <div>
        <img src="{{ placeholder_gif }}" data-src="{{'magez-slider-section9-4.jpg' | asset_url}}" alt="MagEZ Slider"
          class="block w-full h-full object-cover lazyload">
      </div>
    </div>
  </div>
</div>

<style>
  #hero-text {
    --tw-translate-y: 100%;
    transition: all .6s ease-in-out;
  }

  #hero-text.active {
    opacity: 1;
    --tw-translate-y: 50%;
  }

  #parallexScroll_s3,
  #parallexScroll_s6 {
    background: rgb(17, 19, 23);
    z-index: 99;
  }

  @media screen and (max-width:767px) {
    #hero-video {
      object-fit: cover;
      object-position: 72% center;
    }

    #hero-text.active {
      --tw-translate-y: 0;
    }

    .section-hero {
      max-height: 700px;
      /* padding: 3em 0; */
      height: calc(100vh - 72px);
      /* background: #151315; */
    }

    #parallexScroll_s3 .scroll-txt-wrapper{
      min-height: 250px;
    }
  }

  @media screen and (max-width:375px) and (max-height:720px)  {
    #parallexScroll_s3>div{
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }
</style>

{{ "TweenMax.min.js" | asset_url | script_tag }}
{{ "ScrollMagic.js" | asset_url | script_tag }}
{{ "animation.gsap.min.js" | asset_url | script_tag }}
{{ 'TimelineLite.min.js' | asset_url | script_tag }}
{{ 'CSSPlugin.min.js' | asset_url | script_tag }}

<script>
  $(document).ready(function () {
    var hero_video = document.getElementById('hero-video');

    // hero_video.addEventListener("play", function () {
    //   setTimeout(function () {
    //     $('#hero-text').removeClass('opacity-0').addClass('active');
    //   }, 4500)
    // }, false);

    //监听播放时间
    hero_video.ontimeupdate = function () {
      //用秒数来显示当前播放进度
      var timeDisplay = Math.floor(hero_video.currentTime);
      console.log(timeDisplay)
      //当视频播放到指定时间做处理
      if (timeDisplay >= 4.5) {
        $('#hero-text').removeClass('opacity-0').addClass('active');
      }
    }

    var controller = new ScrollMagic.Controller();

    var videoList = document.querySelectorAll(".video-container");

    videoList.forEach(item => {
      var video = item.querySelector('video');
      var playBtn = item.querySelector('.play-btn');
      var modal = item.querySelector(".modal-container");
      playBtn.onclick = function () {
        // console.log(video.readyState)
        if (video.readyState > 0) {
          video.play();
          $(modal).css({
            'opacity': 1,
            'z-index': 1
          });
          $(modal).prev('.video-cover').css({
            'opacity': 0
          });
        }
      }
      const triggerName = '#' + $(item).prev().attr('id');
      new ScrollMagic.Scene({
          triggerElement: triggerName,
          offset: 150
        })
        .on('enter leave', function (e) {
          if (e.type == "enter") {
            playBtn.click();
          } else {
            video.pause();
            $(modal).css({
              'opacity': 0,
              'z-index': -1
            });
            $(modal).prev('.video-cover').css({
              'opacity': 1
            });
          }
        })
        .addTo(controller)

    })

    var tl_s3 = new TimelineLite();
    var s3_video_1 = document.getElementById('s3_video_1');
    var s3_video_2 = document.getElementById('s3_video_2');
    var s3_video_3 = document.getElementById('s3_video_3');
    var s3_video_4 = document.getElementById('s3_video_4');
    s3_video_1.load();
    s3_video_2.load();
    s3_video_3.load();
    s3_video_4.load();

    s3_video_1.defaultPlaybackRate = 0.8;
    s3_video_2.defaultPlaybackRate = 0.8;
    s3_video_3.defaultPlaybackRate = 0.8;
    s3_video_4.defaultPlaybackRate = 0.8;

    tl_s3
      .to('#s3_video_1', 0.01, {
        opacity: 1,
        onStart: function () {
          $('#parallexScroll_s3').css('background', '#111317');
          s3_video_1.play();
          s3_video_4.load();
        }
      }, '-=0.5')

      .to('#s3_scroll_txt', 1, {
        y: '-100%',
        onComplete: function () {
          $('#parallexScroll_s3').css('background', '#121218');
        }
      })
      .fromTo('#s3_video_2', 0.01, {
        opacity: 0,
      }, {
        opacity: 1,
        onComplete: function () {
          s3_video_2.play();
          s3_video_1.load();
        }
      }, '-=0.8')

      .to('#s3_scroll_txt', 1, {
        y: '-200%'
      })

      .fromTo('#s3_video_3', 0.01, {
        opacity: 0,
      }, {
        opacity: 1,
        onComplete: function () {
          s3_video_3.play();
          s3_video_2.load();
        }
      }, '-=0.8')
      .to('#s3_scroll_txt', 1, {
        y: '-300%'
      })
      .fromTo('#s3_video_4', 0.01, {
        opacity: 0,
      }, {
        opacity: 1,
        onComplete: function () {
          s3_video_4.play();
          s3_video_3.load();
        }
      }, '-=0.8')

    new ScrollMagic.Scene({
        triggerElement: '#trigger_s3',
        triggerHook: 0,
        duration: '400%',
        tweenChanges: true
      })
      .setTween(tl_s3)
      .setPin('#parallexScroll_s3')
      .addTo(controller)


    var tl_s6 = new TimelineLite();
    var s6_video_1 = document.getElementById('s6_video_1');
    var s6_video_2 = document.getElementById('s6_video_2');
    s6_video_1.load();
    s6_video_2.load();
    s6_video_1.defaultPlaybackRate = 0.8;
    s6_video_2.defaultPlaybackRate = 0.8;

    tl_s6
      .to('#s6_video_1', 0.01, {
        opacity: 1,
        onStart: function () {
          $('#parallexScroll_s6').css('background', 'rgb(17,19,23)');
          s6_video_1.play();
          s6_video_2.load();
        }
      }, '-=0.5')
      .to('#s6_scroll_txt', 1, {
        y: '-100%'
      })
      .fromTo('#s6_video_2', 0.01, {
        opacity: 0,
      }, {
        opacity: 1,
        onComplete: function () {
          s6_video_2.play();
          s6_video_1.load();
          $('#parallexScroll_s6').css('background', 'rgb(18,18,24)');
        }
      }, '-=0.8')

    new ScrollMagic.Scene({
        triggerElement: '#trigger_s6',
        triggerHook: 0,
        duration: '200%',
        tweenChanges: true
      })
      .setTween(tl_s6)
      .setPin('#parallexScroll_s6')
      .addTo(controller)
  })
</script>