<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <h1 class="pt-8 pb-3 px-6">Inspiring Culture</h1>
  <div class="grid lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-1">
    <div class="text-center py-6 px-6">
      <a href="/pages/minimalism-less-but-better" class="insp_ci">{{ 'less-is-better.jpg' | asset_url | img_tag:"Less is Beeter" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/minimalism-less-but-better" class="insp_ch">Minimalism: Less, but Better</a></h4>
    </div>
    <div class="text-center py-6 px-6">
      <a href="/pages/the-tech-behind-the-products" class="insp_ci">{{ 'behind-the-tech.jpg' | asset_url | img_tag:"Less is Beeter" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/the-tech-behind-the-products" class="insp_ch">The Tech Behind the Products</a></h4>
    </div>
    <div class="text-center py-6 px-6">
      <a href="/pages/thorough-down-to-the-last-detail" class="insp_ci">{{ 'last-detail.jpg' | asset_url | img_tag:"Less is Beeter" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/thorough-down-to-the-last-detail" class="insp_ch">"Thorough Down to the Last Detail"</a></h4>
    </div>

    <div class="text-center py-6 px-6">
      <a href="/pages/the-pursuit-of-perfect" class="insp_ci">{{ 'pursuit-of-perfect.jpg' | asset_url | img_tag:"Less is Beeter" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/the-pursuit-of-perfect" class="insp_ch">The Pursuit of Perfect</a></h4>
    </div>

    <div class="text-center py-6 px-6">
      <a href="/pages/define-fashion-through-designs" class="insp_ci">{{ 'pitaka_case_for_airpod_max.jpg' | asset_url | img_tag:"Less is Beeter" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/define-fashion-through-designs" class="insp_ch">Define Fashion through Designs</a></h4>
    </div>

    <div class="text-center py-6 px-6">
      <a href="/pages/are-you-obsessed-with-specific-sounds" class="insp_ci">{{ 'obsesse-with-mag-sound.jpg' | asset_url | img_tag: "Mag Sound" }}</a>
      <h4 class="py-6 text-left"><a href="/pages/are-you-obsessed-with-specific-sounds" class="insp_ch">Are You Obsessed with Specific Sounds?</a></h4>
    </div>
    {% comment %}
    <div class="text-center py-6 px-6">
      <h4 class="py-6 text-left">555</h4>
    </div>

    <div class="text-center py-6 px-6">
      <h4 class="py-6 text-left"><a href="/pages/eco-system">PITAKA Ecosystem</a></h4>
    </div>
    {% endcomment %}
  </div>
</div>