

<div class="relative">
  <div class="imgScence1">
    {{ 'recruitment_benefits_scence1.jpg' | asset_url | img_tag }}
  </div>
  <div class="lg:absolute md:absolute lg:right-10 lg:top-20 md:right-5 md:top-10 lg:w-1/3 md:w-1/3 sm:w-full p-6">
    <h3 class="lg:text-3xl md:text-2xl sm:text-2xl">
      Why Do We Want Reviewers?
    </h3>
    <p class="lg:text-base md:text-sm sm:text-sm py-4">
      One of the biggest reasons for having people review our products is for
      us to get a real, unbiased opinion that helps us make improvements to our
      existing products, whether it concerns quality, materials, or design.
      Furthermore, we want to keep making high-quality, alternative tech and
      your reviews help us get seen by a wider audience.
    </p>
  </div>
</div>

<div class="p-6">
    <h3 class="text-2xl my-6 text-center">
      Why Become a Reviewer for PITAKA?
    </h3>
    <div class="grid grid-cols-3 md:grid-cols-3 sm:grid-cols-2 w-full text-center">
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c1.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          Test products for free.
        </p>
      </div>
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c2.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          We will share your review <br>with our 100k plus audience
        </p>
      </div>
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c3.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          Gifts for you and your audience
        </p>
      </div>
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c4.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          Possible bonuses
        </p>
      </div>
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c5.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          Affiliate income
        </p>
      </div>
      <div class="my-2 p-2 mx-2">
        {{ 'recruitment-benefits-c6.png' | asset_url | img_tag:"", "m-auto" }}
        <p class="lg:text-base md:text-sm sm:text-sm py-4">
          Get your hands on our newest products
        </p>
      </div>
    </div>
</div>

<div class="p-6">
    <h3 class="text-2xl text-center my-6">
      Products to Review
    </h3>
    <div class="grid gap-4 lg:grid-cols-2 md:grid-cols-2 sm:grid-cols-1">
      <div class="sm:mx-5 relative">
        {{ 'recruitment-products-c1.jpg' | asset_url | img_tag:"", "m-auto" }}
        <div class="absolute text-left bottom-4 px-6 review-show">
          <h3 class="py-6 text-xl">
            MagEZ Case
          </h3>
          <p class="lg:text-base md:text-sm sm:text-sm py-4">
            This slim, lightweight case will protect your phone from wear and tear and works seamlessly with our magnetic wireless charging range.
          </p>
        </div>
      </div>
      <div class="sm:mx-5 relative">
        {{ 'recruitment-products-c2.jpg' | asset_url | img_tag:"", "m-auto" }}
        <div class="absolute text-left bottom-4 px-6 review-show">
          <h3 class="py-6 text-xl">
            MagEZ Wallet
          </h3>
          <p class="lg:text-base md:text-sm sm:text-sm py-4">
            Our modular carbon fiber wallet is not only RFID blocking but can be
            customized with additional layers to fit your needs.
          </p>
        </div>
      </div>
      <div class="sm:mx-5 relative">
        {{ 'recruitment-products-c3.jpg' | asset_url | img_tag:"", "m-auto" }}
        <div class="absolute text-left bottom-4 px-6 review-show">
          <h3 class="py-6 text-xl">
            PITAKA Wireless Charges
          </h3>
          <p class="lg:text-base md:text-sm sm:text-sm py-4">
            From the 6-in-1 charging station, Air Omni to the MagEZ Juice, we have a host of wireless chargers that are beautifully designed with top-notch tech.
          </p>
        </div>
      </div>
      <div class="sm:mx-5 relative">
        {{ 'recruitment-products-c4.jpg' | asset_url | img_tag:"", "m-auto" }}
        <div class="absolute text-left bottom-4 px-6 review-show">
          <h3 class="py-6 text-xl">
            PITAKA Prototypes
          </h3>
          <p class="lg:text-base md:text-sm sm:text-sm py-4">
            Test products that we currently have in development.
          </p>
        </div>
      </div>
    </div>
</div>

<div class="p-6 my-6 text-center">
  <h3 class="text-2xl py-6">
    Our Audience
  </h3>
  <p class="text-base">
    Whether you’re reviewing the newest tech on YouTube, or write a successful
    tech blog, join us as a reviewer!
  </p>
</div>

<div class="relative my-4 clearfix">
  <div>{{ 'recruitment_benefits_scence3.jpg' | asset_url | img_tag }}</div>
  <div class="lg:absolute md:absolute lg:right-20 md:right-5 lg:top-20 md:top-10 p-6">
    <h3 class="py-6 text-left text-2xl">
      Events We Can Work <br />
      On Together
    </h3>
    <ul class="list-disc list-inside">
      <li>Product Reviews </li>
      <li>GiveAway Contests </li>
      <li>Look-book Contests </li>
      <li>Audience Reward Sponsorships </li>
      <li>Content Contributions </li>
      <li>Other Possible Events</li>
    </ul>
  </div>
</div>

<div class="bg-black clearfix text-center p-6 my-6">
  <h3 class="text-2xl py-6">
    Review Application
  </h3>
  <p class="text-base">
    Fill out the form below and submit it. We will get in contact with you when
    we receive your request.
  </p>
</div>
<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto p-6">
    <h3 class="py-4 text-2xl text-center">
      <span class="font-regular">I Am Ready To </span>Review PITAKA Now,
      <br class="small-hidden medium-hidden" />
      <span class="font-regular">What Should I Do Next?</span>
    </h3>
    <p class="text-base py-4 text-center">
      Fill out the form below and submit. We will get in contact with you when
      we receive your request.
    </p>
    <div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
      <script src="https://www.powr.io/powr.js?platform=shopify"></script>
      <div class="powr-form-builder" id="63d007b4_1561626913"></div>
    </div>
</div>
<div class="bg-gray-750 w-full py-16 px-6">
  <div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
    <h3 class="text-2xl py-6">
      FAQ
    </h3>
    <p class="text-base py-4">

      <span class="font-medium">
        Q: When will I receive the products after the request is confirmed?</span><br />
      <span class="font-medium">A:</span>
      Typically, we offer 1-2 free products per review. More free products are
      available based upon request, your audience, the campaign performance, etc.
      <br /><br />
      <span class="font-medium">Q: Do you have any specific deadlines for reviews?</span><br />
      <span class="font-medium">A:</span>
      Yes, generally we request that a review should be released within 10 days of
      receiving. However, this can be adjusted if necessary.
      <br /><br />
      <span class="font-medium">Q: Can I get a quick summary of the case features and highlights of what
        makes our products better than those of our competitors?</span><br />
      <span class="font-medium">A:</span>
      Yes, please visit our website <a href="https://www.ipitaka.com">https://www.ipitaka.com</a> for more information of
      our products. If you need further information, please feel free to contact us.
    </p>
  </div>
</div>
<style type="text/css">
  .review-show {max-width:72%; left:12%;}
</style>