{{'swiper-bundle.min.css' | asset_url| stylesheet_tag }}
{{'swiper-bundle.min.js' | asset_url | script_tag }}
<meta property="og:type" content="website" />
<meta property="og:url" content="https://www.ipitaka.com/pages/balck-friday-2021" />
<meta property="og:description" content="" />
<meta property="og:image" content="http:{{ 'black-friday-2021-image-share.jpg' | asset_url }}">
<meta property="og:title" content="Black Friday 2021 Promo" />
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:url" content="https://www.ipitaka.com/pages/balck-friday-2021">
<meta name="twitter:title" content="Black Friday 2021 Promo">
<meta name="twitter:description" content="">
<meta name="twitter:image" content="http:{{ 'black-friday-2021-image-share.jpg' | asset_url }}">

{% assign wClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_8 = 'w-full md:w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto' %}
{% assign wClass_6 = 'w-full md:w-10/12 lg:w-8/12 xl:w-6/12 max-w-screen-xl mx-auto' %}
{% assign pdClass = 'px-3 sm:px-6 md:px-0 py-16 sm:py-20 lg:py-28' %}
{% assign pdClass_b = 'px-3 sm:px-6 md:px-0 pb-16 sm:pb-20 lg:pb-28' %}
{% assign titleBoxClass= 'mx-auto mb-12 w-11/12 sm:w-5/6 md:w-2/3 xl:w-3/5 max-w-2xl' %}
{% assign titleSize = 'text-2xl md:text-3xl font-bold' %}
{% assign descSize = 'text-sm sm:text-base text-gray-400' %}
{% assign titleDecoMy = 'block mt-4 mb-6' %}

{% assign absoluteContentBoxClass_8 = 'w-full laptop:w-10/12 lg:w-8/12 max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2 top-0' %}
{% assign absoluteContentBoxClass = 'w-full md:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2' %}
{% assign absoluteContentClass = 'text-center sm:text-left absolute transform w-4/5 sm:w-1/2 xl:w-3/8 top-16 left-1/2 -translate-x-1/2  max-w-md sm:translate-x-0 sm:left-6 lg:left-0 sm:top-1/2 sm:-translate-y-1/2' %}

{% assign menuItems = 'px-2 xs:px-4 md:xl-6 xl:px-12 py-2 text-base sm:py-4  text-white font-bold sm:text-2xl' %}

<div class="bgWall  w-full h-full">
  <div class="w-full relative section0">
    <div class="absolute {{absoluteContentBoxClass}}">
      <div
        class="absolute text-center sm:text-left transform w-4/5 sm:w-1/2 xl:w-4/8 top-28 xs:top-72 sm:top-1/2  left-1/2 -translate-x-1/2  max-w-3xl sm:translate-x-0 sm:left-6 lg:left-0 sm:top-1/2 sm:-translate-y-1/2 xl:-translate-y-3/4">
        <h3 class="text-2xl xs:text-5xl sm:text-3xl  md:text-5xl leading-normal md:leading-tight font-bold">
          THE HOTTEST SALE <br> OF 2021 HAS LANDED
        </h3>
        <p class="text-sm sm:text-base text-cyan mt-6">
          Starts Nov. 24 at 10:00 AM EST
        </p>
        <p class="text-sm sm:text-base text-cyan md:mb-6">
          Ends Nov. 30 at 11:59 PM EST 
        </p>
      </div>
    </div>
    <picture>
      <source data-srcset="{{'page-black-friday-2021-today-seciton0.jpg' | asset_url}}" media="(min-width: 1280px)">
      <source data-srcset="{{'page-black-friday-2021-today-seciton0-m.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-today-seciton0-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload">
    </picture>
  </div>
  <div class="{{pdClass}}">
    <div class="w-full nav-bar">
      <div class="w-11/12 lg:w-10/12 xl:w-8/12 max-w-screen-xl mx-auto block">
        <div class="grid gap-6 grid-cols-3 md:grid-cols-6 text-center menu">
          <div class="{{menuItems}} active cursor-pointer" id="link1">
            Case
          </div>
          <div class="{{menuItems}} cursor-pointer" id="link2">
            iPad
          </div>
          <div class="{{menuItems}} cursor-pointer" id="link3">
            Watch
          </div>
          <div class="{{menuItems}} cursor-pointer" id="link4">
            Charger
          </div>
          <div class="{{menuItems}} cursor-pointer" id="link5">
            Wallet
          </div>
          <div class="{{menuItems}} cursor-pointer" id="link6">
            Sale
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="{{wClass_8}} {{pdClass_b}}" id="part1">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton1.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton1-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} mt-14">
      <h3 class="{{titleSize}} text-center ">
        Snap into place, start charging your phone, and enjoy the journey.
      </h3>
      <p class="mt-10"></p>
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'magez-case-2-for-iphone-13,new-magez-case-pro-for-iphone-13,magez-car-mount-pro' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="{{wClass_8}} {{pdClass_b}}" id="part2">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton2.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton2-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} block sm:hidden mt-14">
      <h3 class="{{titleSize}} text-center ">
        The right tools can make light work.
      </h3>
      <p class="mt-10"></p>
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 sm:gap-6  auto-rows-fr  block sm:hidden">
      {% assign productList = 'magez-case-2-for-ipad-pro-2021' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
    <div class="text-center hidden sm:block my-20">
      {% assign productList = 'magez-case-2-for-ipad-pro-2021' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none ">
        {% render 'grid-product-item-black-friday', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true,h3_text:'The right tools can make light work.' %}
      </div>
      {% endfor %}
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'magez-stand-marble-version' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        <!-- grid 子項 -->
        <div
          class="grid-item w-full h-full flex flex-col items-center sm:justify-between py-10  px-4 sm:px-6 lg:px-7 xl:px-10">
          <div class="images-container w-11/12 xl:w-5/6 mx-auto mb-7 lg:mb-0">
            <img src="{{'card-stand-iPadPro2021.png' | asset_url}}"
              data-src="{{'card-stand-iPadPro2021.png' | asset_url}}" alt="Black Friday 2021"
              class="block max-w-full mx-auto">
          </div>
          <div class="toggles-container flex justify-center -mx-1 my-6">
          </div>
          <h3 class="text-base font-bold mb-4 ">
            MagEZ Case 2 for iPad Pro 2021 + MagEZ Stand
          </h3>

          <p class="text-base text-gray-400 mb-6{% if between_tag %} lg:mb-0{% endif %}">
            <span class="line-through sm:mr-2">
              $143.99
            </span>
            <span class="font-bold text-white">
              $129.59
            </span>
          </p>
          <div class="flex flex-row  justify-center sm:justify-around">
            <div class="text-left">
              {% render 'link-button-bg',link_url: "/products/magez-case-2-for-ipad-pro-2021?variant=39363216867398", link_title: 'Shop Now', space_tight: true,target_blank:true %}
            </div>
          </div>
        </div>

      </div>
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        <!-- grid 子項 -->
        <div
          class="grid-item w-full h-full flex flex-col items-center sm:justify-between py-10  px-4 sm:px-6 lg:px-7 xl:px-10">
          <div class="images-container  xl:w-5/6 mx-auto mb-7">
            <img src="{{'card-stand-iPadPro2021-folio.png' | asset_url}}"
              data-src="{{'card-stand-iPadPro2021-folio.png' | asset_url}}" alt="Black Friday 2021"
              class="block max-w-full mx-auto">
          </div>
          <div class="toggles-container flex justify-center -mx-1 my-6">
          </div>
          <h3 class="text-base font-bold mb-4 ">
            MagEZ Case 2 for iPad Pro 2021 + MagEZ Stand+ MagEZ Folio
          </h3>

          <p class="text-base text-gray-400 mb-6{% if between_tag %} lg:mb-0{% endif %}">
            <span class="line-through sm:mr-2">
              $169.99
            </span>
            <span class="font-bold text-white">
              $152.99
            </span>
          </p>
          <div class="flex flex-row  justify-center sm:justify-around">
            <div class="text-left">
              {% render 'link-button-bg',link_url: "/products/magez-case-2-for-ipad-pro-2021?variant=39395602530374", link_title: 'Shop Now', space_tight: true,target_blank:true %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="{{wClass_8}} {{pdClass_b}}" id="part3">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton3.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton3-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} block  mt-14">
      <h3 class="{{titleSize}} text-center ">
        Effortlessly level up your wrist game with the unique PITAKA style.
      </h3>
      <p class="mt-10"></p>
    </div>

    <div class="text-center grid grid-cols-1 sm:grid-cols-2 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'air-case-for-apple-watch,carbon-fiber-watch-band' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="{{wClass_8}} {{pdClass_b}}" id="part4">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton4.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton4-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} block sm:hidden mt-14">
      <h3 class="{{titleSize}} text-center ">
        Enjoy hassle-free and mess-free charging at home or the office.

      </h3>
      <p class="mt-10"></p>
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 p-4 sm:gap-6  auto-rows-fr  block sm:hidden">
      {% assign productList = 'magez-juice-2' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
    <div class="text-center hidden sm:block my-20">
      {% assign productList = 'magez-juice-2' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none">
        {% render 'grid-product-item-black-friday', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true,h3_text:'Enjoy hassle-free and mess-free charging at home or the office.
        ' %}
      </div>
      {% endfor %}
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'air-omni,air-omni-lite' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="{{wClass_8}} {{pdClass_b}}" id="part5">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton5.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton5-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} block  mt-14">
      <h3 class="{{titleSize}} text-center ">
        Make your everyday wallet uniquely yours.
      </h3>
      <p class="mt-10"></p>
    </div>

    <div class="text-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'magez-wallet,magez-wallet-ue,magez-digital-travel-kit,magez-wallet-2,magez-wallet-2-pro' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="{{wClass_8}} {{pdClass_b}}" id="part6">
    <picture>
      <source data-srcset="{{'page-black-friday-2021-seciton6.jpg' | asset_url}}" media="(min-width: 768px)">
      <img src="{{ placeholder_gif }}" data-src="{{'page-black-friday-2021-seciton6-s.jpg' | asset_url}}"
        alt="Black Friday 2021" class="block w-full h-full object-cover lazyload mb-18">
    </picture>
    <div class="{{titleBoxClass}} block  mt-14">
      <h3 class="{{titleSize}} text-center ">
        Our biggest discount is here.
      </h3>
      <p class="mt-10"></p>
    </div>
    <div class="text-center grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 p-4 sm:gap-6  auto-rows-fr">
      {% assign productList = 'magez-case-for-ipad-pro' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
      <!-- air-case-for-iphone-12,magez-case-for-iphone-12, -->
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        <div
          class="grid-item w-full h-full flex flex-col items-center sm:justify-between py-10  px-4 sm:px-6 lg:px-7 xl:px-10">
          <div class="images-container  xl:w-5/6 mx-auto mb-7">
            <img src="{{'card-air-i12.png' | asset_url}}" data-src="{{'card-air-i12.png.png' | asset_url}}"
              alt="Black Friday 2021" class="block max-w-full mx-auto">
          </div>
          <h3 class="text-base font-bold mb-4 ">
            Air Case for iPhone 12 mini
          </h3>

          <p class="text-base text-gray-400 mb-6{% if between_tag %} lg:mb-0{% endif %}">
            <span class="line-through sm:mr-2">
              $59.99
            </span>
            <span class="font-bold text-white">
              $50.99
            </span>
          </p>
          <div class="flex flex-row  justify-center sm:justify-around">
            <div class="text-left">
              {% render 'link-button-bg',link_url: "/products/air-case-for-iphone-12?variant=32107623579718", link_title: 'Shop Now', space_tight: true,target_blank:true %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        <div
          class="grid-item w-full h-full flex flex-col items-center sm:justify-between py-10  px-4 sm:px-6 lg:px-7 xl:px-10">
          <div class="images-container w-11/12 xl:w-5/6 mx-auto mb-7 lg:mb-0">
            <div class="images-toggle  active" color="black-grey-twill">
              <img src="{{'card-magez-i12-mini-black-grey-twill.png' | asset_url}}"
                alt="MagEZ Case 2 for iPhone 13 mini/13/13 Pro/13 Pro Max" class="block max-w-full mx-auto">
            </div>
            <div class="images-toggle " color="black-blue-twill">
              <img src="{{'card-magez-i12-mini-black-blue-twill.png' | asset_url}}"
                alt="MagEZ Case 2 for iPhone 13 mini/13/13 Pro/13 Pro Max" class="block max-w-full mx-auto">
            </div>
          </div>
          <div
            class="toggles-container flex justify-center -mx-1 my-6 swiper-container-initialized swiper-container-horizontal">
            <div data-color="black-grey-twill"
              class="toggle-item active rounded-full w-5 mx-1 p-0.5 border border-gray-850 border-solid box-content cursor-pointer">
              <img src="{{'black-grey-twill.svg' | asset_url}}" alt="Black/Grey (Twill)"
                class="block width-full rounded-full">
            </div>
            <div data-color="black-blue-twill"
              class="toggle-item rounded-full w-5 mx-1 p-0.5 border border-gray-850 border-solid box-content cursor-pointer">
              <img src="{{'black-blue-twill.svg'  | asset_url}}" alt="Black/Blue (Twill)"
                class="block width-full rounded-full">
            </div>
          </div>
          <h3 class="text-base font-bold mb-4 ">
            MagEZ Case for iPhone 12 mini
          </h3>

          <p class="text-base text-gray-400 mb-6{% if between_tag %} lg:mb-0{% endif %}">
            <span class="line-through sm:mr-2">
              $49.99
            </span>
            <span class="font-bold text-white">
              $42.49
            </span>
          </p>
          <div class="flex flex-row  justify-center sm:justify-around">
            <div class="text-left">
              {% render 'link-button-bg',link_url: "/products/magez-case-for-iphone-12?variant=32107624038470", link_title: 'Shop Now', space_tight: true,target_blank:true %}
            </div>
          </div>
        </div>
      </div>
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        <div
          class="grid-item w-full h-full flex flex-col items-center sm:justify-between py-10  px-4 sm:px-6 lg:px-7 xl:px-10">
          <div class="images-container  xl:w-5/6 mx-auto mb-7">
            <img src="{{'card-magez-pro2-i12-mini.png' | asset_url}}" data-src="{{'card-magez-pro2-i12-mini.png' | asset_url}}"
              alt="Black Friday 2021" class="block max-w-full mx-auto">
          </div>
          <h3 class="text-base font-bold mb-4 ">
            MagEZ Case Pro 2 For iPhone 12 mini
          </h3>

          <p class="text-base text-gray-400 mb-6{% if between_tag %} lg:mb-0{% endif %}">
            <span class="line-through sm:mr-2">
              $49.99
            </span>
            <span class="font-bold text-white">
              $42.49
            </span>
          </p>
          <div class="flex flex-row  justify-center sm:justify-around">
            <div class="text-left">
              {% render 'link-button-bg',link_url: "/products/magez-case-pro2-for-iphone-12?variant=32263021297734", link_title: 'Shop Now', space_tight: true,target_blank:true %}
            </div>
          </div>
        </div>
      </div>
      {% assign productList = 'c-to-c-charging-cable' | split: ',' %}
      {% for name in productList %}
      {% assign product = all_products[name] %}
      {% assign suffix = name | remove: 'magez-' | remove: 'air-' | remove: 'case-for-' | append: '.jpg' %}
      <div class="w-full sm:h-full border-t border-gray-850 sm:border-none bg-none sm:bg-gray-850">
        {% render 'grid-product-item-cart', product: product, link_buy_now: true,between_tag: true,link_product_no:true,desc_no:true %}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="modal-mask opacity-0"></div>
<div id="modal-video" class="pt-modal-container">
  <div class="modal-background">
    <div class="relative bg-black border-white border-8" style="width:400px; height:600px">
      <button class="pt-modal-close absolute" type="button">
        <span class="icon icon-x"></span>
      </button>
      <div id="card1" class="mx-auto text-center text-white px-auto py-16 flex flex-col items-center">
        <p class="text-sm sm:text-base">
          Want to know what you’ve won?
        </p>
        <p class="{{titleDecoMy}}"></p>
        <h3 class="{{titleSize}}">
          Scratch it.
        </h3>
        <p class="{{titleDecoMy}}"></p>
        <div id="gua1" class="relative" style="width:300px;height:160px;margin:0 auto;">
          <img id="gua1_img" src="" class="w-full" />
          <img id="redux" class="absolute left-0 top-0" src="http:{{ 'black-friday-2021-gua-mask.png' | asset_url }}" />
          <!--           <canvas id="front" style="position:absolute;no-repeat" /> -->
        </div>
      </div>
      <div id="card2" class="mx-auto text-center text-white px-auto py-16 flex flex-col items-center hidden">
        <h3 class="{{titleSize}}">
          Congratulations!
        </h3>
        <p class="{{titleDecoMy}}"></p>
        <p class="text-sm sm:text-base">
          You’ve won a <span id="discount">15</span>% off coupon.
        </p>
        <p class="{{titleDecoMy}}"></p>
        <div class="relative" style="width:300px;height:160px;margin:0 auto;">
          <img id="gua2_img" src="http:{{ 'black-friday-2021-gua-6.png' | asset_url }}" style="" class="w-full" />
        </div>

        <p class="{{titleDecoMy}}"></p>
        <div class="flex items-stretch justify-center">
          <div class="w-40 text-sm sm:text-base py-0.5 border mr-1 font-semibold">
            CODE: <span id="code"></span>
          </div>
          <div class="cursor-pointer flex items-center px-2 text-sm bg-white text-black font-bold" id="copy">COPY</div>
        </div>
        <p class="opacity-0 text-sm mt-2 text-gray-400" id="copy-mark">Copied successfully!</p>
        <p class="text-sm sm:text-base">
          Don’t forget to use it on your purchase on November 24-30.
        </p>
        <p class="text-sm sm:text-base text-cyan">
          *The coupon can be used once only.
        </p>
        <!-- <div class="share-btn  flex flex-row justify-center mt-4 ">
          <div data-target="#modal-video" class="mr-8 cursor-pointer twitter">
            {{ 'page-black-friday-2021-twitter-share.png' | asset_url | img_tag: 'media-icon-twitter' }}
          </div>
          <div data-target="#modal-video" class="mr-8 cursor-pointer facebook">
            {{ 'page-black-friday-2021-facebook-share.png' | asset_url | img_tag: 'media-icon-facebook' }}
          </div>
          <div data-target="#modal-video" class="mr-8 cursor-pointer email">
            {{ 'page-black-friday-2021-email-share.png' | asset_url | img_tag: 'media-icon-email' }}
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<style>
  .menu .active {
    background-color: #fff;
    color: #000;
  }

  .bgWall {
    background-color: rgb(0, 0, 0, 0.8);
    /* background-image:url({{'page-black-friday-2021-bg.png' | asset_url }}); */
    /* background-attachment: fixed; */
    /* background-repeat: no-repeat;
    background-size: 100%;
    -moz-background-size: 100%;
    -webkit-background-size: 100%; */
  }

  @media screen and (max-width: 414px) {
    .pt-modal-close {
      right: -8px !important;
    }
  }
</style>

<!-- 导航栏移动 -->
<script type="text/javascript">
  $(function () {
    let nav = $(".nav-bar"); //得到导航对象  
    let win = $(window); //得到窗口对象  
    let sc = $(document); //得到document文档对象。  

    win.scroll(function () {
      if (sc.scrollTop() >= ($(".section0")[0].clientHeight)) {
        // nav.addClass("active");
        nav.addClass("top-0");
        nav.addClass("fixed");
        nav.addClass("z-50");
        nav.addClass("w-full");
        nav.addClass("bg-black");
        nav.addClass("p-4");

        // nav.removeClass("t-18");
      } else {
        nav.removeClass("top-0");
        nav.removeClass("fixed");
        nav.removeClass("z-50");
        nav.removeClass("w-full");
        nav.removeClass("bg-black");
        nav.removeClass("p-4");
        // nav.removeClass("active");
      }
    })
  })
</script>

<script>
  $(function () {
    $('.menu div').click(function () {
      // console.log('11111');
      $(this).siblings('div').removeClass('active')
      $(this).addClass('active');
    })
  })
</script>

<script>
  //锚点滚动
  $('#link1').click(function () {
    $('html,body').animate({
      scrollTop: $('#part1').offset().top
    }, 800);
  });
  $('#link2').click(function () {
    $('html,body').animate({
      scrollTop: $('#part2').offset().top
    }, 800);
  });
  $('#link3').click(function () {
    $('html,body').animate({
      scrollTop: $('#part3').offset().top
    }, 800);
  });
  $('#link4').click(function () {
    $('html,body').animate({
      scrollTop: $('#part4').offset().top
    }, 800);
  });
  $('#link5').click(function () {
    $('html,body').animate({
      scrollTop: $('#part5').offset().top
    }, 800);
  });
  $('#link6').click(function () {
    $('html,body').animate({
      scrollTop: $('#part6').offset().top
    }, 800);
  });
  $('#link7').click(function () {
    $('html,body').animate({
      scrollTop: $('#part7').offset().top
    }, 800);
  });
</script>

<!-- 刮刮乐JS -->
{{'jquery.eraser.js' | asset_url | script_tag }}
{%- comment -%}分享的代码{%- endcomment -%}
<script>
  let percentage;

  function GetUrlParam() {
    var url = document.location.toString();
    if (url.indexOf("global") != -1) {
      return 'as';
    } else if (url.indexOf("eu") != -1) {
      return 'eu';
    } else {
      return 'us';
    }
  }

  // 生成刮刮卡
  function renderCard(discountPer) {
    let imgSrc="";
    // 设置随机抽奖
    if(discountPer){
      percentage = discountPer;
    }else{
      let flag = Math.floor(Math.random() * 1000);
      if (flag <= 50) {
        percentage = 0.05
      } else if (flag <= 190) {
        percentage = 0.08;
      } else if (flag <= 990) {
        percentage = 0.1;
      } else{
        percentage = 0.15;
      }
    }

    const percentageText = parseInt(percentage * 100);
    $("#discount")[0].innerText = percentageText;

    if (percentageText == 5) {
      imgSrc = "http:{{ 'black-friday-2021-gua-5.jpg' | asset_url }}";
    } else if (percentageText == 8) {
      imgSrc = "http:{{ 'black-friday-2021-gua-8.jpg' | asset_url }}";
    } else if (percentageText == 10) {
      imgSrc = "http:{{ 'black-friday-2021-gua-10.jpg' | asset_url }}";
    } else if (percentageText == 15){
      imgSrc = "http:{{ 'black-friday-2021-gua-15.jpg' | asset_url }}";
    }
    
    $("#gua1_img")[0].src = imgSrc
    $("#gua2_img")[0].src = imgSrc

    //这个适用手机端，等图片加载完再显示，因为有可能会出现第一次加载图片没有加载完就不会出现canvas
    if(discountPer){
      $("#card1").fadeOut(0);
      $("#card2").fadeIn(0);
    }else{
      $('#redux').eraser({
        size: 30, //设置橡皮擦大小
        completeRatio: .6, //设置擦除面积比例
        completeFunction: function(){
          $("#redux").fadeOut(1000);
          $("#card1").fadeOut(0);
          $("#card2").fadeIn(0);
        } //大于擦除面积比例触发函数
      });
    }

  }
  // 随机码生成函数
  function generateRandomCode(len, radix) {
    var chars =
      "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz".split(
        ""
      );
    var uuid = [],
      i;
    radix = radix || chars.length;

    if (len) {
      // Compact form
      for (i = 0; i < len; i++)
        uuid[i] = chars[0 | (Math.random() * radix)];
    } else {
      // rfc4122, version 4 form
      var r;

      // rfc4122 requires these characters
      uuid[8] = uuid[13] = uuid[18] = uuid[23] = "-";
      uuid[14] = "4";

      // Fill in random data. At i==19 set the high bits of clock sequence as
      // per rfc4122, sec. 4.1.5
      for (i = 0; i < 36; i++) {
        if (!uuid[i]) {
          r = 0 | (Math.random() * 16);
          uuid[i] = chars[i == 19 ? (r & 0x3) | 0x8 : r];
        }
      }
    }

    return uuid.join("");
  }
  
  $(document).ready(function () {
    console.log(window.localStorage.getItem('BFCodeToday'));
    if(window.localStorage.getItem('usediPitakaCodeToday')){
      window.localStorage.removeItem('usediPitakaCodeToday');
    }
    if(window.localStorage.getItem('BFCode')){
      window.localStorage.removeItem('BFCode');
    }
    // 如果没刮过卡
    if (!window.localStorage.getItem('BFCodeToday')) {
      var randomCode = generateRandomCode(6, 62);
      $("#code")[0].innerText = randomCode;
      renderCard();
      // 存储code
      $.ajax({
        type: "post",
        url: "https://ref.ipitaka.com/api/black-friday/coupon/",
        data: {
          percentage: percentage,
          region: GetUrlParam() || "",
          coupon: randomCode || "",
        },
        dataType: "json",
        crossDomain: true,
        success: function (data) {
          // console.log(data);
          if (data.errcode === 0) {
            const BFCodeJSON = {
              code:randomCode,
              discountPer:percentage
            }
            window.localStorage.setItem('BFCodeToday', JSON.stringify(BFCodeJSON));
          }
        },
        error: function (error) {
          console.log(error);
        },
      });
    }else{
      const discountParams = JSON.parse(window.localStorage.getItem('BFCodeToday'));
      $("#code")[0].innerText = discountParams.code;
      renderCard(discountParams.discountPer);
    }
    $(".modal-mask").show();
    $("#modal-video").addClass('open');
    $(".pt-modal-close").click(function (e) {
      e.stopPropagation();
      $('#modal-video').removeClass('open');
      $(".modal-mask").hide();
    })
    //显示分享内容
    // $(".twitter").click(function () {
    //   // 请求分享记录
    //   window.open(encodeURI(
    //     `https://twitter.com/intent/tweet?url=https://www.ipitaka.com/pages/balck-friday-2021&text=Looking for holiday gifts for yourself or your loved ones? PITAKA Black Friday sale is up to 40% off. Dont miss out! `,
    //     `_blank`,
    //     `width=600, height=450, toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, top=100,left=350`
    //   ))
    // });

    // $(".facebook").click(function () {
    //   // 请求分享记录
    //   window.open(
    //     `http://www.facebook.com/sharer.php?kid_directed_site=0&u=https://www.ipitaka.com/pages/balck-friday-2021&text=Looking for holiday gifts for yourself or your loved ones? PITAKA Black Friday sale is up to 40% off. Don't miss out!`,
    //     `_blank`,
    //     `width=600, height=450, toolbar=yes, location=yes, directories=no, status=no, menubar=yes, scrollbars=yes, resizable=no, copyhistory=yes, top=100,left=350`
    //   )

    // });

    // $(".email").click(function () {
    //   // 请求分享记录 
    //   let twitter_text =
    //     "mailto:youremail@mail.com?subject=" +
    //     "PITAKA's Biggest Sale of the Year Has Landed" +
    //     "&body=" +
    //     'Want to save some money this holiday season? PITAKA is doing the biggest sale of the year, up to 40% off. Check it out!' +
    //     "\n" +
    //     'https://www.ipitaka.com/pages/black-friday-2021'
    //   window.open(twitter_text);
    // });
  });
</script>

<script>
  $(function () {
    $("#copy").click(function () {
      var con = $('#code').text();
      var text = con;

      var input = document.createElement("input");
      input.setAttribute("id", "copyInput");

      input.setAttribute("value", text);

      document.getElementsByTagName("body")[0].appendChild(input);

      document.getElementById("copyInput").select();

      document.execCommand("copy");

      document.getElementById("copyInput").remove();

      $("#copy-mark").animate({
        opacity: 1
      }, 500, function () {});
      setTimeout(() => {
        $("#copy-mark").animate({
          opacity: 0
        }, 500, function () {});
      }, 2000);
    });
  })
</script>