{% assign wClass = 'w-full laptop:w-11/12 lg:w-10/12 max-w-screen-xl mx-auto' %}
{% assign wClass_9 = 'w-full laptop:w-11/12 lg:w-10/12 xl:w-9/12 max-w-screen-xl mx-auto' %}
{{'swiper-bundle.min.css' | asset_url| stylesheet_tag }}

<div class="swiper-container hero-slider w-full h-screen">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 laptop:pt-24 xl:pt-28 bottom-20 laptop:left-1/2 laptop:-translate-x-1/2 laptop:text-center">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case Pro <br class="block laptop:hidden">
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm laptop:mx-auto">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/collections/magez-case-pro-for-ipad-mini-6-signup" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-1.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-1-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-preload-1-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case Pro<br>
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/collections/magez-case-pro-for-ipad-mini-6-signup" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-2.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-2-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-preload-2-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case Pro<br>
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/collections/magez-case-pro-for-ipad-mini-6-signup" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Learn More
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-3.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-preload-3-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-preload-3-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass_9}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold">
            MagEZ Case Pro<br>
            for iPad mini 6
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            Work & Play Like A Pro with Snap n' Charge.
          </p>
          <a href="/products/magez-case-pro-for-ipad-mini-6" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-casepro-ipad-mini6.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-casepro-ipad-mini6-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-casepro-ipad-mini6-s.webp' | asset_url}}" alt="MagEZ Case Pro for iPad mini 6"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    {%- comment -%}
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold ">
            MagEZ Charging Stand<br>
            For Tablets
          </h1>
          <h3 class="swiper-no-swiping text-xl sm:text-2xl fon-normal">Work Like A Pro</h3>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-4 max-w-sm">
            with this magnetic iPad mini 6 charging stand.
          </p>
          <a href="/products/magez-charging-stand" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-magez-charging-stand.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-magez-charging-stand-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-magez-charging-stand-s.webp' | asset_url}}" alt="MagEZ Charging Stand for Tablets"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-5/6 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-xl sm:text-2xl xl:text-3xl font-bold mb-5">
            Fusion&nbsp;Weaving&nbsp;MagEZ&nbsp;Case&nbsp;2<br>
            For&nbsp;Samsung&nbsp;Galaxy&nbsp;S22&nbsp;Series
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 max-w-sm">
            The MagSafe-compatible case easily styles up your new phone to the next level.
          </p>
          <div class="flex mt-6">
            <a href="/products/fusion-weaving-magez-case-2-for-samsung-galaxy-s22"
            class="inline-block hover:opacity-100">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
                Shop Now
              </button>
            </a>
            <a href="/collections/pitaka-cases-for-samsung-galaxy-s22" class="inline-block hover:opacity-100 ml-6">
              <button
                class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-transparent hover:bg-white text-cyan ring-cyan hover:ring-white ring-inset ring-2">
                Learn More
              </button>
            </a>
          </div>
          
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-fusion-weaving-magezcase2-s22.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-fusion-weaving-magezcase2-s22-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-fusion-weaving-magezcase2-s22-s.webp' | asset_url}}"
          alt="Fusion Weaving MagEZ Case 2 for Samsung Galaxy S22 Series" class="block w-full h-full object-cover">
      </picture>
    </div>
    <div class="swiper-slide">
      <div class="{{wClass}} px-6 lg:px-0 h-full absolute transform left-1/2 -translate-x-1/2">
        <div class="absolute transform w-4/5 xl:w-2/5 bottom-20 laptop:top-1/2 laptop:-translate-y-1/2">
          <h1 class="swiper-no-swiping text-2xl sm:text-3xl mb-5 font-bold ">
            Air Case for<br>
            Samsung Galaxy S22 Series
          </h1>
          <p class="swiper-no-swiping text-sm sm:text-base text-gray-400 mb-4 max-w-sm">
            The minimalist case offers grip and style that allows you to feel the curves and lines of your phone like
            it's naked.
          </p>
          <a href="/products/air-case-for-samsung-galaxy-s22" class="inline-block hover:opacity-100 mt-6">
            <button
              class="text-sm sm:text-base rounded-sm px-4 py-2 xl:px-5 xl:py-2.5 font-bold transform transition duration-300 ease-in-out bg-cyan hover:bg-white hover:text-black">
              Shop Now
            </button>
          </a>
        </div>
      </div>
      <picture>
        <source srcset="{{'index-slider-aircase-s22.webp' | asset_url}}" media="(min-width: 1024px)">
        <source srcset="{{'index-slider-aircase-s22-m.webp' | asset_url}}" media="(min-width: 768px)">
        <img srcset="{{'index-slider-aircase-s22-s.webp' | asset_url}}" alt="Air Case for Samsung Galaxy S22 Series"
          class="block w-full h-full object-cover">
      </picture>
    </div>
    {%- endcomment -%}
  </div>
  <div class="swiper-pagination px-10 md:px-16 lg:px-10 flex justify-end md:justify-center items-end"></div>

  <div class="swiper-button-prev swiper-button-white"></div>
  <div class="swiper-button-next swiper-button-white"></div>
</div>

<style>
  .hero-slider {
    --swiper-navigation-size: 30px;
  }

  .hero-slider .swiper-button-prev {
    left: 32px;
    display: none;
  }

  .hero-slider .swiper-button-next {
    right: 32px;
    display: none;
  }

  .hero-slider:hover .swiper-button-prev,
  .hero-slider:hover .swiper-button-next {
    display: block;
  }

  .swiper-container-horizontal.hero-slider>.swiper-pagination-bullets {
    bottom: 5rem;
    margin: 0 -0.5rem;
  }

  .hero-slider .swiper-custom-bullet {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 4px;
    background: #a9a9a9;
  }

  .hero-slider .swiper-custom-bullet:first-child {
    margin-left: 0;
  }

  .hero-slider .swiper-custom-bullet:last-child {
    margin-right: 0;
  }

  .hero-slider .swiper-custom-bullet.swiper-pagination-bullet-active {
    /* width: 18px;
      height: 18px;
      background: url({{'triggle_pixel.svg' | asset_url}}) no-repeat;
      transform: rotate(90deg);
      background-position: right; */
    background: #fff;
  }

  @media screen and (min-width:768px) {
    .hero-slider .swiper-custom-bullet {
      width: 12px;
      height: 12px;
    }
  }

  @media screen and (min-width:1024px) {
    .swiper-container-horizontal.hero-slider>.swiper-pagination-bullets {
      bottom: 2rem;
    }

    .hero-slider .bottom-20 {
      bottom: unset;
    }

    .hero-slider .swiper-button-prev {
      left: 64px;
    }

    .hero-slider .swiper-button-next {
      right: 64px;
    }
  }

  @media screen and (min-width:1280px) {
    .hero-slider {
      --swiper-navigation-size: 48px;
    }
  }
</style>

{{'swiper-bundle.min.js' | asset_url | script_tag }}

<script>
  var autoplay_options = {
    delay: 6000,
    stopOnLastSlide: false,
    disableOnInteraction: true,
  }
  var autoplay = window.innerWidth > 1024 ? autoplay_options : true;
  var swiper_main = new Swiper('.hero-slider', {
    autoplay: autoplay,
    observer: true,
    loop: true,
    observeParents: true,
    pagination: {
      el: '.swiper-pagination',
      clickable: true,
      bulletClass: 'swiper-custom-bullet',
      renderBullet: function (index, className) {
        return '<span class="' + className + '"></span>';
      }
    },
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },
    // on: {
    // transitionStart: function(){
    // if(this.realIndex != 0){
    // this.autoplay.start();
    // }else{
    // this.autoplay.stop();
    // }
    // }
    // }
  });

  $(".hero-slider").hover(
    function () {
      swiper_main.autoplay.stop();
    },
    function () {
      swiper_main.autoplay.start();
    }
  );

  // var swiper_l = new Swiper("#swiper_sub_l", {
  // autoplay: {
  // delay: 4000,
  // stopOnLastSlide: false,
  // disableOnInteraction: true,
  // },
  // effect: 'fade',
  // observer: true,
  // observeParents: true,
  // roundLengths: true,
  // fadeEffect: {
  // crossFade: true,
  // }
  // });
  // setTimeout(() => {
  // var swiper_r = new Swiper("#swiper_sub_r", {
  // autoplay: {
  // delay: 4000,
  // stopOnLastSlide: false,
  // disableOnInteraction: true,
  // },
  // effect: 'fade',
  // observer: true,
  // observeParents: true,
  // roundLengths: true,
  // fadeEffect: {
  // crossFade: true,
  // }
  // });
  // }, 2000)
</script>