<div class="lg:w-9/12 md:w-10/12 sm:w-11/12 m-auto">
  <div class="grid gap-4 lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-1">
    <div class="lg:col-span-3 md:col-span-3 sm:col-span-8 mt-16 pr-8 align-middle">
      <h3 class="text-2xl py-6">
        What is So Special about 600D Aramid Fiber?
      </h3>
      <p class="py-4 text-base">
        PITAKA’s signature 600D aramid fiber is specially sourced and only used for premium products. 600D is extremely
        rare as it has a fine weave and is challenging to produce, making the products that use it even more unique.
      </p>
    </div>
    <div class="lg:col-span-5 md:col-span-5 sm:col-span-8 p-16">
      <picture>
        <source media="(min-width: 1280px)" srcset="{{ '600d-hero-p.jpg' | asset_url}}">
        <source media="(min-width: 768px)" srcset="{{ '600d-hero-t.jpg' | asset_url}}">
        <img alt="What is 600D Aramid Fiber" srcset="{{ '600d-hero-m.jpg' | asset_url}}" class="wid100">
      </picture>
    </div>
  </div>



  <div class="grid gap-4 lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-1 my-8">
    <div class="lg:col-span-4 md:col-span-4 sm:col-span-8">
      {{ '600d-2-material-left-p.jpg' | asset_url | img_tag: "" }}
    </div>
    <div class="lg:col-span-4 md:col-span-4 sm:col-span-8 relative">
      <h3 class="text-2xl py-6 lg:pl-16 md:pl-10">
        Why do we use 600D?
      </h3>
      <p class="py-4 text-base lg:pl-16 md:pl-10">
        600D aramid fiber is a new high-tech fiber that is around five times stronger than steel but is approximately
        one-fifth of the weight.
        Since the weave of 600D is more delicate, the results are even more impressive, resulting in a lighter and
        softer product.
      </p>
      {{ '600d-2-material-right-p.jpg' | asset_url | img_tag: "", "lg:absolute md:absolute bottom-0" }}
    </div>
  </div>

  <div class="grid gap-4 lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-1 my-8 bg-gray-750 pb-16">
    <div class="lg:col-span-8 md:col-span-8 sm:col-span-8 my-8">
      <h3 class="text-center text-2xl py-6">
        Complicated Craftsmanship
      </h3>
      <p class="text-base text-center py-4 px-36">
        The weaving of 600D aramid fiber requires nearly 1500 radial yarn strands and one zonal yarn strand, with a
        space of 0.83mm between each fiber harness. It’s more difficult to process 600D than 1500D aramid fiber. The
        manufacturing mold needs to be highly accurate. And techniques involved in the process of cutting, dismantling,
        cleaning, polishing, and coating are highly advanced, given the product could easily be bent, out of shape or
        pierced through by any careless handling during the process.
      </p>
    </div>
    <div class="grid col-span-8 grid-cols-5 w-full text-center">
      <div class="lg:col-span-1 md:col-span-1 sm:col-span-5">
        <div class="feature-image m-auto">{{ 'aramid-f1.png' | asset_url | img_tag: 'our products', 'm-auto img-responsive' }}</div>
        <div class="feature-text ">
          <h4 class="text-base">Weaving</h4>
          <p class="text-sm p-4">
            Nearly 1500 strands of aramid fiber (double the size of 1500D aramid fiber) are
            gathered and woven into a flexible fabric.
          </p>
        </div>
      </div>
      <div class="lg:col-span-1 md:col-span-1 sm:col-span-5">
        <div class="feature-image m-auto">{{ 'aramid-f2.png' | asset_url | img_tag: 'our products', 'm-auto img-responsive' }}</div>
        <div class="feature-text">
          <h4 class="text-base">Hardening</h4>
          <p class="text-sm p-4">
            The fabric will be carefully impregnated with epoxy resin to hold them in
            position and make sure they will not break.
          </p>
        </div>
      </div>
      <div class="lg:col-span-1 md:col-span-1 sm:col-span-5">
        <div class="feature-image m-auto">{{ 'aramid-f3.png' | asset_url | img_tag: 'our products', 'm-auto img-responsive' }}</div>
        <div class="feature-text">
          <h4 class="text-base">Forming</h4>
          <p class="text-sm p-4">
            After being cut into smaller
            pieces than that from 1500D aramid fiber, PITAKA patented integral forming technique adds flexibility to
            fabric.
          </p>
        </div>
      </div>
      <div class="lg:col-span-1 md:col-span-1 sm:col-span-5">
        <div class="feature-image m-auto">{{ 'aramid-f4.png' | asset_url | img_tag: 'our products', 'm-auto img-responsive' }}</div>
        <div class="feature-text">
          <h4 class="text-base">Cutting</h4>
          <p class="text-sm p-4">
            Multi-angled lasers then will be used with more delicate control to cut out the
            accurate openings on the soft case.
          </p>
        </div>
      </div>
      <div class="lg:col-span-1 md:col-span-1 sm:col-span-5">
        <div class="feature-image m-auto">{{ 'aramid-f5.png' | asset_url | img_tag: 'our products', 'm-auto img-responsive' }}</div>
        <div class="feature-text">
          <h4 class="text-base">Polishing</h4>
          <p class="text-sm p-4">
            We will then get all the cases precisely coated with the special paint 3
            times to make them more durable and resistant to scratches.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid gap-4 lg:grid-cols-8 md:grid-cols-8 sm:grid-cols-1 my-16">
    <div class="lg:col-span-4 md:col-span-4 sm:col-span-8">
      <picture>
        <img alt="Why PITAKA choose 600D" srcset="{{ '600d-4-why-p.png' | asset_url}}" class="wid100">
      </picture>
    </div>
    <div class="lg:col-span-4 md:col-span-4 sm:col-span-8 lg:pl-16 md:pl-10 lg:pt-16 md:pt-4">
      <h3 class="text-2xl py-6">
        Why PITAKA Choose <br class="m_hide_500">600D Aramid Fiber?
      </h3>
      <p class="text-base py-4">
        600D aramid fiber is a new high-tech fiber with great strength and modulus. It’s about 5-6 times stronger than
        steel wire but its weight is just about 1/5 of the steel wire. In addition, for a small or medium-sized product
        made from 600D aramid fiber, there are more lattices per unit of the microgroove fiber cloth, which means more
        mix of twill and plain weave. It makes the product more beautiful and more comfortable to touch. 
      </p>
      <p class="text-base py-4">
        In other words, the product of the same model made from 600D aramid fiber is lighter and softer than that from
        1500D aramid fiber.
      </p>
    </div>
  </div>
</div>