<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/">Home</a>
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/pages/inspiring-culture">Inspiring Culture</a>
  </div>
  <h1 class="py-6 px-6">The Pursuit of Perfect</h1>

  <p class="py-6 px-6"><em>Nothng is perfect, but we still chase perfection. The goal pushes us to do our best. When we can do 8, we try to do 10. Perhaps we fail, but we could do 9 when trying.</em></p>
  <div class="py-6 px-6">
    <ul>
      <li><strong>&bull; </strong> The butterfly buckle is good but we need something better, so we came up with the patented magnetic buckle design.</li>
      <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
        <div class="text-left py-6"> {{ 'pitaka-carbon-fiber-watch-band.gif' | asset_url | img_tag: "PITAKA" }}</div>
        <div class="text-left py-6"> {{ 'carbon-fiber-band2.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      </div>
      <li><strong>&bull; </strong> No one has ever made a wallet from carbon fiber. But it’s a material that lasts longer and suits our design better, so we took the challenge.</li>
      <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
        <div class="text-left py-6"> {{ 'pitaka-carbon-fiber-wallet1.jpg' | asset_url | img_tag: "PITAKA" }}</div>
        <div class="text-left py-6"> {{ 'pitaka-carbon-fiber-wallet2.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      </div>
      <li><strong>&bull; </strong> How many devices can one charger handle at most? Three? Or four? That’s not enough. Some people own more than four devices. Therefore, we designed the ultimate 6 in 1 charging station, the Air Omni.</li>
      <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
        <div class="text-left py-6"> {{ 'pitaka-omni1.jpg' | asset_url | img_tag: "PITAKA" }}</div>
        <div class="text-left py-6"> {{ 'pitaka-omni2.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      </div>
      <li><strong>&bull; </strong> How thin can a phone case be? We tried over and over again, and eventually crafted the thinnest phone case from aramid fiber. The Air Case allows you to feel your phone like it’s naked but with grip.</li>
      <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
        <div class="text-left py-6"> {{ 'pitaka-air-case1.jpg' | asset_url | img_tag: "PITAKA" }}</div>
        <div class="text-left py-6"> {{ 'pitaka-air-case2.jpg' | asset_url | img_tag: "PITAKA" }}</div>
      </div>
    </ul>
    <p class="py-6">How do you define “perfection”?</p>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6"><a href="/pages/thorough-down-to-the-last-detail">"Thorough Down to the Last Detail" >></a></div>
      <div class="text-left py-6 text-right">
        <a href="/pages/define-fashion-through-designs">Define Fashion through Designs >></a>
      </div>
    </div>
  </div>

  <div class="powr-comments" id="092eb4df_1637823826"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>
