<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat"
      href="/">Home</a>
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat"
      href="/pages/inspiring-culture">Inspiring Culture</a>
  </div>
  <h1 class="px-6 py-6">Minimalism: Less, but Better</h1>
  <h3 class="px-6 py-6">1. What is minimalism?</h3>
  <div class="py-6 px-6 grid sm:grid-cols-1">
    <p class="pb-6">We think it’s a kind of aesthetics and attitude towards life other than an art faction. In today’s
      world, many people are attracted by flashy stuffs. They just want more and want things to be grander. But people
      who embrace minimalism will appreciate things by looking at the intrinsic qualities, such as materials,
      structures, and lines of the object, which help make their life simpler.</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6">
        {{ 'tablets-stand.jpg' | asset_url | img_tag: "PITAKA" }}

      </div>
      <div class="text-left py-6">
        {{ 'wireless_juice.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>
    <p class="py-6">Does PITAKA inspire you to embrace a minimalist life?</p>
  </div>

  <h3 class="px-6 py-6">2. Charging Simplified</h3>
  <div class="text-left py-6 px-6">
    <p class="py-3">An office worker spends one-third of a day at the office, bending over a small desk that’s jammed
      with papers, tools, and cables.</p>
    <p class="pb-6">When we designed something to use at the office, we thought about improving work performance and
      making office life easier or more fun. That’s what we bore in mind when we made the MagEZ Slider.</p>

    <div class="text-left py-6"> {{ 'too-many-cables.jpg' | asset_url | img_tag: "PITAKA" }}</div>

    <p class="pt-3 pb-6">Improve work performance: Having order in your life, with fewer distractions, can keep you on
      track to live and work more efficiently.</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6">
        {{ 'a-clean-desk.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
      <div class="text-left py-6">
        {{ 'slide-your-phone-up.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>
    <p class="pt-3 pb-6">Hassle-free charging: Use your mobile as usual while the sliding MagSafe battery pack charges
      it.</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6">
        {{ 'MagEZ-Slider-PITAKA.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
      <div class="text-left py-6">
        {{ 'call-with-slider.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>
    <p class="pt-3 pb-6">Helps relieve stress: Feel bored or you are at your wits’ end? Spin the Slider and hear the
      ticking. It may help. </p>
    <div class="py-6">
      <video loop playsinline controls webkit-playsinline x5-video-player-type="h5" x5-video-player-fullscreen="true"
        data-poster="{{ 'Slider-Slide-Cover.jpg' | asset_url }}"
        x5-video-orientation="portraint" autoplay preload="none" class="width-100 block lazyload">
        <source src="{{ 'Slider-Slide.mp4' | asset_url }}" type="video/mp4" />
      </video>
    </div>
  </div>
  
  <h3 class="px-6 py-6">3. Less but Better</h3>
  <div class="text-left py-6 px-6">
    <p class="pb-6">Dieter Rams, one of the most influential industrial designers in the 20th century, summed up his
      design philosophy as “less but better.”</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6">
        {{ 'rams-great-designer.jpg' | asset_url | img_tag: "PITAKA" }}

      </div>
      <div class="text-left py-6">
        {{ 'carbon-fiber-band3.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>
    <p class="pt-6 pb-3">Rams joined Braun in 1955, then he became the chief designer in six years and remained in that
      position until he retired in 1995. The designer and his team have produced over 500 products that were regarded as
      the typical German design, understandable, useful, and unobtrusive.</p>
    <p class="py-3">That’s what our engineers strived to do with every product.</p>
    <p class="py-3">Do you own other items with a minimalistic design?</p>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left py-6"></div>
      <div class="text-left py-6 text-right">
        <a href="/pages/the-tech-behind-the-products">The Tech Behind the Products >></a>
      </div>
    </div>
  </div>
  <div class="powr-comments" id="be182cc6_1637812541"></div>
  <script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>