<div class="lg:w-7/12 md:w-9/12 sm:w-11/12 m-auto">
  <div class="breadcrumb flex mx-auto w-full my-6 px-6 flex items-center">
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/">Home</a>
    <a class="navLink block text-sm 2xl:text-base text-gray-400 hover:text-white leading-tight mr-4 pr-8 bg-right bg-no-repeat" href="/pages/inspiring-culture">Inspiring Culture</a>
  </div>
  <h1 class="px-6 py-6">“Thorough Down to the Last Detail”</h1>
  <div class="px-6 py-6">
    <p class="pt-3 pb-3">“Technology should serve humanity.”</p>

    <p class="pt-3 pb-3">We care for people who pick up our products, and we put a lot of details in the design to show our respect towards them.</p>

    <p class="pt-3 pb-6">Once, a lady contacted us for gift ideas for her husband at their wedding anniversary. Naturally, the first thing came to our mind was the MagEZ Wallet. It’s tough on the outside, built to last, with a lovely detail inside the carbon fiber shell. Have you noticed the outline of two heads facing at each other?</p>
    {{ 'card-pack-layer-design.png' | asset_url | img_tag: "PITAKA" }}

    <p class="pt-8 pb-3">Convenience is not the only thing we’re after. Having fun using the product is important too.</p>
    <p class="pt-3 pb-3">You’ve probably seen the symbolic golden statue, the spirit of ecstasy, rising from a fancy Rolls-Royce even if you don’t own the luxury car. Isn’t it interesting?</p>
    <p class="pt-3 pb-8">Well, you could have the similar experience with our Air Omni. Push the button on the side, and the Apple-certified watch module bounces up from the middle to charge your Apple Watch.</p>

    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left">
        {{ 'rr-idea.gif' | asset_url | img_tag: "PITAKA" }}
      </div>
      <div class="text-left">
        {{ 'airomni_watchy-module.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>

    <p class="py-8">And who can think that there’s a drawer in a charging station? You can have your small items stored in the Air Omni. What’s more, when you open the drawer, the light turns on automatically. Does it feel like opening a treasure box full of jewelry or a ring box with a diamond inside? Maybe it gives some ideas to people who plan to propose. Who knows?</p>

    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left">
        {{ 'pitaka-omni-design.gif' | asset_url | img_tag: "PITAKA", "heightauto" }}
      </div>
      <div class="text-left">
        {{ 'air-omni-side2.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>
    <p class="pt-8 pb-2">We show respect to great designers as well.</p>

    <p class="pt-2 pb-6">Our industrial designer Lu who made the MagEZ Stand is a big fan of Dieter Rams, a famous German industrial designer and retired academic. To pay tribute to one of Rams’ classic designs, he turned the vents on the bottom of the tablet stand into speaker-like. Of course, not everyone will notice it. But it’s important for Lu.</p>
    <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
      <div class="text-left">
        {{ 'magez-stand-2.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
      <div class="text-left">

        {{ 'magez-stand-base-2.jpg' | asset_url | img_tag: "PITAKA" }}
      </div>
    </div>

    {{ 'less-but-better.jpg' | asset_url | img_tag: "PITAKA" }}
    <p class="py-8">Are there some implicit designs you’ve found on your own stuff and you want to share with us?</p>
  </div>
  <div class="py-6 px-6 grid sm:grid-cols-1">
        <div class="grid lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1">
          <div class="text-left py-6">
            <a href="/pages/the-tech-behind-the-products">The Tech Behind the Products >></a>
          </div>
          <div class="text-left py-6 text-right">
            <a href="/pages/the-pursuit-of-perfect">The Pursuit of Perfect >></a>
          </div>
        </div>
      </div>
  <div class="powr-comments" id="4a2400dc_1637823730"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
  <style>
    .heightauto {height:auto;}
  </style>